{{> header}}

<div class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">ระบบจัดทำ/จัดสรรงบประมาณ</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 id="navBgDept" class="none-padding">รายงานแผนการใช้เงินงบประมาณแผ่นดิน (ง.4)</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <!-- button action on header -->
    <!-- 
    <div class="sort-source-wrapper">
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button class="btn btn-success goChoice"><i class="fa fa-plus-circle"> เพิ่มคำขอ</i></button>
                </li>
            </ul>
        </div>
    </div>
    -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="text-bold text-info">ระบบค้นหา</span>
                <fieldset style="border: 1px solid #cccccc; margin: 0 0 20px 0; padding: 0 0 20px 0;">
                    <div class="col-sm-12" style="margin-top: 20px;">
                        <div class="col-sm-6">
                            <label class="col-sm-4 control-label text-right">หน่วยงาน :</label>
                            <div class="col-sm-8">
                                <select id="searchFaculty" class="form-control"></select>
                            </div>
                        </div>
                        <!--<div class="col-sm-6">
                            <label class="col-sm-4 control-label text-right">หน่วยงาน :</label>
                            <div class="col-sm-8">
                                <select id="searchDepartment" class="form-control"></select>
                            </div>
                        </div>-->
                    </div>

                    <div class="col-sm-12" style="margin-top: 20px;">
                        <div class="col-sm-6">
                            <label class="col-sm-4 control-label text-right">แผนงาน :</label>
                            <div class="col-sm-8">
                                <select id="searchPlan" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-4 control-label text-right">กองทุน :</label>
                            <div class="col-sm-8">
                                <select id="searchFund" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div id="divHome" class="col-md-12">
                <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                    <thead>
                        <tr>
                            <th class="text-center col-md-1">ลำดับ</th>
                            <th class="text-center col-md-3">หน่วยงาน</th>
                            <!--<th class="text-center col-md-4">หน่วยงาน</th>-->
                            <th class="text-center col-md-3">แผนงาน</th>
                            <th class="text-center col-md-3">กองทุน</th>
                            <th class="text-center col-md-2">เครื่องมือ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6" class="text-center">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{{> footer}}


<script type="text/javascript">
    var listArr = {};
    var callCount = 0
    $(function () {
        getAllScheme();
    });

    function getAllScheme() {
        var dataSet = [];

        //var formGroup = {};
        var periodGroup = {};
        var facultyGroup = {};
        var planGroup = {}
        var fundGroup = {};

        var datas = callAjax("{{_context_path}}/api/budget/progress/getAllBudgetScheme", "post", {}, "json");
        var html = '';
        var search = '';
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["result"], function (key, value) {
                dataSet.push(value);

                listArr[value["bghId"]] = value;
                //formGroup['ง.'+value["formId"]] = 'ง.'+value["formId"];
                facultyGroup[value["facultyName"]] = value["facultyName"];
                periodGroup[value["BudgetPeriodId"]] = value["BudgetPeriodId"];
                planGroup[value["PlanName"]] = value["PlanName"];
                fundGroup[value["fundgroupName"]] = value["fundgroupName"];
            });

            var t = $("#table").DataTable({
                "destroy": true,
                "data": dataSet,
                "order": [0, 'asc'],
                "iDisplayLength": 50,
                "columnDefs": [
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false,
                        "data": "facultyId",
                        "sClass": "text-center col-md-1"
                    },
                    {
                        "targets": 1,
                        "data": "facultyName",
                        "sClass": "col-md-3"
                    },
                    {
                        "targets": 2,
                        "data": "PlanName",
                        "sClass": "col-md-3"
                    },
                    {
                        "targets": 3,
                        "data": "fundgroupName",
                        "sClass": "col-md-3"
                    },
                    {
                        "targets": 4,
                        "data": "bghId",
                        "sClass": "text-center col-md-2",
                        "render": function (data, key, full) {
                            return '<button class="btn btn-sm btn-warning edit" title="แก้ไข" data-year="' + full["BudgetPeriodId"] + '" data-plan="' + full["PlanId"] + '" data-fundgroup="' + full["fundgroupId"] + '" data-faculty="' + full["facultyId"] + '"><i class="fa fa-pencil"></i> แก้ไข</button>&nbsp;&nbsp;'
                            //+ '<button class="btn btn-sm btn-default delete" title="ลบ" data-bgh="' + data + '"><i class="fa fa-trash"></i> ลบ</button>'

                        }
                    }
                ]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            search = '<option value="" selected="selected">ทั้งหมด</option>';
            $.each(facultyGroup, function (key, value) {
                search += '<option value="' + value + '">' + value + '</option>';
            });
            $("#searchFaculty").html(search).select2().change(function () {
                t.columns(1).search(this.value).draw();
            });

            search = '<option value="" selected="selected">ทั้งหมด</option>';
            $.each(planGroup, function (key, value) {
                search += '<option value="' + value + '">' + value + '</option>';
            });
            $("#searchPlan").html(search).select2().change(function () {
                t.columns(2).search(this.value).draw();
            });

            search = '<option value="" selected="selected">ทั้งหมด</option>';
            $.each(fundGroup, function (key, value) {
                search += '<option value="' + value + '">' + value + '</option>';
            });
            $("#searchFund").html(search).select2().change(function () {
                t.columns(3).search(this.value).draw();
            });

            $("#table").on("click", "button.edit", function () {
                //var id = $(this).attr("data-bgh");
                var id = $(this).attr("facultyId");
                var data = listArr[id];

                //var formId = data["formId"];
                //var bgPeriodId = $(this).attr("data-year");
                var planId = $(this).attr("data-plan");
                var fundgroupId = $(this).attr("data-fundgroup");
                var facultyId = $(this).attr("data-faculty");
                /*
                 var bgPeriodId = data["BudgetPeriodId"];
                 var planId = data["PlanId"];
                 var fundgroupId = data["fundgroupId"];
                 var facultyId = data["facultyId"];
                 */
                window.location = "{{_context_path}}/api/budget/view/progressBudgetPlan/" + facultyId + "/" + fundgroupId + "/" + planId;
            });

            /*
             $("#table").on("click", "button.delete", function () {
             var id = $(this).attr("data-bgh");
             var data = listArr[id];
             
             var formId = data["formId"];
             var l3dPlanId = data["l3dPlanId"];
             var fundgroupId = data["fundgroupId"];
             var deptId = data["deptId"];
             window.location = "{{_context_path}}/api/budget/view/draft/" + formId + "/" + l3dPlanId + "/" + fundgroupId + "/" + deptId;
             });
             */
        }
    }

    function listsObject() {
        if (callCount == 0) {
            setTimeout(function () {
                listsForm();
                listsPlan3D();
                listsFaculty();
            }, 10);

            callCount = 1;
        }
    }

    function listsForm() {
        var html = '<option value="" selected="selected">เลือก</option>';
        var datas = callAjax("{{_context_path}}/api/budget/draft/listForm", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                html += '<option value="' + value["id"] + '">' + value["name"] + '</option>'

            });
        }

        $("#formId").html(html).select2();
    }

    function listsPlan3D() {
        var html = '<option value="" selected="selected">เลือก</option>';
        var datas = callAjax("{{_context_path}}/api/budget/draft/list3DPlan", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                html += '<option value="' + value["id"] + '">' + value["name"] + '</option>'

            });
        }

        $("#l3dPlanId").html(html).select2().change(function () {
            listFundgroupWithPlan($(this).val());
        }).trigger("change");
    }

    function listFundgroupWithPlan(l3dPlanId) {
        var html = '<option value="" selected="selected">เลือก</option>';

        if (l3dPlanId != "") {
            var param = {
                l3dPlanId: l3dPlanId
            };
            var datas = callAjax("{{_context_path}}/api/budget/draft/listFundgroupWithPlan", "post", param, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                $.each(datas["lists"], function (key, value) {
                    html += '<option value="' + value["id"] + '">' + value["name"] + '</option>';
                });
            }
        }

        $("#fundgroupId").html(html).select2();
    }


    function listsFaculty() {
        var html = '<option value="" selected="selected">เลือก</option>';
        var datas = callAjax("{{_context_path}}/api/budget/draft/listFaculty", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                html += '<option value="' + value["id"] + '">' + value["name"] + '</option>';
            });
        }

        $("#facultyId").html(html).select2().change(function () {
            listsDepartment($(this).val());
        }).trigger("change");
    }

    function listsDepartment(facultyId) {
        var html = '<option value="" selected="selected">เลือก</option>';

        if (facultyId != "") {
            var datas = callAjax("{{_context_path}}/api/budget/draft/listDepartment", "post", {facultyId: facultyId}, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                $.each(datas["lists"], function (key, value) {
                    html += '<option value="' + value["id"] + '">' + value["name"] + '</option>'
                });
            }
        }

        $("#deptId").html(html).select2();
    }

</script>