{{>header}}

<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">ระบบจัดทำ/จัดสรรงบประมาณ</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">จัดทำคำชี้แจงงบประมาณเงินรายได้ ปี {{year}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="container">
        <div class="row">
            <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                <thead>
                <tr>
                    <th class="text-center col-lg-1">ลำดับ</th>
                    <th class="text-center col-lg-4">รายละเอียดงบประมาณ</th>
                    <th class="text-center col-lg-5">หน่วยงานที่รับผิดชอบ</th>
                    <th class="text-center col-lg-2">เครื่องมือ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="4" class="text-center">-</td>
                </tr>
                </tbody>
            </table>
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->

{{> footer}}