{{> header}}

<div class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">ระบบจัดทำ/จัดสรรงบประมาณ</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h1 class="none-padding">จัดทำคำของบประมาณแผ่นดิน ง.146</h1>
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-default" onclick="goBack()"><i class="fa fa-angle-double-left"> ย้อนกลับ</i>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active"></li>
            </ul>
        </div>
    </div>
    <!-- end button action on header -->

    <div class="container">
        <div class="row">
            <div id="divForm" class="col-md-12">
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label text-right">ปีงบประมาณ : </label>

                        <div class="col-md-6" id="budgetYear"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="col-md-4 control-label text-right">แหล่งเงิน : </label>

                        <div class="col-md-6" id="budgetType"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label text-right">แผนงาน : </label>

                        <div class="col-md-6" id="l3dPlan"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="col-md-4 control-label text-right">กองทุน : </label>

                        <div class="col-md-6" id="fundgroup"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label text-right">หน่วยงาน/สำนักงาน : </label>

                        <div class="col-md-6" id="facName"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="col-md-4 control-label text-right">ภาควิชา : </label>

                        <div class="col-md-6" id="deptName"></div>
                    </div>
                </div>

                <section class="panel">
                    <div class="panel-body">
                        <div class="col-md-12 text-right">
                            <button class="requestBGbtn btn btn-success" type="button">ส่งข้อมูลคำของบประมาณ</button>
                        </div>
                        <div class="col-md-12 text-right">
                            <a href="#" id="expandAll"><i class="fa fa-plus-square"></i> แสดงทั้งหมด</a>&nbsp;/&nbsp;
                            <a href="#" id="collapseAll"><i class="fa fa-minus-square"></i> ซ่อนทั้งหมด</a>
                        </div>
                        <table id="table146" class="table table-bordered table-striped mb-none treetable">
                            <thead>
                            <tr>
                                <th class="text-center">ลำดับ</th>
                                <th class="text-center">ชื่อโครงการ</th>
                                <th class="text-center">งบประมาณที่ได้รับการจัดสรรปีงบประมาณปัจจุบัน</th>
                                <th class="text-center">คำของบประมาณปีงบประมาณที่ขอตั้งงบประมาณ</th>
                                <th class="text-center">คำชี้แจง</th>
                                <th class="text-center" style="vertical-align: middle;">สถานะคำขอ</th>
                                <th class="text-center" style="vertical-align: middle;min-width: 130px;">เครื่องมือ</th>
                            </tr>
                            <tr id="total">
                                <th class="text-center"></th>
                                <th class="text-center">รวมทั้งสิ้น</th>
                                <th class="text-right text-bold"></th>
                                <th class="text-right text-bold"></th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="10" class="text-center">-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <div id="panelForm" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">คำของบประมาณ : <span id="modalHead"></span></h4>
                        </div>
                        <div class="modal-body">
                            <form id="form" onsubmit="return false;">
                                <div class="form-group">
                                    <label class="col-md-12 control-label text-bold req" for="bursaryName">ชื่อโครงการ
                                        :</label>

                                    <div class="col-md-12">
                                        <input type="text" id="bursaryName" name="bursaryName"
                                               class="form-control input-sm" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label text-bold req" for="bursaryDesc">คำอธิบาย
                                        :</label>

                                    <div class="col-md-12">
                                        <textarea type="text" id="bursaryDesc" name="bursaryDesc" rows="4"
                                                  class="form-control input-sm" required> </textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label text-bold req" for="bgHistory">งบประมาณที่ได้รับการจัดสรรปีงบประมาณปัจจุบัน
                                        :</label>

                                    <div class="col-md-12">
                                        <input type="text" id="bgHistory" name="bgHistory" class="form-control input-sm"
                                               required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label text-bold req" for="bgRequest">คำของบประมาณปีงบประมาณที่ขอตั้งงบประมาณ
                                        :</label>

                                    <div class="col-md-12">
                                        <input type="text" id="bgRequest" name="bgRequest" class="form-control input-sm"
                                               required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12 control-label text-bold" for="remark">คำชี้แจง :</label>

                                    <div class="col-md-12">
                                        <textarea class="summernote noteRemark" id="remark" name="remark"></textarea>
                                    </div>
                                </div>

                                <div id="attachFileDiv" class="form-group">
                                    <label class="col-md-4 req text-bold">แนบเอกสารประกอบ :</label>

                                    <div id="fileGroup" class="col-md-8">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" id="desc" class="form-control input-sm" name="desc"
                                               placeholder="คำอธิบายประกอบไฟล์">
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div id="loadingForm" class="col-md-12 text-center"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success save"><i class="fa fa-save"></i> บันทึก
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="panelDeleteForm" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">ลบคำของบประมาณ</h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table mb-none">
                                    <tbody>
                                    <tr class="no-border">
                                        <td class="col-md-4 text-right">รายการ - ประเภทเงินอุดหนุน :</td>
                                        <td class="col-md-8 text-bold" id="bursaryNameDel"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 text-right">คำอธิบาย :</td>
                                        <td class="col-md-8 text-bold" id="bursaryDescDel"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 text-right">งบประมาณที่ได้รับการจัดสรรปีงบประมาณปัจจุบัน :
                                        </td>
                                        <td class="col-md-8 text-bold" id="bgHistoryDel"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 text-right">คำของบประมาณปีงบประมาณที่ขอตั้งงบประมาณ :</td>
                                        <td class="col-md-8 text-bold" id="bgRequestDel"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 text-right">คำชี้แจง :</td>
                                        <td class="col-md-8 text-bold" id="remarkDel"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger save"><i class="fa fa-trash"></i> ยืนยันการลบ
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panelShowComment" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">หมายเหตุ</h4>
                    </div>
                    <div class="modal-body bodyComment">
                    </div>
                </div>
            </div>
        </div>
        <!--  row  -->
    </div>
    <!--  container  -->
</div><!-- main -->

{{> footer}}

<script type="text/javascript">
    var formId = '{{formId}}';
    var l3dPlanId = '{{l3dPlanId}}';
    var fundgroupId = '{{fundgroupId}}';
    var deptId = '{{deptId}}';
    var facId;
    var typeName146Arr = [];
    var list146Arr = [];
    var sumArrbgHistory = {};
    var sumArrbgRequest = {};
    var periodId;

    $(function () {
        var param = {
            l3dPlanId: l3dPlanId,
            fundgroupId: fundgroupId,
            deptId: deptId
        };

        $('.summernote').summernote({height: 100});
        listsDetail(param);
    });

    function listsDetail(param) {
        $("#table146 tbody").html('<td colspan="15" class="text-center">Loading...</td>');

        typeName146Arr = [];
        list146Arr = [];
        sumArrbgHistory = {};
        sumArrbgRequest = {};

        setTimeout(function () {

            var dataJSON = JSON.stringify({param: param});
            var dataJSONEN = encodeURIComponent(dataJSON);
            var datas = callAjax("{{_context_path}}/api/budget/draft146/view", "post", dataJSONEN, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                var html = '';
                var pCount = 0;
                facId = datas["facId"];
                periodId = datas["budgetYear"];
                $("#budgetYear").html(datas["budgetYear"]);
                $("#budgetType").html(datas["budgetType"]);
                $("#l3dPlan").html(datas["l3dPlan"]);
                $("#fundgroup").html(datas["fundgroup"]);
                $("#facName").html(datas["facName"]);
                $("#deptName").html(datas["deptName"]);

                $.each(datas["budget"], function (key, value) {
                    html += '<tr data-tt-id="' + value["id"] + '">'
                            + '<td class="text-center"></td>'
                            + '<td class="text-bold">' + value["typeName"] + '</td>'
                            + '<td class="text-right text-bold"></td>'
                            + '<td class="text-right text-bold"></td>'
                            + '<td></td>'
                            + '<td></td>'
                            + '<td class="text-center">'
                            + '<button class="btn btn-sm btn-success addList" data-pid="' + value["id"] + '"><i class="fa fa-plus"></i> เพิ่ม</button>'
                            + '</td>'
                            + '</tr>';

                    typeName146Arr[value["id"]] = value["typeName"];
                    sumArrbgHistory[value["id"]] = {};
                    sumArrbgRequest[value["id"]] = {};

                    $.each(value["lv2"], function (key2, value2) {

                        sumArrbgHistory[value["id"]][value2["id"]] = 0;
                        sumArrbgRequest[value["id"]][value2["id"]] = 0;
                        var remark = value2["remark"].replace(/"/g, "'");

                        html += '<tr data-tt-id="list' + value2["id"] + '" data-tt-parent-id="' + value["id"] + '">'
                                + '<td class="text-center"></td>'
                                + '<td>' + value2["bursaryName"] + '<br> &nbsp;' + value2["bursaryDesc"] + '</td>'
                                + '<td class="number text-right">' + value2["bgHistory"] + '</td>'
                                + '<td class="number text-right">' + value2["bgRequest"] + '</td>'
                                + '<td class="text-center"><a href="#" data-html="true" data-toggle="tooltip" title="' + remark + '"><image src="{{_context_path}}/images/tooltips_ico.png" width="25px" height="25px"></a></td>'
                                + '<td class="text-bold text-sm">' + value2["statusDesc"] + '<br>' + isShowComment(value2["statusId"], value2["id"]) + '</td>'
                                + '<td class="text-center" style="text-align:center;">'
                                + isShowBtnGroup(value2["statusId"])
                                + '<button class="btn btn-sm btn-warning editList" data-pid="' + value["id"] + '" data-id="' + value2["id"] + '"><i class="fa fa-pencil"></i> แก้ไข</button>'
                                + '<button class="btn btn-sm btn-default deleteList"  data-pid="' + value["id"] + '" data-id="' + value2["id"] + '"><i class="fa fa-trash"></i> ลบ</button>'
                                + '<button class="btn btn-sm btn-primary proposed"  data-pid="' + value["id"] + '" data-id="' + value2["id"] + '"><i class="fa fa-file-text-o"></i> แบบเสนอโครงการ</button>'
                                + '</div>';

                        list146Arr[value2["id"]] = value2;

                        sumArrbgHistory[value["id"]][value2["id"]] += parseFloat(value2["bgHistory"]);
                        sumArrbgRequest[value["id"]][value2["id"]] += parseFloat(value2["bgRequest"]);

                    });
                });

                $("#table146 tbody").html(html);
                $('.number').number(true, 2);
                sumtotal();

                $("#table146").treetable({
                    expandable: true
                });

                // collapse all
                $("#collapseAll").unbind("click").click(function () {
                    $("#table146").treetable("collapseAll");
                });

                // expand all
                $("#expandAll").unbind("click").click(function () {
                    $("#table146").treetable("expandAll");
                });

                $('[data-toggle="tooltip"]').tooltip({
                    placement: 'top'
                });

                //add list
                $("button.addList").unbind("click").click(function () {
                    var headerId = $(this).attr("data-hid");
                    var parentId = $(this).attr("data-pid");
                    console.log(parentId);

                    $('.summernote').code('');

                    // reset form for new insert
                    $("#modalHead").empty().html(typeName146Arr[parentId]);
                    $("#loadingForm").html('');
                    $("#form").trigger('reset');

                    $("#fileGroup").html('<div id="fileNew"></div><div id="fileBak"></div>');
                    $("#fileNew").html(
                            '<input type="file" id="attachment" name="attachment"> '
                            + '<a href="javascript: void(0);" onclick="$(\'#attachment\').val(\'\');">[Reset]</a>'
                    ).show();
                    $("#fileBak").hide();
                    setDefaultValue(parentId);
                    $("#panelForm").modal("show");

                    $("button.save").unbind("click").click(function () {
                        $("#loadingForm").html('<i class="fa fa-spinner fa-spin"></i> Loading...');
                        var isValid = true;
                        $('#form input[required]').each(function () {
                            if ($(this).val() == "" && !$(this).prop("disabled"))
                                isValid = false;
                        });

                        if (isValid) {
                            var fdata = dataObject(parentId, param, null);

                            var formData = new FormData();

                            formData.append('budget', JSON.stringify(fdata["Budget"]));

                            if ($('#attachment').length) formData.append('file', $('#attachment')[0].files[0]);
                            else formData.append('file', '');

                            insertBudget(headerId, parentId, formData, param)
                        } else {
                            $("#loadingForm").html('<label class="text-danger">กรุณากรอกข้อมูลให้ครบ</label>');
                        }
                    });
                });

                actionBudget(param);
            }
        }, 100);
    }

    function sumtotal() {
        var totalbgHistory = 0;

        $.each(sumArrbgHistory, function (key, value) {

            var sum = 0;
            $.each(value, function (key2, value2) {
                $("tr[data-tt-id='" + key2 + "']").find("td").eq(2).html(checkZero(value2));
                totalbgHistory += parseFloat(value2);
                sum += parseFloat(value2);
            });
            $("tr[data-tt-id='" + key + "']").find("td").eq(2).html(checkZero(sum));
        });

        var totalbgRequest = 0;
        $.each(sumArrbgRequest, function (key, value) {
            var sum = 0;
            $.each(value, function (key2, value2) {
                $("tr[data-tt-id='" + key2 + "']").find("td").eq(3).html(checkZero(value2));
                totalbgRequest += parseFloat(value2);
                sum += parseFloat(value2);
            });
            $("tr[data-tt-id='" + key + "']").find("td").eq(3).html(checkZero(sum));
        });

        $("tr[id='total']").find("th").eq(2).html(checkZero(totalbgHistory));
        $("tr[id='total']").find("th").eq(3).html(checkZero(totalbgRequest));

    }

    function insertBudget(headerId, parentId, dataJSONEN, param) {
        setTimeout(function () {
            var datas = callAjaxFile("{{_context_path}}/api/budget/draft146/insert", "post", dataJSONEN, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                var data = datas["result"];
                if (data["result"] == true) {
                    $("#loadingForm").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');
                    var remark = $(".noteRemark").code().replace(/"/g, "'");
                    // insert node in branch
                    var input = '<tr data-tt-id="list' + data["id"] + '" data-tt-parent-id="' + parentId + '">'
                            + '<td></td>'
                            + '<td>' + $("#bursaryName").val() + '</br> &nbsp;' + $("#bursaryDesc").val() + '</td>'
                            + '<td class="number text-right">' + $("#bgHistory").val() + '</td>'
                            + '<td class="number text-right">' + $("#bgRequest").val() + '</td>'
                            + '<td class="text-center"><a href="#" data-html="true" data-toggle="tooltip" title="' + remark + '"><image src="{{_context_path}}/images/tooltips_ico.png" width="25px" height="25px"></a></td>'
                            + '<td class="text-bold text-sm">อยู่ระหว่างการดำเนินการ</td>'
                            + '<td>'
                            + '<div class="col-md-12 none-padding">'
                            + '<button class="btn btn-sm btn-warning editList" data-pid="' + parentId + '" data-id="' + data["id"] + '"><i class="fa fa-pencil"></i> แก้ไข</button>'
                            + '<button class="btn btn-sm btn-default deleteList" data-pid="' + parentId + '" data-id="' + data["id"] + '"><i class="fa fa-trash"></i> ลบ</button>'
                            + '<button class="btn btn-sm btn-primary proposed"  data-pid="' + parentId + '" data-id="' + data["id"] + '"><i class="fa fa-file-text-o"></i> แบบเสนอโครงการ</button>'
                            + '</div>'
                            + '</td>'
                            + '</tr>';

                    var node = $("#table146").treetable("node", parentId);
                    $("#table146").treetable("loadBranch", node, input);
                    $('.number').number(true, 2);
                    list146Arr[data["id"]] = {
                        id: data["id"]
                    };

                    $("#form input, #form textarea").each(function () {
                        list146Arr[data["id"]][$(this).attr("name")] = $(this).val();
                    });

                    list146Arr[data["id"]]["budgetHeadId"] = data["budgetHeadId"];
                    list146Arr[data["id"]]["remark"] = $("#remark").code();
                    list146Arr[data["id"]]["statusId"] = 1;
                    list146Arr[data["id"]]["statusDesc"] = "อยู่ระหว่างการดำเนินการ";

                    if (data["path"] !== undefined) {
                        list146Arr[data["id"]]["path"] = data["path"];
                    }

                    $('[data-toggle="tooltip"]').tooltip({
                        placement: 'top'
                    });

                    sumArrbgHistory[parentId][data["id"]] = parseFloat(list146Arr[data["id"]]["bgHistory"]);
                    sumArrbgRequest[parentId][data["id"]] = parseFloat(list146Arr[data["id"]]["bgRequest"]);

                    sumtotal();

                    $("#panelForm").modal("hide");
                    actionBudget(param);
                }
                else {
                    $("#loadingForm").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้</span>');
                }
            }
        }, 0);
    }

    function updateBudget(id, headerId, parentId, dataJSONEN, param) {
        setTimeout(function () {
            var datas = callAjaxFile("{{_context_path}}/api/budget/draft146/update", "post", dataJSONEN, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                var data = datas["result"];
                if (data["result"] == true) {
                    $("#loadingForm").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');
                    var remark = $(".noteRemark").code().replace(/"/g, "'");
                    // insert node in branch
                    var input = '<td class="text-center"></td>'
                            + '<td>' + $("#bursaryName").val() + '</br> &nbsp;' + $("#bursaryDesc").val() + '</td>'
                            + '<td class="number text-right">' + $("#bgHistory").val() + '</td>'
                            + '<td class="number text-right">' + $("#bgRequest").val() + '</td>'
                            + '<td class="text-center"><a href="#" data-html="true" data-toggle="tooltip" title="' + remark + '"><image src="{{_context_path}}/images/tooltips_ico.png" width="25px" height="25px"></a></td>'
                            + '<td class="status text-bold text-sm">' + list146Arr[id]["statusDesc"] + '<br>' + isShowComment(list146Arr[id]["statusId"], id) + '</td>'
                            + '<td>'
                            + '<div class="col-md-12 none-padding">'
                            + '<button class="btn btn-sm btn-warning editList" data-hid="' + headerId + '" data-pid="' + parentId + '" data-id="' + id + '"><i class="fa fa-pencil"></i> แก้ไข</button>'
                            + '<button class="btn btn-sm btn-default deleteList"  data-hid="' + headerId + '" data-pid="' + parentId + '" data-id="' + id + '"><i class="fa fa-trash"></i> ลบ</button>'
                            + '<button class="btn btn-sm btn-primary proposed"  data-hid="' + headerId + '" data-pid="' + parentId + '" data-id="' + id + '"><i class="fa fa-file-text-o"></i> แบบเสนอโครงการ</button>'
                            + '</div>'
                            + '</td>';


                    $('tr[data-tt-id="list' + id + '"]').html(input);
                    $('.number').number(true, 2);

                    sumArrbgHistory[parentId][id] -= parseFloat(list146Arr[id]["bgHistory"]);
                    sumArrbgRequest[parentId][id] -= parseFloat(list146Arr[id]["bgRequest"]);

                    $("#form input[type='text'],#bursaryDesc").each(function () {
                        list146Arr[id][$(this).attr("name")] = $(this).val();
                    });

                    $('[data-toggle="tooltip"]').tooltip({
                        placement: 'top'
                    });

                    list146Arr[id]["remark"] = $("#remark").code();

                    if (data.hasOwnProperty("path")) {
                        list146Arr[id]["path"] = data["path"];
                    }

                    sumArrbgHistory[parentId][id] += parseFloat(list146Arr[id]["bgHistory"]);
                    sumArrbgRequest[parentId][id] += parseFloat(list146Arr[id]["bgRequest"]);
                    sumtotal();

                    $("#panelForm").modal("hide");

                    actionBudget(param);
                }
                else {
                    $("#loadingForm").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้</span>');
                }
            }
        }, 0);
    }

    function deleteBudget(id, headerId, parentId, dataJSONEN) {

        var datas = callAjax("{{_context_path}}/api/budget/draft146/delete", "post", dataJSONEN, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            if (datas["result"] == true) {
                sumArrbgHistory[parentId][id] -= parseFloat(list146Arr[id]["bgHistory"]);
                sumArrbgRequest[parentId][id] -= parseFloat(list146Arr[id]["bgRequest"]);

                $("#table146").treetable("removeNode", "list" + id);
                var parent = $('#table146').treetable('node', parentId);
                if (parent.children.length == 0) {
                    parent.row.find('.indenter').html('');
                }
                delete list146Arr[id];

                sumtotal();

                $("#panelDeleteForm").modal("hide");

            } else {
                alert("ลบไม่สำเร็จ");
            }
        }
    }

    function actionBudget(param) {
        $("button.editList").unbind("click").click(function () {
            var headerId = $(this).attr("data-hid");
            var parentId = $(this).attr("data-pid");
            var id = $(this).attr("data-id");

            // reset form for new insert
            $("#modalHead").empty().html(typeName146Arr[parentId]);
            $("#loadingForm").html('');
            $("#form").trigger('reset');
            $("#panelForm").modal("show");

            $("#form input[type='text'],#bursaryDesc").each(function () {
                var fid = $(this).attr("id");
                $("#" + fid).val(list146Arr[id][fid]);
            });

            $('#remark').code(list146Arr[id]["remark"]);

            setDefaultValue(parentId, id);

            var fileUpload = 0;

            $("#fileGroup").html('<div id="fileNew"></div><div id="fileBak"></div>');

            if (getTag(list146Arr[id]["path"], "") != "") {
                $("#fileNew").hide();
                $("#fileBak").html(
                        '<i class="fa fa-file-o"></i>'
                        + '<a href="javascript: void(0);" style="color:blue !important;" onclick="downloadFile(\'' + list146Arr[id]["path"] + '\');"> ' + list146Arr[id]["path"] + '</a> &nbsp;&nbsp;'
                        + '<a href="javascript: void(0);" style="color:blue !important;" title="ลบ" class="ic-edit" id="deleteFile"><i class="fa fa-trash"></i></a>'
                );

                $("#deleteFile").click(function () {
                    $("#fileNew").html(
                            '<input type="file" id="attachment" name="attachment"> '
                            + '<a href="javascript: void(0);" id="fileOld" style="color: blue !important;">[ไฟล์เดิม]</a>&nbsp;&nbsp;'
                            + '<a href="javascript: void(0);" onclick="$(\'#attachment\').val(\'\');">[Reset]</a>'
                    ).show();
                    $("#fileBak").hide();
                    fileUpload = 1;

                    $("#fileOld").click(function () {
                        $("#fileNew").hide();
                        $("#fileBak").show();
                        fileUpload = 0;
                    });
                });
            }
            else {
                $("#fileNew").html(
                        '<input type="file" id="attachment" name="attachment"> '
                        + '<a href="javascript: void(0);" onclick="$(\'#attachment\').val(\'\');">[Reset]</a>'
                ).show();
                $("#fileBak").hide();
                fileUpload = 1;
            }

            $("button.save").unbind("click").click(function () {
                $("#loadingForm").html('<i class="fa fa-spinner fa-spin"></i> Loading...');
                var isValid = true;
                $('#form input[required]').each(function () {
                    if ($(this).val() == "" && !$(this).prop("disabled"))
                        isValid = false;
                });

                if (isValid) {
                    var fdata = dataObject(parentId, param, id);

                    var formData = new FormData();

                    formData.append('fileUpload', fileUpload);
                    formData.append('budget', JSON.stringify(fdata["Budget"]));

                    if ($('#attachment').length) formData.append('file', $('#attachment')[0].files[0]);
                    else formData.append('file', '');

                    updateBudget(id, headerId, parentId, formData, param)
                } else {
                    $("#loadingForm").html('<label class="text-danger">กรุณากรอกข้อมูลให้ครบ</label>');
                }
            });
        });

        // when you press to edit button
        $("button.deleteList").unbind("click").click(function () {
            var headerId = $(this).attr("data-hid");
            var parentId = $(this).attr("data-pid");
            var id = $(this).attr("data-id");

            $("#panelDeleteForm").modal("show");
            $("#panelDeleteForm").find('td').each(function () {
                if ($(this).attr("id")) {
                    var aId = $(this).attr("id");
                    var name = aId.replace('Del', '');
                    $("#" + aId).html(list146Arr[id][name]);
                }
            });
            $("button.save").unbind("click").click(function () {
                var dataJSON = JSON.stringify({budgetId: id});
                var dataJSONEN = encodeURIComponent(dataJSON);
                deleteBudget(id, headerId, parentId, dataJSONEN);
            });
        });

        $(".proposed").unbind("click").click(function () {

            var headerId = $(this).attr("data-hid");
            var parentId = $(this).attr("data-pid");
            var id = $(this).attr("data-id");
            var budgetHeadId = list146Arr[id]["budgetHeadId"];
            var objSend = list146Arr[id];
            objSend.budgetPeriodId = periodId;
            var bytes = utf8.encode(JSON.stringify(objSend));
            var paramstr = base64.encode(bytes);
            console.log(list146Arr[id]);
            var url = "{{_context_path}}/api/budget/view/proposed/999/" + budgetHeadId + "/" + facId + "/" + encodeURIComponent(paramstr) + "/true";
            window.open(url, '_blank');

        });
    }

    function checkZero(input) {
        var output = "-";
        if (input != 0) {
            output = accounting.formatNumber(parseFloat(input), 2, ",", ".");
        }

        return output;
    }

    function dataObject(parentId, param, id) {
        var data = {};

        data["budgetTypeId"] = parentId;

        $.each(param, function (key, value) {
            data[key] = value;
        });

        if (id !== null) {
            data["id"] = id;
        }

        $("#form input, #form textarea").each(function (i) {
            var fname = $(this).attr("name");
            var fvalue = $(this).val();
            data[fname] = fvalue;
        });

        data["remark"] = $("#remark").code();

        var fdata = {};
        fdata["Budget"] = data;

        return fdata;
    }

    function downloadFile(path) {

        var link = document.createElement("a");
        link.download = path;
        link.href = '{{{{_context_path}}}}/apps/budget/views/draft/attachment/';
        link.click();
    }


    $(".requestBGbtn").click(function () {

        updateStatusBG("Budget146");

    });

    function updateStatusBG(bgType) {
        //update status all
        var param = {};
        param.bgType = bgType;
        param.listBg = list146Arr;
        param.status = 2;
        var dataJSONEN = encodeURIComponent(JSON.stringify(param));
        var datas = callAjax("{{_context_path}}/api/budget/updateTrackingService/updateTracking", "post", dataJSONEN, "json");
        if (datas != undefined && datas !== null) {
            if (datas["results"]["status"] == true) {
                //alert("ส่งคำขอสำเร็จ");
                swal("สำเร็จ", "ส่งข้อมูลคำของบประมาณแล้ว", "success");
                //location.reload();
                window.location = "{{_context_path}}/api/budget/view/draftAll";
            } else {
                //alert("ส่งคำขอผิดพลาด");
                swal("ผิดพลาด", "ไม่สามารถส่งข้อมูลคำของบประมาณได้", "error");
            }
        }
    }

    function isShowBtnGroup(statusId) {
        var html = "";
        if (statusId != 3) {
            html = '<div class="col-md-12 none-padding">';
        } else {
            html = '<div class="col-md-12 none-padding" style="display: none;">';
        }
        return html;
    }


    function isShowComment(statusId, id) {
        var html = "";
        console.log(id);
        if (statusId == 4) {

            html = '<a href="javascript:void(0);" onclick="showComment(' + id + ')"><u>แสดงหมายเหตุ</u></a>';
        }

        return html;
    }

    function showComment(id) {

        $(".bodyComment").html('');//reset
        $(".bodyComment").html(list146Arr[id]["comment"]);
        $("#panelShowComment").modal("show");
    }


    function setDefaultValue(parentId, id) {

        var arr = ["20504000", "20505000", "20502000"];
        var check = false;
        $.each(arr, function (key, value) {
            if (parentId == value) {
                console.log("is set default => " + value);

                check = true;
            }
        });

        if (check) {
            $("#bursaryName").attr("disabled", true).val(typeName146Arr[parentId]);
        } else {
            if (list146Arr[id] != undefined) {
                $("#bursaryName").attr("disabled", false).val(list146Arr[id]["bursaryName"]);
            } else {
                $("#bursaryName").attr("disabled", false).val("");
            }

        }
    }


    function goBack() {
        window.history.back();
    }

</script>