/ebudget/logs
/ebudget/nbproject
/ebudget/vendor
/ebudget/composer.json
/ebudget/composer.lock
/ebudget/manifest.server.json
/reporter/build
/reporter/dist


/nbproject
/logs
/composer.lock
/manifest.server.json
/vendor
/composer.json
/.idea
/reporter/nbproject/private/
/ebudget/apps/budget/manifest.app.json
