{{>header}}
<div role="main" class="main" id="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">คำของบประมาณ</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">การจัดทำคำของบประมาณ</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button class="btn btn-default back" style="display: none;"><i class="fa fa-angle-double-left"> ย้อนกลับ</i></button>
                </li>
            </ul>
        </div>
    </div><!-- end button action on header -->

    <div class="container">
        <div class="row">
            <div id="panel1" class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped mb-none treetable" id="example">
                            <thead>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-tt-id="1">
                                    <td><span class='folder'>Trident</span></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr data-tt-id="2" data-tt-parent-id="1">
                                    <td>Trident2</td>
                                    <td>Internet
                                        Explorer 5.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">5</td>
                                    <td class="center">C</td>
                                </tr>
                                <tr data-tt-id="3" data-tt-parent-id="1">
                                    <td>Trident2</td>
                                    <td>Internet
                                        Explorer 5.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">5</td>
                                    <td class="center">C</td>
                                </tr>
                                <tr>
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 5.5</td>
                                    <td>Win 95+</td>
                                    <td class="center">5.5</td>
                                    <td class="center">A</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                                <tr class="gradeX">
                                    <td><a href="#" class="popup"> Trident</a></td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center">4</td>
                                    <td class="center">X</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <div id="panel2" class="col-md-5" style="display: none;">
                <section class="panel panel-featured panel-featured-warning">
                    <div class="panel-heading">
                        <div class="text-danger panel-actions">
                            <a href="#" class="fa fa-times-o close"></a>
                        </div>

                        <h2 class="panel-title">Title</h2>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label class="col-md-12 control-label" for="xxx">แผนงาน</label>
                                <div class="col-md-12">
                                    <select id="listBudgetPlan" name="listBudgetPlan" class="form-control input-sm" required>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->

{{>footer}}

<link rel="stylesheet" href="{{_context_path}}/asset/vendor/jquery-treetable/css/jquery.treetable.css" type="text/css"/>
<script type="text/javascript" src="{{_context_path}}/asset/vendor/jquery-treetable/jquery.treetable.js"></script>
<script type="text/javascript">
    $(function(){

        $("#example").treetable({
            expandable: true
        });

        $(window).scroll(function(){
            var hHeight = $('#panel1').position().top;

            var logoSmallHeight = parseInt($("img").attr('data-sticky-height'));
            var headerHeight = $("#header").height();

            var stickyGap = (headerHeight - 15) - logoSmallHeight;

            if ($(this).scrollTop() <= stickyGap) {
                $('#panel2').css({
                    'position': 'relative',
                    'right' : 0
                });
            }
            else if ($(this).scrollTop() > stickyGap && $(this).scrollTop() <= hHeight) {
                $('#panel2').css({
                    'position': 'relative',
                    'right' : 0
                });
            }
            else {
                $('#panel2').css({
                    'position': 'fixed',
                    'top': '63px',
                    'right' : 0
                });
            }
        });

        $("a.popup").unbind().click(function(evt){
            evt.preventDefault();
            $(window).scroll();

            $("#panel1").removeClass("col-md-12").addClass("col-md-7");
            $("#panel2").css({right: 0}).show();

        });

        $("a.close").unbind().click(function(){
            $("#panel2").hide();
            $("#panel1").removeClass("col-md-7").addClass("col-md-12");
        });
    });
    function popup(){

    }
</script>