{{> header}}
<!-- insert and initial for AngularJS into divMain -->
<div ng-app="formBudgetReview" ng-controller="mainController" role="main" data-ng-init="init()" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">คำของบประมาณ</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 id="navBgPlan" class="none-padding">ตรวจสอบคำของบประมาณ</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button class="btn btn-default backHome" style="display: none;"><i class="fa fa-angle-double-left">ย้อนกลับ</i>
                    </button>
                    <button class="btn btn-default backAttachment" style="display: none;"><i
                            class="fa fa-angle-double-left"> ย้อนกลับ</i></button>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div id="divChoice" class="col-md-12">
                <section class="panel panel-featured panel-featured-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">รายละเอียดคำของบประมาณ</h2>
                    </div>
                    <div class="panel-body">
                        <div id="panel1">
                            <form id="formChoice" onsubmit="return false;">
                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="budgetPeriodId">ปีงบประมาณ: </label>

                                    <div class="col-md-6">
                                        <select ng-model="budgetPeriodId"
                                                ng-options="item.year for item in listsBudgetPeriod"
                                                name="budgetPeriodId" class="form-control input-sm" required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-success viewBudget"
                                                ng-click="fetchBudgetItem(budgetPeriodId.year)"><i
                                                class="fa fa-search"></i> เรียกดูข้อมูล
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div id="panel2" style="margin-top: 20px;">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">แบบฟอร์มคำของบประมาณ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div id="divHome" class="col-md-12" style="display: none;">
                <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                    <thead>
                    <tr>
                        <th class="text-center">ใบคำของบประมาณ</th>
                        <th class="text-center">หน่วยงาน</th>
                        <!--<th class="text-center">แหล่งเงิน</th>-->
                        <th class="text-center">แผนงาน</th>
                        <!--<th class="text-center">ผลผลิต/โครงการ</th>-->
                        <th class="text-center">กองทุน</th>
                        <th class="text-center">สถานะ</th>
                        <th class="text-center">เครื่องมือ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in listsBudgetItem">
                        <td class="text-center">ง.{[item.formId]}</td>
                        <td>{[item.deptName]} / {[item.facultyName]}</td>
                        <!--<td>{[item.budgetTypeName]}</td>-->
                        <td>{[item.l3dPlanName]}</td>
                        <!--<td>{[item.planName]}</td>
                        <td>{[item.projectName]}</td>-->
                        <td>{[item.fundName]}</td>
                        <td>{[item.statusDesc]}</td>
                        <td style="text-align: center">
                            <button class="btn btn-primary edit-btn" ng-click="toFormBudget(item)" title="ดูข้อมูล"><i
                                    class="fa fa-search"></i>ดูข้อมูล</i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="!activeNg" id="divForm" class="col-md-12" style="display: none;"></div>
            <div id="divAttachment" class="col-md-12" style="display: none;"></div>
        </div>
        <!--  row  -->
    </div>
    <!--  container  -->
</div><!-- main -->

{{> footer}}
<style type="text/css">
    .modal-dialog {
        width: 820px;
    }
</style>

<script type="text/javascript">
    var js_context_path = "{{_context_path}}";
</script>

<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg140.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg141.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg142.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg143.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg144.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg145.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg146.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/buildingOne.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/buildingMore.js"></script>


<script type="text/javascript">

    var STATUSPROGRESS = 1, STATUSWAITING = 2, STATUSAPPROVE = 3, STATUSEDITING = 4;
    var budgetPeriodArr = null;
    var budgetTypeArr = null;
    var planArr = null;
    var projectArr = null;
    var fundgroupArr = null;
    var facultyArr = null;
    var departmentArr = null;
    var PERMISSION = "BuildingPlan";
    var listSTATUSTRACKING = [];
    var paramObj;

    var myApp = angular.module('formBudgetReview', ['commonApp']);
    myApp.controller('mainController', function ($scope, $http, $controller) {

        $scope.activeNg = false;
        $scope.activeTemplate = "no";

        $scope.init = function () {
            $("#divHome").show();
            $scope.fetchTrackingStatus();
            $scope.fetchBudgetPeriod();
        };

        $scope.openForm = function (form, param) {
            $scope.activeNg = true;
            $scope.activeTemplate = form;
            $scope.param = param;
        };

        $scope.fetchBudgetPeriod = function () {
            $http.get("{{_context_path}}/api/common/lookup/listYear").then(function (response) {

                $scope.listsBudgetPeriod = response.data.lists;

            });
        };

        $scope.fetchBudgetItem = function (BudgetPeriodId) {
            var param = {budgetPeriodId: BudgetPeriodId};

            $http.post("{{_context_path}}/api/budget/budgetReview/getAllBudgetRequest", param).then(function (response) {

                $scope.listsBudgetItem = response.data.result;

            });
        };

        $scope.fetchTrackingStatus = function () {

            $http.post("{{_context_path}}/api/budget/budgetReview/listTracking").then(function (response) {

                if (typeof response.data !== "undefined" && response.data !== null) {
                    $.each(response.data["lists"], function (key, value) {

                        listSTATUSTRACKING[value["id"]] = value["desc"];
                    });
                }
            });
        };

        $scope.toFormBudget = function (itemBudget) {

            var param = {};
            param.budgetPeriodId = $scope.budgetPeriodId.year;
            param.budgetTypeCode = itemBudget.budgetTypeCode;
            param.deptId = itemBudget.deptId;
            param.facultyId = itemBudget.facultyId;
            param.fundgroupId = itemBudget.fundgroupId;
            param.l3dPlanId = itemBudget.l3dPlanId;
            param.planId = itemBudget.planId;
            param.projectId = itemBudget.projectId;
            param.deptName = itemBudget.deptName;
            param.facultyName = itemBudget.facultyName;
            param.planName = itemBudget.planName;
            param.projectName = itemBudget.projectName;
            param.l3dPlanName = itemBudget.l3dPlanName;
            param.fundName = itemBudget.fundName;
            param.budgetTypeName = itemBudget.budgetTypeName;

            paramObj = param;

            var form = "bg" + itemBudget.formId;
            eval(form + "Form(param)");
        };

    });


    function toggleShow(option) {

        if (option == "home") {
            $("#navBgPlan").html("ตรวจสอบคำของบประมาณ");
            // panel show and hide
            $("#divForm").hide();
            $("#divHome,#divChoice").show();

            // button show and hide
            $("button.backHome").hide();
        }
        else if (option == "choice") {

            // panel show and hide
            $("#divHome, #divForm").hide();
            $("#divChoice").show();

            $("button.backHome").show();
        }
        else if (option == "form") {

            // panel show and hide
            $("#divHome, #divChoice,#divAttachment").hide();
            $("#divForm").show();

            $("button.backAttachment").hide();
            // button show and hide
            $("button.backHome").show();
        } else if (option == "attachment") {
            // panel show and hide
            $("#divHome, #divChoice, #divForm").hide();
            $("#divAttachment").show();
            $("button.goChoice,button.backChoice,button.backHome").hide();
            $("button.backAttachment").show();
        }
    }

    function updateStatusBG(bgType, listBg, status, isRefresh) {
        //update status all
        var form = [];
        form["Budget140"] = "bg140Form"; // for refresh form
        form["Budget141"] = "bg141Form";
        form["Budget142"] = "bg142Form";
        form["Budget143"] = "bg143Form";
        form["Budget144"] = "bg144Form";
        form["Budget145"] = "bg145Form";
        form["Budget146"] = "bg146Form";

        var param = {};
        param.bgType = bgType;
        param.listBg = listBg;
        param.status = status;

        var datas = callAjax(js_context_path + "/api/budget/budgetSave/updateStatus", "post", JSON.stringify(param), "json");
        if (datas != undefined && datas !== null) {
            if (datas["results"]["status"] == true) {
                alert("ส่งคำขอสำเร็จ");
                if (isRefresh) {
//                    var param = {};
//                    $("#formChoice select").each(function () {
//                        var name = $(this).attr("name");
//                        param[name] = $(this).val();
//                    });
                    var param = paramObj;
                    eval(form[bgType] + "(param);");
                }
                return true;

            } else {
                alert("ส่งคำขอผิดพลาด");
                return false;
            }
        }
    }


    $(function () {

        $("button.backHome").unbind("click").click(function () {
            toggleShow("home");
        });
        $("button.backAttachment").unbind("click").click(function () {
            toggleShow("form");
        });

    });

</script>
