<!DOCTYPE html>
<html>
    <head>
        {{>js}}
    </head>
    <body>

        <div class="body">
            <header id="header" class="colored flat-menu">
                <div class="header-top">
                    <div class="container">

                        <nav>
                            <ul class="nav nav-pills nav-top">
                                <li class="phone">
                                    &nbsp;
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
                <div class="container">
                    <div class="logo">
                        <a href="#">
                            <img alt="Porto" width="222" height="54" data-sticky-width="150" data-sticky-height="40" src="{{_context_path}}/images/DFT.png">
                        </a>
                    </div>
                    <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="navbar-collapse nav-main-collapse collapse">
                    <div class="container col-md-12">
                        <div class="col-md-9" style="float: right;">
                            <h4 class="text-dark">
                                <span class="text-bold text-muted">ระบบสารสนเทศเพื่อการบริหารจัดการ <b class="blue">การระบายข้าว</b></span><br>
                                <span class="text-muted">กองบริหารการค้าข้าว กรมการค้าต่างประเทศ</span><br>

                                <span class="text-muted">Information Management System for Rice.</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </header>

