<!-- Basic -->
<meta charset="utf-8">
<title>{{#i18n}}system.title{{/i18n}}</title>
<meta name="keywords" content="EBudget EPerformance"/>
<meta name="description" content="E-Budget and E-Performance">
<meta name="author" content="codeunbug.com">

<link rel="icon" href="{{_context_path}}/images/logo-only.png" type="image/png" sizes="16x16">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Vendor CSS -->
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/fontawesome/css/font-awesome.min.css">

<!-- Theme CSS -->
<link rel="stylesheet" href="{{_context_path}}/asset/css/theme.css">
<link rel="stylesheet" href="{{_context_path}}/asset/css/theme-elements.css">
<link rel="stylesheet" href="{{_context_path}}/asset/css/theme-shop.css">

<!-- Skin CSS -->
<link rel="stylesheet" href="{{_context_path}}/asset/css/skins/default.css">

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="{{_context_path}}/asset/css/custom.css">

<!-- Admin Extension Specific Page Vendor CSS -->
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/bootstrap-datepicker/datepicker3.css"/>
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/jquery-datatables/datatables.css"/>
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/bootstrap-multiselect/bootstrap-multiselect.css">

<!-- Admin Extension CSS -->
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/select2/select2.css"/>
<link rel="stylesheet" href="{{_context_path}}/asset/css/theme-admin-extension.css">
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/popup/jquery-confirm.min.css"/>

<!-- Admin Extension Skin CSS -->
<link rel="stylesheet" href="{{_context_path}}/asset/css/skins/extension.css">

<!-- Vendor -->
<script src="{{_context_path}}/asset/vendor/jquery/jquery.js"></script>
<script src="{{_context_path}}/asset/vendor/jquery-cookie/jquery-cookie.js"></script>
<script src="{{_context_path}}/asset/vendor/bootstrap/bootstrap.min.js"></script>
<script src="{{_context_path}}/asset/vendor/common/common.js"></script>
<script src="{{_context_path}}/asset/vendor/jquery-number/jquery.number.min.js"></script>

<script src="{{_context_path}}/asset/vendor/jquery.validation/jquery.validation.js"></script>
<script src="{{_context_path}}/asset/vendor/jquery-datatables/jquery.dataTables.min.js"></script>
<script src="{{_context_path}}/asset/vendor/popup/jquery-confirm.min.js"></script>

<!-- Admin Extension Specific Page Vendor -->
<script src="{{_context_path}}/asset/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>

<!-- Admin Extension Specific Page Vendor -->
<script src="{{_context_path}}/asset/vendor/jquery.validation/jquery.validation.js"></script>

<!-- Full Calendar -->
<script src="{{_context_path}}/asset/vendor/fullcalendar/lib/moment.min.js"></script>
<script src="{{_context_path}}/asset/vendor/fullcalendar/fullcalendar.min.js"></script>
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/fullcalendar/fullcalendar.min.css"/>
<link rel="stylesheet" media="print" href="{{_context_path}}/asset/vendor/fullcalendar/fullcalendar.print.css"/>

<script src="{{_context_path}}/asset/vendor/select2/select2.js"></script>
<script src="{{_context_path}}/asset/vendor/jquery-datatables/datatables.js"></script>
<script src="{{_context_path}}/asset/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>

<!-- Admin Extension -->
<script src="{{_context_path}}/asset/js/theme.admin.extension.js"></script>

<!--Common form js by P'A -->
<script src="{{_context_path}}/asset/js/common.js" type="text/javascript"></script>

<!--Account js-->
<script src="{{_context_path}}/asset/js/accounting.min.js" type="text/javascript"></script>

<!-- toggle switch -->
<link rel="stylesheet" href="{{_context_path}}/asset/css/toggle.css">

<!--Numeric js-->
<script src="{{_context_path}}/asset/js/numeric.min.js" type="text/javascript"></script>
<script src="{{_context_path}}/asset/js/numeral.js" type="text/javascript"></script>
<script src="{{_context_path}}/asset/vendor/popup/jquery-confirm.min.js" type="text/javascript"></script>

<!-- Head Libs -->
<script src="{{_context_path}}/asset/vendor/modernizr/modernizr.js"></script>

<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css"/>

<!-- AngularJS -->
<script type="text/javascript"> var ngContextPath = "{{_context_path}}"; </script>
<script type="text/javascript" src="{{_context_path}}/asset/vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="{{_context_path}}/asset/js/ngCommon.js"></script>


<!-- Tree Table -->
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/jquery-treetable/css/jquery.treetable.css" type="text/css"/>
<script type="text/javascript" src="{{_context_path}}/asset/vendor/jquery-treetable/jquery.treetable.js"></script>


<!-- Summernote -->
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/summernote/summernote.css" type="text/css"/>
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/summernote/summernote-bs3.css" type="text/css"/>
<script type="text/javascript" src="{{_context_path}}/asset/vendor/summernote/summernote.js"></script>
