<div class="navbar-collapse nav-main-collapse collapse">
    <div class="container">
        <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main" id="mainMenu">
                 <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        หน้าหลัก
                    </a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        การจัดการ
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/warehouse/view/warehouseInfo">xxx</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        คำของบประมาณ 1
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/budget/view/formBudget">จัดทำคำของบประมาณ</a></li>
                    
                        <li class="dropdown-submenu">
                            <a href="#">แบบฟอร์มคำของบประมาณ</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{_context_path}}/api/budget/view/bg140.html">ง.140</a></li>
                                <li><a href="{{_context_path}}/api/budget/view/bg140.html">ง.140</a></li>
                                <li><a href="shop-sidebar.html">ง.141</a></li>
                                <li><a href="shop-product-full-width.html">ง.142</a></li>
                                <li><a href="shop-product-sidebar.html">ง.143</a></li>
                                <li><a href="shop-cart.html">ง.144</a></li>
                                <li><a href="shop-login.html">ง.145</a></li>
                                <li><a href="shop-checkout.html">ง.146</a></li>
                                <li><a href="shop-checkout.html">โครงการที่ตอบสนองยุทธศาสตร์</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        คำของบประมาณ 2
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">แบบฟอร์มคำของบประมาณ</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop-full-width.html">ง.140</a></li>
                                <li><a href="shop-sidebar.html">ง.141</a></li>
                                <li><a href="shop-product-full-width.html">ง.142</a></li>
                                <li><a href="shop-product-sidebar.html">ง.143</a></li>
                                <li><a href="shop-cart.html">ง.144</a></li>
                                <li><a href="shop-login.html">ง.145</a></li>
                                <li><a href="shop-checkout.html">ง.146</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        ตัวชี้วัดคำรับรองการปฏิบัติงาน
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/performanceKpi/view/createCenter">ส่วนงานภายในมหาวิทยาลัย</a></li>
                        <li><a href="{{_context_path}}/api/warehouse/view/warehouseInfo">ร่างตัวชี้วัดคำรับรองของส่วนงาน</a></li>
                        <li><a href="{{_context_path}}/api/warehouse/view/warehouseInfo">ตัวชี้วัดคำรับรองของส่วนงาน</a></li>
                        <li><a href="{{_context_path}}/api/warehouse/view/warehouseInfo">แบบรายงานผลของส่วนงาน</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        เอกสารรายงาน
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/warehouse/view/warehouseInfo">xxx</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

