<div class="navbar-collapse nav-main-collapse collapse">
    <div class="container">
        <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main" id="mainMenu">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        หน้าหลัก
                    </a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        จัดทำ/จัดสรรงบประมาณ
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/budget/view/formBudget">แบบฟอร์มคำของบประมาณ</a></li>
                        <!--<li class="dropdown-submenu">
                            <a href="{{_context_path}}/api/budget/view/formBudget">แบบฟอร์มคำของบประมาณ</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">แบบ ง.140</a></li>
                                <li><a href="#">แบบ ง.141</a></li>
                                <li><a href="#">แบบ ง.142</a></li>
                                <li><a href="#">แบบ ง.143</a></li>
                                <li><a href="#">แบบ ง.144</a></li>
                                <li><a href="#">แบบ ง.145</a></li>
                                <li><a href="#">แบบ ง.146</a></li>
                            </ul>
                        </li>--> 
                        <li><a href="{{_context_path}}/api/budget/allocate/managePlanning">จัดสรรงบประมาณ</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        ติดตามผลการดำเนินงาน
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/budget/view/formTracking">รายงานผลการใช้งบประมาณรายจ่ายประจำปี</a></li>
                        <li><a href="{{_context_path}}/api/budget/view/formReview">ตรวจสอบผลการใช้งบประมาณรายจ่ายประจำปี (Admin)</a></li>
                        <!--<li><a href="{{_context_path}}/api/budget/view/#">รายงานผลการใช้งบประมาณโครงการที่ตอบสนองยุทธศาสตร์</a></li>-->
                        <li><a href="{{_context_path}}/api/affirmative/view/homeAdmin">ตัวชี้วัดคำรับรองการปฏิบัติงาน</a></li>

                        <!--<li class="dropdown-submenu">
                            <a href="#">ระบบจัดทำตัวชี้วัดคำรับรองการปฏิบัติงาน</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{_context_path}}/api/performanceKpi/view/createCenter">สร้างตัวชี้วัดส่วนงานภายในมหาวิทยาลัย</a></li>
                                <li><a href="{{_context_path}}/#">ร่างตัวชี้วัดคำรับรองของส่วนงาน</a></li>
                                <li><a href="{{_context_path}}/#">จัดทำตัวชี้วัดคำรับรองของส่วนงาน</a></li>
                                <li><a href="{{_context_path}}/#">รายงานผลตัวชี้วัด</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        จัดทำรายงาน
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/report/view/report3D">รายงานการจัดทำงบประมาณเงินรายได้จากงบประมาณแผ่นดิน 3 มิติ</a></li>
                        <li><a href="{{_context_path}}/api/report/view/reportBudget">รายงานการจัดทำงบประมาณรายจ่ายเงินรายได้ประจำปี</a></li>
                        <!--<li class="dropdown-submenu">
                            <a href="{{_context_path}}/api/report/view/report3D">รายงานการจัดทำงบประมาณเงินรายได้จากงบประมาณแผ่นดิน 3 มิติ</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{_context_path}}/#">แบบ ง.1</a></li>
                                <li><a href="{{_context_path}}/#">แบบ ง.2</a></li>
                                <li><a href="{{_context_path}}/#">แบบ ง.2-1</a></li>
                                <li><a href="{{_context_path}}/#">แบบ ง.2-2</a></li>
                                <li><a href="{{_context_path}}/#">แบบ ง.3</a></li>
                                <li><a href="{{_context_path}}/#">แบบ ง.4</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">รายงานการจัดทำงบประมาณรายจ่ายเงินรายได้ประจำปี</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">แบบ ร.2</a></li>
                                <li><a href="#">แบบ ร.2-1</a></li>
                                <li><a href="#">แบบ ร.2-2</a></li>
                                <li><a href="#">แบบ ร.3</a></li>
                                <li><a href="#">แบบ ร.4</a></li>
                            </ul>
                        </li>-->
                        <!--<li class="dropdown-submenu">
                            <a href="#">รายงานอื่นๆ</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">รายงานแบบรายละเอียดคำของบประมาณ</a></li>
                                <li><a href="#">รายงานคำชี้แจงรายละเอียดรายการก่อสร้าง และปรับปรุงสิ่งก่อสร้าง</a></li>
                                <li><a href="#">รายงานตัวชี้วัดคำรับรองการปฏิบัติงาน</a></li>
                                <li><a href="#">รายงานผลการดำเนินงานตัวชี้วัดคำรับรองการปฏิบัติงาน</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </li>               

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        จัดการข้อมูลเบื้องหลัง
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">ระบบจัดการผู้ใช้งาน</a></li>
                        <li><a href="{{_context_path}}/api/bginfo/EduDevPlan/manage">ระบบจัดการด้านแผนพัฒนาการศึกษาระดับอุดมศึกษา</a></li>
                        <li><a href="{{_context_path}}/api/bginfo/ProductionPlan/manage">ระบบจัดการด้านแผนงาน และผลผลิต</a></li>
                        <li><a href="{{_context_path}}/api/bginfo/BudgetType/manage">ระบบจัดการด้านประเภทหมวดรายจ่าย</a></li>
                        <li><a href="{{_context_path}}/api/bginfo/Department/viewDepartment">ระบบจัดการด้านหน่วยงาน</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</div>

