{{> header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">จัดการข้อมูลเบื้องหลัง</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">จัดการหน่วยนับ</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul data-option-key="filter" data-sort-id="portfolio" class="nav nav-pills sort-source menu-top pull-right">
                <li class="active">
                    <!--<button class="btn btn-default back"><i class="fa fa-angle-double-left"> ย้อนกลับ</i></button>-->
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="text-right" style="margin-bottom: 10px;">
                <button class="btn btn-success add"><i class="fa fa-plus-circle"></i> เพิ่มข้อมูล</button>
            </div>
            <table id="table" class="table table-bordered table-condensed mb-none">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">ลำดับ</th>
                        <th class="text-center col-md-3">หน่วยนับ</th>
                        <th class="text-center col-md-1">เป้าหมาย</th>
                        <th class="text-center col-md-1">คะแนน 1</th>
                        <th class="text-center col-md-1">คะแนน 2</th>
                        <th class="text-center col-md-1">คะแนน 3</th>
                        <th class="text-center col-md-1">คะแนน 4</th>
                        <th class="text-center col-md-1">คะแนน 5</th>
                        <th class="text-center col-md-2">จัดการ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="9" class="text-center">-</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="manageModal" aria-labelledby="manageLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><!-- delete bidder info form -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="form" onsubmit="return false;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><span id="planTitle"></span></h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-manage">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right req">หน่วยนับ :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="unitName" id="unitName" required>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right">เป้าหมาย :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="kpiGoal" id="kpiGoal">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right">คะแนน 1 :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="score1" id="score1">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right">คะแนน 2 :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="score2" id="score2">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right">คะแนน 3 :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="score3" id="score3">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right">คะแนน 4 :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="score4" id="score4">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right">คะแนน 5 :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="score5" id="score5">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="loading" class="col-md-12 text-center" style="margin: 20px;"></div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-success save"><i class="fa fa-save"></i> บันทึก</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="deleteModal" aria-labelledby="deleteLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><!-- delete bidder info form -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">ยืนยันการลบ : หน่วยนับ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table mb-none">
                                <tbody>
                                    <tr class="no-border">
                                        <td class="col-md-4 text-right text-bold">หน่วยนับ :</td>
                                        <td class="col-md-8 text-left"><div id="unitNameDel"></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="loadingDel" class="col-md-12 text-center" style="margin: 20px;"></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                        <button type="button" id="confirmDelete" class="btn btn-danger"><i class="fa fa-trash"></i> ยืนยันการลบ</button>
                    </div>
                </div>
            </div>
        </div><!-- end delete bidder info form -->
    </div>
</div>

{{> footer}}

<script type="text/javascript">
    var listArr = {};

    $(function(){
        listsUnit();
        
        $("button.add").unbind("click").click(function(){
            $("#manageModal").modal("show");
            
            $("#planTitle").html("เพิ่ม : หน่วยนับ");
            $("#form")[0].reset();
            
            // when you save form
            $("button.save").unbind().click(function(){
                var isValid = true;
                $('#form input[required]').each(function() {
                    if($(this).val() == "" && !$(this).prop("disabled"))
                        isValid = false;
                });
                if(isValid){
                    var fdata = dataObject(null);
                    var dataJSON = JSON.stringify({pData: fdata["data"]});
                    var dataJSONEN = encodeURIComponent(dataJSON);

                    insertUnit(dataJSONEN);
                }
            });
        });
    });

    function listsUnit(){
        $("#table tbody").html('<tr><td colspan="9" class="text-center"><i class="fa fa-spin fa-cog"></i> Loading</td></tr>');

        setTimeout(function() {
            var datas = callAjax("{{_context_path}}/api/bginfo/unit/listsUnit", "post", {}, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                var dataSet = [];
                $.each(datas["lists"], function (key, value) {
                    dataSet.push(value);
                    listArr[value["unitId"]] = value;
                });

                var t = $("#table").DataTable({
                    "destroy": true,
                    "data": dataSet,
                    "order": [1, 'asc'],
                    "iDisplayLength": 50,
                    "columnDefs": [
                        {
                            "targets": 0,
                            "searchable": false,
                            "orderable": false,
                            "data": "unitId",
                            "sClass": "text-center col-md-1"
                        },
                        {
                            "targets": 1,
                            "data": "unitName",
                            "sClass": "col-md-3"
                        },
                        {
                            "targets": 2,
                            "data": "kpiGoal",
                            "sClass": "text-center col-md-1",
                            "render": function(data){
                                return getTag(data, "");
                            }

                        },
                        {
                            "targets": 3,
                            "data": "score1",
                            "sClass": "text-center col-md-1",
                            "render": function(data){
                                return getTag(data, "");
                            }
                        },
                        {
                            "targets": 4,
                            "data": "score2",
                            "sClass": "text-center col-md-1",
                            "render": function(data){
                                return getTag(data, "");
                            }
                        },
                        {
                            "targets": 5,
                            "data": "score3",
                            "sClass": "text-center col-md-1",
                            "render": function(data){
                                return getTag(data, "");
                            }
                        },
                        {
                            "targets": 6,
                            "data": "score4",
                            "sClass": "text-center col-md-1",
                            "render": function(data){
                                return getTag(data, "");
                            }
                        },
                        {
                            "targets": 7,
                            "data": "score5",
                            "sClass": "text-center col-md-1",
                            "render": function(data){
                                return getTag(data, "");
                            }
                        },
                        {
                            "targets": 8,
                            "data": "unitId",
                            "sClass": "text-center col-md-2",
                            "render": function(data){
                                return '<button class="btn btn-sm btn-warning edit" title="แก้ไข" data-id="'+data+'"><i class="fa fa-pencil"></i> แก้ไข</button>&nbsp;&nbsp;'
                                    + '<button class="btn btn-sm btn-default delete" title="ลบ" data-id="'+data+'"><i class="fa fa-trash"></i> ลบ</button>';

                            }
                        }
                    ]
                });
                t.on('order.dt search.dt', function () {
                    t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
            
                //edit
                $("#table").off("click", "button.edit").on("click", "button.edit", function(){
                    var id = $(this).attr("data-id");
                    
                    $("#manageModal").modal("show");
                    
                    $("#planTitle").html("แก้ไข : หน่วยนับ");
                    $("#form")[0].reset();
                    
                    $("#form input").each(function(){
                       var name = $(this).attr("name");
                       $("#"+name).val(listArr[id][name]);
                    });
                    
                    // when you save form
                    $("button.save").unbind().click(function(){
                        var isValid = true;
                        $('#form input[required]').each(function() {
                            if($(this).val() == "" && !$(this).prop("disabled"))
                                isValid = false;
                        });
                        if(isValid){
                            var fdata = dataObject(id);
                            var dataJSON = JSON.stringify({pData: fdata["data"]});
                            var dataJSONEN = encodeURIComponent(dataJSON);

                            editUnit(dataJSONEN);
                        }
                    });
                });

                //delete
                $("#table").off("click", "button.delete").on("click", "button.delete", function(){
                    var id = $(this).attr("data-id");
                    
                    $("#deleteModal").modal("show");
                    
                    $("#unitNameDel").html(listArr[id]["unitName"]);
                    
                    $("#confirmDelete").click(function(){
                        deleteUnit(id);
                    });
                });
            }
        }, 0);
    }

    function dataObject(id){
        var data = {};

        //edit
        if(id !== null){
            data["unitId"] = id;
        }
        
        $("#form input, #form select, #form textarea").each(function (i) {
            var fattr = $(this).attr("data-entity");
            var fname = $(this).attr("name");
            var fvalue = $(this).val();
            data[fname] = fvalue;
        });
        
        var fdata = {};
        fdata["data"] = data;

        return fdata;
    }

    function insertUnit(dataJSONEN) {
        $("#loading").html("กำลังบันทึกข้อมูล...");

        setTimeout(function(){
            var datas = callAjax("{{_context_path}}/api/bginfo/unit/insertUnit", "post", dataJSONEN, "json");
            if (typeof datas !== 'undefined' && datas !== null) {
                if (datas["add"] == true) {
                    $("#loading").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');
                    setTimeout(function(){
                        $("#manageModal").modal("hide");
                        listsUnit();
                    }, 500);
                }
                else{
                    $("#loading").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้<br>'+datas["add"]+'</span>');
                }
            }
        }, 0);
    }

    function editUnit(dataJSONEN) {
        $("#loading").html("กำลังบันทึกข้อมูล...");

        setTimeout(function(){
            var datas = callAjax("{{_context_path}}/api/bginfo/unit/updateUnit", "post", dataJSONEN, "json");
            if (typeof datas !== 'undefined' && datas !== null) {
                if (datas["update"] == true) {
                    $("#loading").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');
                    setTimeout(function(){
                        $("#manageModal").modal("hide");
                        listsUnit();
                    }, 500);
                }
                else{
                    $("#loading").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้<br>'+datas["update"]+'</span>');
                }
            }
        }, 0);
    }

    function deleteUnit(id) {
        $("#loadingDel").html("กำลังบันทึกข้อมูล...");

        setTimeout(function(){
            var datas = callAjax("{{_context_path}}/api/bginfo/unit/deleteUnit", "post", {id: id}, "json");
            if (typeof datas !== 'undefined' && datas !== null) {
                if (datas["delete"] == true) {
                    $("#loadingDel").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');
                    setTimeout(function(){
                        $("#deleteModal").modal("hide");
                        listsUnit();
                    }, 500);
                }
                else{
                    $("#loadingDel").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้<br>'+datas["delete"]+'</span>');
                }
            }
        }, 0);
    }
</script>
