{{> header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">จัดการข้อมูลเบื้องหลัง</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">จัดการหน่วยนับ</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul data-option-key="filter" data-sort-id="portfolio" class="nav nav-pills sort-source menu-top pull-right">
                <li class="active">
                    <!--<button class="btn btn-default back"><i class="fa fa-angle-double-left"> ย้อนกลับ</i></button>-->
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label text-right">แผนกลยุทธ์ :</label>
                    <div class="col-md-9">
                        <select id="typeId" name="typeId" class="form-control input-sm"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12 text-right" style="margin-bottom: 10px;">
                <button class="btn btn-success add" data-type="issue"><i class="fa fa-plus-circle"></i> เพิ่มประเด็นยุทธศาสตร์</button>
            </div>
            <table id="table" class="table table-bordered table-condensed mb-none">
                <thead>
                    <tr>
                        <th class="text-center col-md-2">ลำดับ</th>
                        <th class="text-center col-md-8">แผนกลยุทธ์</th>
                        <th class="text-center col-md-2">จัดการ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3" class="text-center">-</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="manageModal" aria-labelledby="manageLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><!-- delete bidder info form -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="form" onsubmit="return false;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><span class="planTitle"></span></h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-manage form-issue">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right req">ลำดับที่ :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="issueSeq" id="issueSeq" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right req">ประเด็นยุทธศาสตร์ :</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control input-sm" name="issueName" id="issueName" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-manage form-target">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right">ประเด็นยุทธศาสตร์ :</label>
                                    <div class="col-md-8" id="targetParent"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right req">ลำดับที่ :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="targetSeq" id="targetSeq" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right req">เป้าประสงค์ :</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control input-sm" name="targetName" id="targetName" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-manage form-kpi">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right">เป้าประสงค์ :</label>
                                    <div class="col-md-8" id="kpiParent"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right req">ลำดับที่ :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="kpiSeq" id="kpiSeq" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right req">ตัวชี้วัด :</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control input-sm" name="kpiName" id="kpiName" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-manage form-strategy">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right">เป้าประสงค์ :</label>
                                    <div class="col-md-8" id="strategyParent"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right req">ลำดับที่ :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" name="strategySeq" id="strategySeq" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right req">กลยุทธ์ :</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control input-sm" name="strategyName" id="strategyName" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="loading" class="col-md-12 text-center" style="margin: 20px;"></div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-success save"><i class="fa fa-save"></i> บันทึก</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="deleteModal" aria-labelledby="deleteLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><!-- delete bidder info form -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">ยืนยันการลบ : <span class="planType"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table mb-none">
                                <tbody>
                                    <tr class="no-border">
                                        <td class="col-md-4 text-right text-bold">ลำดับที่ :</td>
                                        <td class="col-md-8 text-left"><div id="seqDel"></div></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 text-right text-bold"><span class="planType"></span> :</td>
                                        <td class="col-md-8 text-left"><div id="nameDel"></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="loadingDel" class="col-md-12 text-center" style="margin: 20px;"></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                        <button type="button" id="confirmDelete" class="btn btn-danger"><i class="fa fa-trash"></i> ยืนยันการลบ</button>
                    </div>
                </div>
            </div>
        </div><!-- end delete bidder info form -->
    </div>
</div>

{{> footer}}

<script type="text/javascript">
    var listArr = {
        issue: {},
        target: {},
        kpi: {},
        strategy: {}
    };

    $(function(){
        $("#typeId").html(listsType()).select2().change(function(){
            if($(this).val() != "") {
                showPlanAll();
                $("button.add[data-type=issue]").show();
            }
            else{
                $("#table tbody").html('<tr><td colspan="3" class="text-center">-</td></tr>');
                $("button.add[data-type=issue]").hide();
            }
        }).trigger("change");
    });

    function listsType(){
        var datas = callAjax("{{_context_path}}/api/bginfo/EduDevPlan/listsType", "post", {}, "json");
        if(typeof datas !== "undefined" && datas !== null){
            var html = '<option value="">- เลือกแผนกลยุทธ์ -</option>';
            $.each(datas["lists"], function(key, value){
                html += '<option value="'+value["typeId"]+'">'+value["typeName"]+'</option>';
            });

            return html;
        }
    }

    function showPlanAll(){
        $("#table tbody").html('<tr><td colspan="3" class="text-center"><i class="fa fa-spin fa-cog"></i> Loading</td></tr>');

        setTimeout(function() {
            var datas = callAjax("{{_context_path}}/api/bginfo/EduDevPlan/viewPlan", "post", {
                typeId: $("#typeId").val()
            }, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                var html = '';
                $.each(datas["lists"], function (key, value) {
                    listArr["issue"][value["issueId"]] = {
                        issueSeq: value["issueSeq"],
                        issueName: value["issueName"]
                    };

                    html += '<tr data-tt-id="issue' + value["issueId"] + '" style="background-color: #f9f9f9;">'
                            + '<td class="text-bold">ประเด็นยุทธศาสตร์ที่ <span class="wording">' + value["issueSeq"] + '</span></td>'
                            + '<td class="text-bold">'
                                + '<span class="wording">'+value["issueName"]+'</span>'
                                + '<span style="float:right">'
                                    + '<a href="javascript: void(0)" class="text-warning edit" data-type="issue" data-id="'+value["issueId"]+'"><i class="fa fa-pencil"></i></a>&nbsp;'
                                    + '<a href="javascript: void(0)" class="text-danger delete" data-type="issue" data-id="'+value["issueId"]+'"><i class="fa fa-trash"></i></a>'
                                + '</span>'
                            + '</td>'
                            + '<td class="text-center"><button class="btn btn-sm btn-success add" data-type="target" data-pid="'+value["issueId"]+'"><i class="fa fa-plus-circle"></i> เพิ่มเป้าประสงค์</button></td>'
                        + '</tr>';

                    $.each(value["target"], function (key2, value2) {
                        listArr["target"][value2["targetId"]] = {
                            targetSeq: value2["targetSeq"],
                            targetName: value2["targetName"]
                        };

                        html += '<tr data-tt-id="target' + value2["targetId"] + '"  data-tt-parent-id="issue' + value["issueId"] + '">'
                                + '<td class="text-bold">เป้าประสงค์ที่ ' + value["issueSeq"]+'.<span class="wording">'+value2["targetSeq"] + '</span></td>'
                                + '<td>'
                                    + '<span class="wording">'+value2["targetName"]+'</span>'
                                    + '<span style="float:right">'
                                        + '<a href="javascript: void(0)" class="text-warning edit" data-type="target" data-id="'+value2["targetId"]+'" data-pid="'+value["issueId"]+'"><i class="fa fa-pencil"></i></a>&nbsp;'
                                        + '<a href="javascript: void(0)" class="text-danger delete" data-type="target" data-id="'+value2["targetId"]+'" data-pid="'+value["issueId"]+'"><i class="fa fa-trash"></i></a>'
                                    + '</span>'
                                + '</td>'
                                + '<td></td>'
                            + '</tr>'
                            + '<tr data-tt-id="target' + value2["targetId"] + '-object"  data-tt-parent-id="issue' + value["issueId"] + '">'
                                + '<td colspan="3">'
                                    + '<div class="col-md-4 col-md-offset-2">'
                                        + '<table class="table table-bordered table-condensed mb-none">'
                                            + '<thead>'
                                                + '<tr>'
                                                    + '<th colspan="2" class="text-center">ตัวชี้วัด <span style="float: right;"><button class="btn btn-sm btn-success add" data-type="kpi" data-pid="'+value2["targetId"]+'"><i class="fa fa-plus-circle"></i></button></span></th>'
                                                + '</tr>'
                                            + '</thead>'
                                            + '<tbody>';

                                            if(value2["kpi"].length > 0){
                                                $.each(value2["kpi"], function(key3, value3) {
                                                    listArr["kpi"][value3["kpiId"]] = {
                                                        kpiSeq: value3["kpiSeq"],
                                                        kpiName: value3["kpiName"]
                                                    };

                                                    html += '<tr data-tt-id="kpi' + value3["kpiId"] + '">'
                                                            + '<td>'
                                                                + '<span class="wording">'+value3["kpiSeq"]+'. '+value3["kpiName"]+'</span>'
                                                                + '<span style="float:right">'
                                                                    + '<a href="javascript: void(0)" class="text-warning edit" data-type="kpi" data-id="'+value3["kpiId"]+'" data-pid="'+value2["targetId"]+'"><i class="fa fa-pencil"></i></a>&nbsp;'
                                                                    + '<a href="javascript: void(0)" class="text-danger delete" data-type="kpi" data-id="'+value3["kpiId"]+'" data-pid="'+value2["targetId"]+'"><i class="fa fa-trash"></i></a>'
                                                                + '</span>'
                                                            +'</td>'
                                                        + '</tr>';
                                                });
                                            }
                                            else{
                                                html += '<tr>'
                                                        + '<td colspan="2" class="text-center">-</td>'
                                                    + '</tr>';
                                            }

                                            html += '</tbody>'
                                        + '</table>'
                                    + '</div>'

                                    + '<div class="col-md-4">'
                                        + '<table class="table table-bordered table-condensed mb-none">'
                                            + '<thead>'
                                                + '<tr>'
                                                    + '<th colspan="2" class="text-center">กลยุทธ์ <span style="float: right;"><button class="btn btn-sm btn-success add" data-type="strategy" data-pid="'+value2["targetId"]+'"><i class="fa fa-plus-circle"></i></button></span></th>'
                                                + '</tr>'
                                            + '</thead>'
                                            + '<tbody>';

                                            if(value2["strategy"].length > 0){
                                                $.each(value2["strategy"], function(key3, value3) {
                                                    listArr["strategy"][value3["strategyId"]] = {
                                                        strategySeq: value3["strategySeq"],
                                                        strategyName: value3["strategyName"]
                                                    };

                                                    html += '<tr data-tt-id="strategy' + value3["strategyId"] + '">'
                                                            + '<td>'
                                                                + '<span class="wording">'+value3["strategySeq"]+'. '+value3["strategyName"]+'</span>'
                                                                + '<span style="float:right">'
                                                                    + '<a href="javascript: void(0)" class="text-warning edit" data-type="strategy" data-id="'+value3["strategyId"]+'" data-pid="'+value2["targetId"]+'"><i class="fa fa-pencil"></i></a>&nbsp;'
                                                                    + '<a href="javascript: void(0)" class="text-danger delete" data-type="strategy" data-id="'+value3["strategyId"]+'" data-pid="'+value2["targetId"]+'"><i class="fa fa-trash"></i></a>'
                                                                + '</span>'
                                                            +'</td>'
                                                        + '</tr>';
                                                });
                                            }
                                            else{
                                                html += '<tr>'
                                                        + '<td colspan="2" class="text-center">-</td>'
                                                    + '</tr>';
                                            }

                                            html += '</tbody>'
                                        + '</table>'
                                    + '</div>'
                                + '</td>'
                            + '</tr>';
                    });
                });

                $("#table tbody").html(html);

                $("#table").treetable({
                    expandable: true,
                    initialState: "expanded"
                }, true);

                //add
                $("button.add").unbind("click").click(function(){
                    var plan = $(this).attr("data-type");
                    modalType("add", plan);

                    if(plan == "target"){
                        var pId = $(this).attr("data-pid");
                        $("#targetParent").html(listArr["issue"][pId]["issueName"]);
                    }
                    else if(plan == "kpi"){
                        var pId = $(this).attr("data-pid");
                        $("#kpiParent").html(listArr["target"][pId]["targetName"]);
                    }
                    else if(plan == "strategy"){
                        var pId = $(this).attr("data-pid");
                        $("#strategyParent").html(listArr["target"][pId]["targetName"]);
                    }

                    $("button.save").unbind("click").click(function(){
                        var isValid = true;
                        $('.form-'+plan+' input[type=text], .form-'+plan+' textarea').each(function() {
                            if($(this).val() == "" && !$(this).prop("disabled")) {
                                $(this).focus();
                                isValid = false
                            }
                        });

                        if(isValid){
                            var url = '';
                            var fdata = {};
                            if(plan == "issue"){
                                fdata = dataObject("issue", null, null);
                                url = "Issue";
                            }
                            else if(plan == "target"){
                                fdata = dataObject("target", pId, null);
                                url = "Target";
                            }
                            else if(plan == "kpi"){
                                fdata = dataObject("kpi", pId, null);
                                url = "Kpi";
                            }
                            else if(plan == "strategy"){
                                fdata = dataObject("strategy", pId, null);
                                url = "Strategy";
                            }

                            var dataJSON = JSON.stringify({pData: fdata["data"]});
                            var dataJSONEN = encodeURIComponent(dataJSON);

                            insertPlan(url, dataJSONEN);
                        }
                    });
                });

                //edit
                $("a.edit").unbind("click").click(function(){
                    var id = $(this).attr("data-id");
                    var plan = $(this).attr("data-type");

                    modalType("edit", plan);

                    if(plan == "issue"){
                        $("#issueSeq").val(listArr["issue"][id]["issueSeq"]);
                        $("#issueName").val(listArr["issue"][id]["issueName"]);
                    }
                    else if(plan == "target"){
                        var pId = $(this).attr("data-pid");
                        $("#targetParent").html(listArr["issue"][pId]["issueName"]);

                        $("#targetSeq").val(listArr["target"][id]["targetSeq"]);
                        $("#targetName").val(listArr["target"][id]["targetName"]);
                    }
                    else if(plan == "kpi"){
                        var pId = $(this).attr("data-pid");
                        $("#kpiParent").html(listArr["target"][pId]["targetName"]);

                        $("#kpiSeq").val(listArr["kpi"][id]["kpiSeq"]);
                        $("#kpiName").val(listArr["kpi"][id]["kpiName"]);
                    }
                    else if(plan == "strategy") {
                        var pId = $(this).attr("data-pid");
                        $("#strategyParent").html(listArr["target"][pId]["targetName"]);

                        $("#strategySeq").val(listArr["strategy"][id]["strategySeq"]);
                        $("#strategyName").val(listArr["strategy"][id]["strategyName"]);
                    }


                    $("button.save").unbind("click").click(function(){
                        var isValid = true;
                        $('.form-'+plan+' input[type=text], .form-'+plan+' textarea').each(function() {
                            if($(this).val() == "" && !$(this).prop("disabled")) {
                                $(this).focus();
                                isValid = false
                            }
                        });

                        if(isValid){
                            var url = '';
                            var fdata = {};
                            if(plan == "issue"){
                                fdata = dataObject("issue", null, id);
                                url = "Issue";
                            }
                            else if(plan == "target"){
                                fdata = dataObject("target", pId, id);
                                url = "Target";
                            }
                            else if(plan == "kpi"){
                                fdata = dataObject("kpi", pId, id);
                                url = "Kpi";
                            }
                            else if(plan == "strategy"){
                                fdata = dataObject("strategy", pId, id);
                                url = "Strategy";
                            }
                            var dataJSON = JSON.stringify({pData: fdata["data"]});
                            var dataJSONEN = encodeURIComponent(dataJSON);

                            editPlan(url, dataJSONEN, id);
                        }
                    });
                });

                //delete
                $("a.delete").unbind("click").click(function(){
                    var id = $(this).attr("data-id");
                    var plan = $(this).attr("data-type");

                    $("#deleteModal").modal("show");
                    $("#loadingDel").html('');

                    var title = '';
                    var url = '';
                    var pId = '';
                    if(plan == "issue"){
                        title = "ประเด็นยุทธศาสตร์";
                        url = "Issue";
                    }
                    else if(plan == "target"){
                        pId = $(this).attr("data-pid");
                        title = "เป้าประสงค์";
                        url = "Target";
                    }
                    else if(plan == "kpi"){
                        pId = $(this).attr("data-pid");
                        title = "ตัวชี้วัด";
                        url = "Kpi";
                    }
                    else{
                        pId = $(this).attr("data-pid");
                        title = "กลยุทธ์";
                        url = "Strategy";
                    }
                    $(".planType").html(title);


                    $("#seqDel").html(listArr[plan][id][plan+"Seq"]);
                    $("#nameDel").html(listArr[plan][id][plan+"Name"]);

                    $("#confirmDelete").unbind().click(function(){
                        var dataJSONDel = JSON.stringify({id: id});
                        var dataJSONENDel = encodeURIComponent(dataJSONDel);

                        deletePlan(url, dataJSONENDel, id, pId);
                    });
                });
            }
        }, 0);
    }

    function modalType(option, plan){
        $("#manageModal").modal("show");
        $("#loading").html('');
        $("#form > .modal-body > .form-manage").hide();

        var action = "";
        var title = "";
        if(option == "add") action = "เพิ่ม";
        else action = "แก้ไข";

        if(plan == "issue"){
            title = "ประเด็นยุทธศาสตร์";
            $("#form > .modal-body > .form-issue").show();
        }
        else if(plan == "target"){
            title = "เป้าประสงค์";
            $("#form > .modal-body > .form-target").show();
        }
        else if(plan == "kpi"){
            title = "ตัวชี้วัด";
            $("#form > .modal-body > .form-kpi").show();
        }
        else{
            title = "กลยุทธ์";
            $("#form > .modal-body > .form-strategy").show();
        }


        $(".planTitle").html(action+" : "+title);

        $("#form")[0].reset();
    }

    function dataObject(planType, parentId, id ){
        var data = {};

        if(planType == "issue"){
            data["typeId"] = $("#typeId").val();
            if(id != null) data["issueId"] = id;
        }
        else if(planType == "target"){
            data["issueId"] = parentId;
            if(id != null) data["targetId"] = id;
        }
        else if(planType == "kpi"){
            data["targetId"] = parentId;
            if(id != null) data["kpiId"] = id;
        }
        else if(planType == "strategy"){
            data["targetId"] = parentId;
            if(id != null) data["strategyId"] = id;
        }
        $(".form-"+planType+" input[type=text], .form-"+planType+" textarea").each(function (i) {
            var fname = $(this).attr("name");
            var fvalue = $(this).val();
            data[fname] = fvalue;
        });

        var fdata = {};
        fdata["data"] = data;

        return fdata;
    }

    function insertPlan(url, dataJSONEN) {
        $("#loading").html("กำลังบันทึกข้อมูล...");

        setTimeout(function(){
            var datas = callAjax("{{_context_path}}/api/bginfo/EduDevPlan/insert"+url, "post", dataJSONEN, "json");
            if (typeof datas !== 'undefined' && datas !== null) {
                if (datas["add"] == true) {
                    $("#loading").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');
                    setTimeout(function(){
                        $("#manageModal").modal("hide");
                        showPlanAll();
                    }, 500);
                }
                else{
                    $("#loading").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้<br>'+datas["add"]+'</span>');
                }
            }
        }, 0);
    }

    function editPlan(url, dataJSONEN, id) {
        $("#loading").html("กำลังบันทึกข้อมูล...");

        setTimeout(function(){
            var datas = callAjax("{{_context_path}}/api/bginfo/EduDevPlan/update"+url, "post", dataJSONEN, "json");
            if (typeof datas !== 'undefined' && datas !== null) {
                if (datas["update"] == true) {
                    $("#loading").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');
                    setTimeout(function(){
                        $("#manageModal").modal("hide");

                        var plan = url.toLowerCase();

                        var seq = $("#"+plan+"Seq").val();
                        var name = $("#"+plan+"Name").val();

                        if(plan == "issue" || plan == "target") {
                            $('tr[data-tt-id=' + plan + id + '] td:eq(0) > span.wording').html(seq);
                            $('tr[data-tt-id=' + plan + id + '] td:eq(1) > span.wording').html(name);
                        }
                        else{
                            $('tr[data-tt-id=' + plan + id + '] td:eq(0) > span.wording').html(seq+". "+name);
                        }

                        listArr[plan][id][plan+"Seq"] = seq;
                        listArr[plan][id][plan+"Name"] = name;
                    }, 500);
                }
                else{
                    $("#loading").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้<br>'+datas["update"]+'</span>');
                }
            }
        }, 0);
    }

    function deletePlan(url, dataJSONEN, id, parentId) {
        $("#loadingDel").html("กำลังบันทึกข้อมูล...");

        setTimeout(function(){
            var datas = callAjax("{{_context_path}}/api/bginfo/EduDevPlan/delete"+url, "post", dataJSONEN, "json");
            if (typeof datas !== 'undefined' && datas !== null) {
                if (datas["delete"] == true) {
                    $("#loadingDel").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');
                    setTimeout(function(){
                        $("#deleteModal").modal("hide");
                        var plan = url.toLowerCase();

                        if(plan == "issue"){
                            $("#table").treetable("removeNode", plan + id);
                        }
                        else if(plan == "target"){
                            $("#table").treetable("removeNode", plan + id);
                            $("#table").treetable("removeNode", plan + id + '-object');
                            var parent = $('#table').treetable('node', 'issue'+parentId);
                            if (parent.children.length == 0) {
                                parent.row.find('.indenter').html('');
                            }
                        }
                        else {
                            $('tr[data-tt-id=' + plan + id + ']').hide();
                        }
                        delete listArr[plan][id];
                    }, 100);
                }
                else{
                    $("#loadingDel").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้<br>'+datas["delete"]+'</span>');
                }
            }
        }, 0);
    }
</script>
