<div class="navbar-collapse nav-main-collapse collapse">
    <div class="container">
        <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main" id="mainMenu">
                <li>
                    <a href="{{_context_path}}/api/root/view/index">
                        หน้าหลัก
                    </a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        งบประมาณแผ่นดิน
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/budget/view/draftAll">จัดทำคำของบประมาณแผ่นดิน</a></li>
                        <li><a href="{{_context_path}}/api/budget/view/approveAll">ตรวจสอบคำของบประมาณแผ่นดิน</a></li>
                        <li><a href="{{_context_path}}/api/budget/view/finalAll">ปรับปรุงคำของบประมาณแผ่นดิน</a></li>
                        <!--<li><a href="{{_context_path}}/api/budget/view/formTracking">รายงานผลการใช้งบประมาณรายจ่ายประจำปี</a></li>
                        <li><a href="{{_context_path}}/api/budget/view/formReview">รายงานแผน/ผลการใช้งบประมาณรายจ่ายประจำปี</a></li>-->
                        <li><a href="{{_context_path}}/api/budget/view/progressBudgetPlanAll">รายงานแผนการใช้งบประมาณเงินแผ่นดินรายจ่ายประจำปี</a></li>
                        <li><a href="{{_context_path}}/api/budget/view/progressBudgetAll">รายงานผลการใช้งบประมาณเงินแผ่นดินรายจ่ายประจำปี</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        งบเงินรายได้
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/budget/allocate/managePlanning">จัดสรรงบประมาณเงินรายได้</a></li>
                        <li><a href="{{_context_path}}/api/budget/view/formRevenue">จัดทำคำชี้แจงงบประมาณเงินรายได้</a></li>
                        <li><a href="{{_context_path}}/api/budget/view/progressRevenueAll">รายงานแผน/ผลการใช้งบประมาณเงินรายได้รายจ่ายประจำปี</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="{{_context_path}}/api/affirmative/view/homeAdmin">
                        ตัวชี้วัดคำรับรอง
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/affirmative/view/center">ส่วนงานภายในมหาวิทยาลัย</a></li>
                        <li><a href="{{_context_path}}/api/affirmative/view/draftAll">ร่างตัวชี้วัดคำรับรองของส่วนงาน</a></li>
                        <li><a href="{{_context_path}}/api/affirmative/view/finalAll">จัดทำตัวชี้วัดคำรับรองของส่วนงาน</a></li>
                        <li><a href="{{_context_path}}/api/affirmative/view/resultAll">รายงานผล</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        จัดการข้อมูลเบื้องหลัง
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/member/Member/manage">ระบบจัดการผู้ใช้งาน</a></li>
                        <li><a href="{{_context_path}}/api/bginfo/view/manageEduPlan">ระบบจัดการด้านแผนยุทธศาสตร์</a></li>
                        <li><a href="{{_context_path}}/api/bginfo/ProductionPlan/manage">ระบบจัดการด้านแผนงาน และผลผลิต</a></li>
                        <li><a href="{{_context_path}}/api/bginfo/mappingPlan/manage">ระบบจัดการความสัมพันธ์ของแผนงาน</a></li>
                        <li><a href="{{_context_path}}/api/bginfo/BudgetType/manage">ระบบจัดการด้านประเภทหมวดรายจ่าย</a></li>
                        <li><a href="{{_context_path}}/api/bginfo/Department/viewDepartment">ระบบจัดการด้านหน่วยงาน</a></li>
                        <li><a href="{{_context_path}}/api/affirmative/view/setting">ระบบตั้งค่าตัวชี้วัดคำรับรอง</a></li>
                        <li><a href="{{_context_path}}/api/budget/view/setting">ระบบตั้งค่าปีงบประมาณ</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        รายงาน
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{_context_path}}/api/report/view/report3D">รายงานการจัดทำงบประมาณเงินรายได้จากงบประมาณแผ่นดิน 3 มิติ</a></li>
                        <!--<li><a href="{{_context_path}}/api/report/view/reportBudget">รายงานการจัดทำงบประมาณรายจ่ายเงินรายได้ประจำปี</a></li>-->
                        <!--<li class="dropdown-submenu">
                            <a href="{{_context_path}}/api/report/view/report3D">รายงานการจัดทำงบประมาณเงินรายได้จากงบประมาณแผ่นดิน 3 มิติ</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{_context_path}}/#">แบบ ง.1</a></li>
                                <li><a href="{{_context_path}}/#">แบบ ง.2</a></li>
                                <li><a href="{{_context_path}}/#">แบบ ง.2-1</a></li>
                                <li><a href="{{_context_path}}/#">แบบ ง.2-2</a></li>
                                <li><a href="{{_context_path}}/#">แบบ ง.3</a></li>
                                <li><a href="{{_context_path}}/#">แบบ ง.4</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">รายงานการจัดทำงบประมาณรายจ่ายเงินรายได้ประจำปี</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">แบบ ร.2</a></li>
                                <li><a href="#">แบบ ร.2-1</a></li>
                                <li><a href="#">แบบ ร.2-2</a></li>
                                <li><a href="#">แบบ ร.3</a></li>
                                <li><a href="#">แบบ ร.4</a></li>
                            </ul>
                        </li>-->
                        <!--<li class="dropdown-submenu">
                            <a href="#">รายงานอื่นๆ</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">รายงานแบบรายละเอียดคำของบประมาณ</a></li>
                                <li><a href="#">รายงานคำชี้แจงรายละเอียดรายการก่อสร้าง และปรับปรุงสิ่งก่อสร้าง</a></li>
                                <li><a href="#">รายงานตัวชี้วัดคำรับรองการปฏิบัติงาน</a></li>
                                <li><a href="#">รายงานผลการดำเนินงานตัวชี้วัดคำรับรองการปฏิบัติงาน</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

