{{> header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">{{#i18n}}memberinfo{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">เปลี่ยนรหัสผ่าน</h1>
                </div>
            </div>
            
        </div>
    </section>
    <hr class="tall dashboard">
</div>
<div class="container">
    <div class="alert alert-info" role="alert">
        ชื่อ-สกุล : {{#member}}{{fullname}}{{/member}}
    </div>   
</div>
<form class="form-horizontal" onsubmit="return Changepassword()">

    <div class="form-group">
      <label class="col-sm-3 control-label">Username : </label>
      <div class="col-sm-5">
        <p class="form-control-static">{{#member}}{{username}}{{/member}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-3 control-label">New {{#i18n}}password{{/i18n}} : *</label>
      <div class="col-sm-5">
          <input type="password" class="form-control" id="password" name="password"  placeholder="{{#i18n}}password{{/i18n}}" required>
      </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">&nbsp;</label>
        <div class="col-sm-5">
            <button type="submit" name="bt-save" id="bt-save" value="submit" class="btn btn-success" ><i class="fa fa-floppy-o"></i> เปลี่ยนรหัสผ่าน</button>
            <a class="btn btn-warning" title="เพิ่มผู้ใช้งาน" href="{{_context_path}}/api/member/Member/manage" role="button"><i class="fa fa-angle-double-left"></i> ย้อนกลับ</a>
        </div>
    </div>
</form>
{{> footer}}
<script>
$( document ).ready(function() {
    $("#password").focus();
}); 

function Changepassword(){
    var data = {};
    data['id'] = '{{#member}}{{id}}{{/member}}';
    data['password'] = $("#password").val();

    var jdata = {};
    jdata['data'] = data;
    
    var result=callAjax('{{_context_path}}/api/member/Member/savePassword', 'post', jsonEncode(jdata),'json');
    console.log(result.status);
    if (result.status == true) {
        //swal("saved", "เปลี่ยนรหัสผ่านเรียบร้อยแล้ว", "success");
        swal({   
            title: "Success",   
            text: "เปลี่ยนรหัสผ่านของ {{#member}}{{fullname}}{{/member}} เรียบร้อยแล้ว",   
            type: "success",   
            confirmButtonColor: "##64E986",   
            confirmButtonText: "ตกลง",   
            closeOnConfirm: false 
        }, 
        function(){   
            window.location.assign("{{_context_path}}/api/member/Member/manage");
        });
        setTimeout(function(){ 
            window.location.assign("{{_context_path}}/api/member/Member/manage");
        }, 3000);
        
       
    } else {
       sweetAlert("เกิดข้อผิดพลาด", "ไม่สามารถบันทึกข้อมูลได้", "error");

    }
    return false;
    
}
    
</script>