{{> header}}


    <div role="main" class="main">
        <section class="page-top none-margin">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="active">{{#i18n}}memberinfo{{/i18n}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="none-padding">จัดการผู้ใช้งานระบบ</h1>
                    </div>
                </div>
            </div>
        </section>
        <hr class="tall dashboard">
    </div>
    <div class="container">
        
        <div class="row">
            <!--
            <div class="col-md-5">
                
                <div class="form-group">
                    <label class="col-md-5 control-label" for="selectYear">{{#i18n}}role{{/i18n}}</label>
                    <div class="col-md-7">
                        <select ng-model="selectYear" class="form-control input-sm selChange" onchange="searchrole(this.value)">
                            <option value="">- แสดงทั้งหมด -</option>
                            {{#listRole}} 
                            <option value="{{id}}">{{role}}</option>
                            {{/listRole}}
                        </select>
                    </div>
                </div>
            </div>-->
            <div class="col-md-12">
                <a class="btn btn-success pull-right control-label" title="เพิ่มผู้ใช้งาน" href="{{_context_path}}/api/member/Member/create" role="button"><i class="fa fa-plus-circle"></i> เพิ่มผู้ใช้งาน</a>
            </div>
        </div>
        <br>
                                    
        <table class="table table-bordered table-condensed mb-none">
            <thead>
                <tr>
                    <th class="text-center">{{#i18n}}number{{/i18n}}</th>
                    <th class="text-center">{{#i18n}}firstname{{/i18n}}-{{#i18n}}lastname{{/i18n}}</th>
                    <th class="text-center">{{#i18n}}dept{{/i18n}}</th>
                    <th class="text-center">{{#i18n}}tel{{/i18n}}</th>
                    <th class="text-center">{{#i18n}}managerole{{/i18n}}</th>
                    <th class="text-center col-md-3">{{#i18n}}manage{{/i18n}}</th>
                </tr>
            </thead>
            <tbody id='resultmember'>
                {{#Member}} 
                <tr id='row{{id}}'>
                    <td align="center">{{rowNo}}</td>
                    <td>{{firstname}}&nbsp;&nbsp;&nbsp;{{lastname}}</td>
                    <td>{{deptName}}</td>
                    <td>{{telephone}}</td>
                    <td align="center"><a class="btn btn-default btn-sm" href="{{_context_path}}/api/member/Member/managerole/{{id}}" role="button"><i class="fa fa-users"></i> กำหนดสิทธิ์การเข้าใช้งาน</a></td>
                    <td align="center">
                        <a class="btn btn-default btn-sm" href="{{_context_path}}/api/member/Member/edit/{{id}}" role="button"><span class="fa fa-pencil-square-o" aria-hidden="true"></span> แก้ไข</a> 
                        <a class="btn btn-default btn-sm" href="{{_context_path}}/api/member/Member/changepassword/{{id}}" role="button"><span class="fa fa-refresh" aria-hidden="true"></span> เปลี่ยนรหัสผ่าน</a> 
                        <a class="btn btn-danger btn-sm" onclick="deleteMember('{{id}}')" href="#" role="button"><span class="fa fa-trash-o" aria-hidden="true"></span> ลบ</a>
                    
                    </td>
                </tr>
                {{/Member}}
            </tbody>
        </table>
    </div>
    
    
    
<script src="{{_context_path}}/apps/member/views/Member/member.js"></script>

{{> footer}}
<script>
function deleteMember(id){
    var data = {};
    data['id'] = id;
    //data['username'] = $("#username").val();
    //data['password'] = $("#password").val();

    var jdata = {};
    jdata['data'] = data;
    
    swal({   
        title: "ต้องการลบข้อมูลใช่หรือไม่?",   
        text: "การลบข้อมูลจะไม่สามารถดึงข้อมูลนี้กลับมาใช้งานอีกได้",   
        type: "warning",   
        showCancelButton: true,   
        confirmButtonColor: "#00612c",   
        confirmButtonText: "Yes, delete it!",   
        closeOnConfirm: true 
    },function(){   
        
        var result=callAjax('{{_context_path}}/api/member/Member/delete', 'post', jsonEncode(jdata),'json');
    
        if(result.status==true){
            $('#row'+id).remove();
        }else{

            sweetAlert("เกิดข้อผิดพลาด", "ไม่สามารถลบผู้ใช้งานได้", "error");

        }

        console.log(result.status);
    });
    
    
}    
function searchrole(id){
    
    //$("#resultmember").html(id);
    var data = {};
    data['roleId'] = id;
    //data['username'] = $("#username").val();
    //data['password'] = $("#password").val();

    var jdata = {};
    jdata['data'] = data;
    
    var result=callAjax('{{_context_path}}/api/member/Member/listMember', 'post', jsonEncode(jdata),'json');
    console.log(result.datas);
    
    var html="";   
    for (var i = 0; i < result.datas.length; i++) {
      
        html+="<tr>";      
         
            html+='<td align="center">'+result.datas[i].rowNo+'</td>';
            html+='<td>'+result.datas[i].firstname+' '+result.datas[i].lastname+'</td>';
            html+='<td>'+result.datas[i].deptName+'</td>';
            html+='<td>'+result.datas[i].telephone+'</td>';
            html+='<td align="center"><a class="btn btn-default btn-sm" href="{{_context_path}}/api/member/Member/managerole/{{id}}" role="button"><i class="fa fa-users"></i> แก้ไขสิทธิ์การเข้าถึง</a></td>';
            html+='<td align="center">';
                html+=' <a class="btn btn-default btn-sm" href="{{_context_path}}/api/member/Member/edit/'+result.datas[i].id+'" role="button"><span class="fa fa-pencil-square-o" aria-hidden="true"></span> แก้ไข</a>';
                html+=' <a class="btn btn-default btn-sm" href="{{_context_path}}/api/member/Member/changepassword/'+result.datas[i].id+'" role="button"><span class="fa fa-refresh" aria-hidden="true"></span> เปลี่ยนรหัสผ่าน</a>';
                html+=' <a class="btn btn-danger btn-sm" onclick="deleteMember('+result.datas[i].id+')" href="#" role="button"><span class="fa fa-trash-o" aria-hidden="true"></span> ลบ</a>';
            html+='</td>';
            
        html+="</tr>";      
    }
    
    $("#resultmember").html(html);
    
}
</script>
