{{>header}}

<div ng-app="managePlanning" ng-controller="mainCtrl" data-ng-init="init()" ng-cloak>
    <div role="main" class="main">
        <section class="page-top none-margin">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="active">ระบบจัดทำ/จัดสรรงบประมาณ</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="none-padding">ระบบจัดสรรงบประมาณ</h1>
                    </div>
                </div>
            </div>
        </section>
        <hr class="tall dashboard">
        <div class="sort-source-wrapper"><!-- button action on header -->
            <div class="container">
                <ul data-option-key="filter" data-sort-id="portfolio" class="nav nav-pills sort-source menu-top pull-right">
                    <li class="active">
                        <button ng-click="back()" ng-show="idLevel.length>=1" class="btn btn-default back"><i class="fa fa-angle-double-left"> ย้อนกลับ</i></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectYear">ปีงบประมาณ</label>
                    <div class="col-md-8">
                        <select ng-model="selectYear" ng-init="selectYear = 'udf'" class="form-control input-sm selChange">
                            <option value="udf">- เลือกปีงบประมาณ -</option>
                            <option ng-repeat="list in cmDataListYear" value="{[list.year]}">{[list.year]}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><br>
        
        <div class="row">
            <div id="formHome" class="col-md-12">
                <div id="bidderTable" class="col-md-12"><!-- table shown bidder information list -->
                   
                    
                    
                    
                    <div class="tabs">
                            <ul id="tabMenu" class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab-budget" data-toggle="tab" aria-expanded="false">จัดสรรงบประมาณเงินรายได้</a>
                                </li>
                                <li class="">
                                    <a href="#tab-project" data-toggle="tab" aria-expanded="true">จัดสรรงบประมาณโครงการพัฒนามหาวิทยาลัย</a>
                                </li>
                            </ul>
                            <div id="tabContent" class="tab-content">
                                <div id="tab-budget" class="tab-pane">
                                    
                                    
                                    
                                    <table class="table table-bordered table-condensed mb-none">
                                        <thead>
                                            <tr>
                                                <th class="text-center col-lg-1">ลำดับ</th>
                                                <th class="text-center col-lg-3">หน่วยงาน</th>
                                                <th class="text-center col-lg-2">ค่าธรรมเนียมการศึกษา</th>
                                                <th class="text-center col-lg-2">งานบริการวิชาการ</th>
                                                <th class="text-center col-lg-2">รวม</th>
                                                <th class="text-center col-lg-2">จัดการ</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="listA in dataAllocate" nk-cloak>
                                                <td class="text-center" style="vertical-align: middle;" ng-bind="$index+1"></td>
                                                <td>
                                                    <select ng-model="listA.department" class="form-control input-sm" ng-options="dep.id as dep.name for dep in cmDataListDepartment | filter:setMaster"></select>
                                                </td>
                                                <td><input ng-model="listA.education" type="text" class="form-control input-sm" number-format></td>
                                                <td><input ng-model="listA.academic" type="text" class="form-control input-sm" number-format></td>
                                                <td class="text-right" style="vertical-align: middle;" ng-bind="sumRows(listA.education,listA.academic) | currency:'':2"></td>
                                                <td class="text-center">
                                                    <button ng-show="checkEditItem($index)" ng-click="editItem($index)" class="btn btn-primary"><i class="fa fa-save"></i> บันทึก</button>
                                                    <button class="btn btn-default" ng-click="delItem($index)"><i class="fa fa-trash-o "></i> ลบ</button>
                                                </td>
                                            </tr>
                                            <tr style="background-color: #F1F1F1;">
                                                <td></td>
                                                <td>
                                                    <select ng-model="department" class="form-control input-sm" ng-options="dep.id as dep.name for dep in cmDataListDepartment | filter:setMaster">
                                                        <option value="">- เลือกหน่วยงาน -</option>
                                                    </select>
                                                </td>
                                                <td><input ng-model="education" type="text" class="form-control input-sm" number-format></td>
                                                <td><input ng-model="academic" type="text" class="form-control input-sm" number-format></td>
                                                <td class="text-right" style="vertical-align: middle;" ng-bind="sumProceeds() | currency:'':2"></td>
                                                <td class="text-center">
                                                    <button class="btn btn-success" ng-click="addItem()"><i class="fa fa-plus"></i> เพิ่ม</button>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                    
                                    
                                    
                                </div>
                                <div id="tab-project" class="tab-pane active">
                                    
                                    <table class="table table-bordered table-condensed mb-none">
                                        <thead>
                                            <tr>
                                                <th class="text-center col-lg-1">ลำดับ</th>
                                                <th class="text-center col-lg-5">โครงการ / หน่วยงานที่รับผิดชอบ</th>
                                                <th class="text-center col-lg-3">งบประมาณที่จัดสรร</th>
                                                <th class="text-center col-lg-3">จัดการ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="list in manageAPP.data" style="background-color: #F1F1F1;" nk-cloak>
                                                <td class="text-center cssCursor" style="vertical-align: middle;" ng-click="toggleShow($index)">
                                                    <i ng-hide="list.show" class="fa fa-plus-square"></i>
                                                    <i ng-show="list.show" class="fa fa-minus-square"></i>
                                                    &nbsp;{[$index+1]}
                                                </td>
                                                <td style="vertical-align: middle;"><input ng-model="list.pName" placeholder="( โครงการ )" type="text" class="form-control input-sm"></td>
                                                <td class="text-right" style="vertical-align: middle; padding-right: 17px; padding-top: 10px;">
                                                    <label ng-bind="sumItemAPPSub($index) | currency:'':2"></label>
                                                </td>
                                                <td class="text-center">
                                                    <button ng-show="list.pName!=list.pNameC" ng-click="editItemApp($index)" class="btn btn-primary"><i class="fa fa-save"></i> บันทึก</button>
                                                    <button class="btn btn-default" ng-click="delItemAPP($index)"><i class="fa fa-trash-o "></i> ลบ</button>
                                                </td>
                                            </tr>
                                            <tr ng-show="list.show" ng-repeat="listSub in list.sub">
                                                <td></td>
                                                <td style="padding-left: 25px;">
                                                    <select ng-model="listSub.depId" class="form-control input-sm" ng-options="dep.id as dep.name for dep in cmDataListDepartment | filter:setMaster">
                                                        <option value=''>- เลือกหน่วยงาน -</option>
                                                    </select>
                                                </td>
                                                <td class="text-right">
                                                     <input ng-model="listSub.depValue" type="text" class="form-control input-sm text-right" number-format>
                                                </td>
                                                <td class="text-center">
                                                    <button ng-show="checkEditItemAppSub($parent.$index+'.'+$index)" ng-click="editItemAppSub($parent.$index+'.'+$index)" class="btn btn-primary"><i class="fa fa-save"></i> บันทึก</button>
                                                    <button class="btn btn-default" ng-click="delItemAPPSub($parent.$index+'.'+$index)"><i class="fa fa-trash-o "></i> ลบ</button>
                                                </td>
                                            </tr>
                                            <tr ng-show="list.show">
                                                <td></td>
                                                <td style="padding-left: 25px;">
                                                    <select ng-model="list.depOpt" class="form-control input-sm" ng-options="dep.id as dep.name for dep in cmDataListDepartment | filter:setMaster">
                                                        <option value=''>- เลือกหน่วยงาน -</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input ng-model="list.valueTxt" type="text" class="form-control input-sm text-right" number-format>
                                                </td>
                                                <td class="text-center">
                                                    <button ng-show="list.depOpt && list.valueTxt" class="btn btn-success" ng-click="addItemAPPSub($index)"><i class="fa fa-plus"></i> เพิ่ม</button>
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end class="nk-cloak"><td colspan="4">Repeat End</td></tr>
                                            <tr style="background-color: #F1F1F1;">
                                                <td></td>
                                                <td><input ng-model="manageAPP.projectTxt" placeholder="( โครงการ )" type="text" class="form-control input-sm"></td>
                                                <td></td>
                                                <td class="text-center">
                                                    <button ng-show="manageAPP.projectTxt" class="btn btn-success" ng-click="addItemAPP()"><i class="fa fa-plus"></i> เพิ่ม</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
        
        
    </div>
    
</div>






<script type="text/javascript" src="{{_context_path}}/apps/budget/views/allocate/managePlanning.js"></script>
{{>footer}}