{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">ตัวชี้วัดคำรับรองการปฏิบัติงาน</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">ส่วนงานภายในมหาวิทยาลัย</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button class="btn btn-default back" style="display: none;"><i class="fa fa-angle-double-left"> ย้อนกลับ</i></button>
                </li>
            </ul>
        </div>
    </div><!-- end button action on header -->

    <div class="container">
        <div class="row">

            <div id="panelHome" class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs">
                            <ul id="tabMenu" class="nav nav-tabs">

                            </ul>
                            <div id="tabContent" class="tab-content">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="panelForm" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="form" onsubmit="return false;">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">ตัวชี้วัดคำรับรองการปฏิบัติงาน</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right" for="affKpiId">ตัวชี้วัด</label>
                                    <div class="col-md-6">
                                        <select type="text" class="form-control input-sm" name="affKpiId" id="affKpiId"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="no">ลำดับที่</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" name="no" id="no" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="name">ตัวชี้วัดคำรับรอง</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control input-sm" name="name" id="name" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="unit">หน่วยนับ</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" name="unit" id="unit" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req">ประเภทส่วนงาน</label>
                                    <div class="col-md-6">
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" name="isEducation" id="isEducation" checked>
                                            <label for="isEducation">จัดการศึกษา</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" name="isSupport" id="isSupport" checked>
                                            <label for="isSupport">สนับสนุนการศึกษา</label>
                                        </div>
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" name="isService" id="isService" checked>
                                            <label for="isService">บริการวิชาการ</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="remark">หมายเหตุ</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control input-sm" name="remark" id="remark" required></textarea>
                                    </div>
                                </div>
                                <div id="loadingForm" class="col-md-12 text-center"></div>
                                <div class="modal-footer">
                                    <ul class="nav nav-pills sort-source pull-right" data-option-key="filter">
                                        <li data-option-value="*" class="">
                                            <button class="btn btn-success save"><i class="fa fa-save"></i> บันทึก</button>
                                        </li>
                                        <li data-option-value="" class="padding-left">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="panelDeleteForm" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">ลบตัวชี้วัดคำรับรองการปฏิบัติงาน</h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <ul class="nav nav-pills sort-source pull-right" data-option-key="filter">
                                <li data-option-value="*" class="">
                                    <button class="btn btn-danger save"><i class="fa fa-trash"></i> ยืนยันการลบ</button>
                                </li>
                                <li data-option-value="" class="padding-left">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->

{{>footer}}

<script type="text/javascript">
    var findNode = {};
    var listArr = {};

    $(function () {
        centerForm();

        /*$("button.back").unbind("click").click(function () {
            toggleShow("home");
        })*/
    });

    function centerForm(){
        var contentArr = {};

        var datas = callAjax("{{_context_path}}/api/affirmative/center/listsAll", "post", {}, "json");
        if(typeof datas !== "undefined" && datas !== null){
            var menu = '<li class="active">'
                + '<a href="#taball" data-toggle="tab"><i class="fa fa-star"></i> ทั้งหมด</a>'
            + '</li>';

            var content = '<div id="taball" class="tab-pane active">'
                + '<table id="tableall" class="table table-hover table-bordered">'
                    + '<thead>'
                        + '<tr>'
                            + '<th class="text-center col-md-5" style="vertical-align: middle;">ตัวชี้วัดคำรับรอง ปี 2558</th>'
                            + '<th class="text-center col-md-2" style="vertical-align: middle;">หน่วยนับ</th>'
                            + '<th class="text-center col-md-2" style="vertical-align: middle;">ประเภทส่วนงานที่ต้องดำเนินการ</th>'
                            + '<th class="text-center col-md-2" style="vertical-align: middle;">หมายเหตุ</th>'
                            + '<th class="text-center col-md-1" style="vertical-align: middle;">เครื่องมือ</th>'
                        + '</tr>'
                    + '</thead>'
                    + '<tbody>'
                        + '<tr>'
                            + '<td colspan="5" class="text-center">-</td>'
                        + '</tr>'
                    + '</tbody>'
                + '</table>'
            + '</div>';

            $.each(datas["lists"], function(key1, value1){
                menu += '<li>'
                    + '<a href="#tab'+value1["typeId"]+'" data-toggle="tab">'+value1["typeName"]+'</a>'
                + '</li>';

                content += '<div id="tab'+value1["typeId"]+'" class="tab-pane">'
                    + '<table id="table'+value1["typeId"]+'" class="table table-hover table-bordered">'
                        + '<thead>'
                            + '<tr>'
                                + '<th class="text-center col-lg-5" style="vertical-align: middle;">ตัวชี้วัดคำรับรอง ปี 2558</th>'
                                + '<th class="text-center col-lg-2" style="vertical-align: middle;">หน่วยนับ</th>'
                                + '<th class="text-center col-lg-2" style="vertical-align: middle;">ประเภทส่วนงานที่ต้องดำเนินการ</th>'
                                + '<th class="text-center col-lg-2" style="vertical-align: middle;">หมายเหตุ</th>'
                                + '<th class="text-center col-lg-1" style="vertical-align: middle;">เครื่องมือ</th>'
                            + '</tr>'
                        + '</thead>'
                        + '<tbody>'
                            + '<tr>'
                                + '<td colspan="5" class="text-center">-</td>'
                            + '</tr>'
                        + '</tbody>'
                    + '</table>'
                + '</div>';

                contentArr[value1["typeId"]] = '<tr data-tt-id="type'+value1["typeId"]+'">'
                    + '<td colspan="5"><span class="text-bold" style="text-decoration: underline;">ตัวชี้วัด</span> '+value1["typeName"]+'</td>'
                + '</tr>';

                $.each(value1["issue"], function(key2, value2){
                    contentArr[value1["typeId"]] += '<tr data-tt-id="issue'+value2["issueId"]+'" data-tt-parent-id="type'+value1["typeId"]+'">'
                        + '<td colspan="5"><span class="text-bold" style="text-decoration: underline;">ประเด็นยุทธศาสตร์</span> '+value2["issueName"]+'</td>'
                    + '</tr>';

                    $.each(value2["target"], function(key3, value3){
                        contentArr[value1["typeId"]] += '<tr data-tt-id="target'+value3["targetId"]+'" data-tt-parent-id="issue'+value2["issueId"]+'">'
                            + '<td colspan="4"><span class="text-bold" style="text-decoration: underline;">เป้าประสงค์</span> '+value3["targetName"]+'</td>'
                            + '<td class="text-center"><button class="btn btn-sm btn-success add" data-pid="'+value3["targetId"]+'"><i class="fa fa-plus"></i> เพิ่ม</button></td>'
                        + '</tr>';

                        findNode[value3["targetId"]] = value1["typeId"];

                        $.each(value3["kpi"], function(key4, value4){
                            var org = [];
                            if(value4["isEducation"] == "1") org.push("- จัดการศึกษา");
                            if(value4["isSupport"] == "1") org.push("- สนับสนุนการศึกษา");
                            if(value4["isService"] == "1") org.push("- บริการวิชาการ");

                            contentArr[value1["typeId"]] += '<tr data-tt-id="aff'+value4["id"]+'" data-tt-parent-id="target'+value3["targetId"]+'">'
                                + '<td style="padding-left: 20px;">'+value4["no"]+' '+value4["name"]+'</td>'
                                + '<td class="center">'+value4["unit"]+'</td>'
                                + '<td>'+org.join('<br>')+'</td>'
                                + '<td>'+value4["remark"]+'</td>'
                                + '<td class="text-center">'
                                    + '<div class="btn-group">'
                                        + '<button type="button" class="btn btn-sm btn-warning edit" data-pid="'+value3["targetId"]+'" data-id="'+value4["id"]+'"><i class="fa fa-pencil"></i></button>'
                                        + '<button type="button" class="btn btn-sm btn-default delete" data-pid="'+value3["targetId"]+'" data-id="'+value4["id"]+'"><i class="fa fa-trash"></i></button>'
                                    + '</div>'
                                + '</td>'
                            + '</tr>';

                            listArr[value4["id"]] = value4;
                        });
                    });
                });
            });

            $("#tabMenu").html(menu);
            $("#tabContent").html(content);

            var contentAll = '';
            $.each(contentArr, function(key, value){
                contentAll += value
                $("#table"+key+" tbody").html(value);

                $("#table"+key).treetable({
                    expandable: true,
                    initialState: "expanded"
                });
            });

            $("#tableall tbody").html(contentAll);
            $("#tableall").treetable({
                expandable: true,
                initialState: "expanded"
            });

            $("button.add").unbind().click(function(){
                var parentId = $(this).attr("data-pid");

                // reset form for new insert
                $("#loadingForm").html('');
                $("#form").trigger('reset');
                $("#panelForm").modal("show");
                listsKpi(parentId);

                $("button.save").unbind("click").click(function(){
                    var isValid = true;
                    $('#form input[required]').each(function() {
                        if($(this).val() == "" && !$(this).prop("disabled"))
                            isValid = false;
                    });
                    if(isValid){
                        var fdata = dataObject(parentId, null);
                        centerInsert(parentId, fdata);
                    }
                });
            });

            centerAction();
        }
    }

    function centerAction(){
        $("button.edit").unbind("click").click(function(){
            var parentId = $(this).attr("data-pid");
            var id = $(this).attr("data-id");

            // reset form for new insert
            $("#loadingForm").html('');
            $("#form").trigger('reset');
            $("#panelForm").modal("show");
            listsKpi(parentId);

            $("#form input[type=text], #form textarea, #form select").each(function(){
                var fid = $(this).attr("id");
                $("#"+fid).val(listArr[id][fid]);
            });

            $("#form input[type=checkbox]").each(function(){
                var fid = $(this).attr("id");
                if(listArr[id][fid] == 1) $("#"+fid).prop("checked", true);
                else $("#"+fid).prop("checked", false);
            });

            $("button.save").unbind("click").click(function(){
                var isValid = true;
                $('#form input[required]').each(function() {
                    if($(this).val() == "" && !$(this).prop("disabled"))
                        isValid = false;
                });
                if(isValid){
                    var fdata = dataObject(parentId, id);
                    centerEdit(parentId, fdata);
                }
            });
        });

        $("button.delete").unbind("click").click(function(){
            var parentId = $(this).attr("data-pid");
            var id = $(this).attr("data-id");

            $("#panelDeleteForm").modal("show");
            $("#panelDeleteForm").find('td').each (function() {
                if($(this).attr("id")){
                    var aId = $(this).attr("id");
                    var name = aId.replace('Del', '');
                    $("#"+aId).html(listArr[id][name]);
                }
            });
            $("button.save").unbind("click").click(function(){
                centerDelete(parentId, id);
            });
        });
    }

    function centerInsert(parentId, fdata){
        $("#loadingForm").html("Loading...");

        setTimeout(function(){
            var dataJSON = JSON.stringify({affirmative: fdata});
            var dataJSONEN = encodeURIComponent(dataJSON);

            var datas = callAjax("{{_context_path}}/api/affirmative/center/insert", "post", dataJSONEN, "json");
            if(typeof datas !== "undefined" && datas !== null){
                var data = datas["insert"][0];
                if(data["result"] == true){
                    $("#loadingForm").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');

                    var id = data["id"];
                    listArr[id] = fdata[0];
                    listArr[id]["id"] = id;

                    var org = [];
                    if(listArr[id]["isEducation"] == "1") org.push("- จัดการศึกษา");
                    if(listArr[id]["isSupport"] == "1") org.push("- สนับสนุนการศึกษา");
                    if(listArr[id]["isService"] == "1") org.push("- บริการวิชาการ");

                    // insert node in branch
                    var  input = '<tr data-tt-id="aff'+id+'" data-tt-parent-id="target'+parentId+'">'
                        + '<td style="padding-left: 20px;">'+listArr[id]["no"]+' '+listArr[id]["name"]+'</td>'
                        + '<td class="center">'+listArr[id]["unit"]+'</td>'
                        + '<td>'+org.join('<br>')+'</td>'
                        + '<td>'+listArr[id]["remark"]+'</td>'
                        + '<td class="text-center">'
                            + '<div class="btn-group">'
                                + '<button type="button" class="btn btn-sm btn-warning edit" data-pid="'+parentId+'" data-id="'+id+'"><i class="fa fa-pencil"></i></button>'
                                + '<button type="button" class="btn btn-sm btn-default delete" data-pid="'+parentId+'" data-id="'+id+'"><i class="fa fa-trash"></i></button>'
                            + '</div>'
                        + '</td>'
                    + '</tr>';

                    var node = $("#tableall").treetable("node", "target"+parentId);
                    $("#tableall").treetable("loadBranch", node, input);

                    var node2 = $("#table"+findNode[parentId]).treetable("node", "target"+parentId);
                    $("#table"+findNode[parentId]).treetable("loadBranch", node2, input);

                    $("#panelForm").modal("hide");
                    centerAction();
                }
                else{
                    $("#loadingForm").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้</span>');
                }
            }
        }, 500);
    }

    function centerEdit(parentId, fdata){
        $("#loadingForm").html("Loading...");

        setTimeout(function(){
            var dataJSON = JSON.stringify({affirmative: fdata});
            var dataJSONEN = encodeURIComponent(dataJSON);

            var datas = callAjax("{{_context_path}}/api/affirmative/center/update", "post", dataJSONEN, "json");
            if(typeof datas !== "undefined" && datas !== null){
                if(datas["update"] == true){
                    $("#loadingForm").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');

                    var id = fdata[0]["id"];
                    listArr[id] = fdata[0];

                    var org = [];
                    if(listArr[id]["isEducation"] == "1") org.push("- จัดการศึกษา");
                    if(listArr[id]["isSupport"] == "1") org.push("- สนับสนุนการศึกษา");
                    if(listArr[id]["isService"] == "1") org.push("- บริการวิชาการ");

                    // insert node in branch
                    var  input = '<tr data-tt-id="aff'+id+'" data-tt-parent-id="target'+parentId+'">'
                        + '<td style="padding-left: 20px;">'+listArr[id]["no"]+' '+listArr[id]["name"]+'</td>'
                        + '<td class="center">'+listArr[id]["unit"]+'</td>'
                        + '<td>'+org.join('<br>')+'</td>'
                        + '<td>'+listArr[id]["remark"]+'</td>'
                        + '<td class="text-center">'
                            + '<div class="btn-group">'
                                + '<button type="button" class="btn btn-sm btn-warning" data-pid="'+parentId+'" data-id="'+id+'"><i class="fa fa-pencil"></i></button>'
                                + '<button type="button" class="btn btn-sm btn-default" data-pid="'+parentId+'" data-id="'+id+'"><i class="fa fa-trash"></i></button>'
                            + '</div>'
                        + '</td>'
                    + '</tr>';

                    var node = $("#tableall").treetable("node", "target"+parentId);
                    $("#tableall").treetable("loadBranch", node, input);

                    var node2 = $("#table"+findNode[parentId]).treetable("node", "target"+parentId);
                    $("#table"+findNode[parentId]).treetable("loadBranch", node2, input);

                    $("#panelForm").modal("hide");
                    centerAction();
                }
                else{
                    $("#loadingForm").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้</span>');
                }
            }
        }, 500);
    }

    function centerDelete(parentId, id){
        var dataJSON = JSON.stringify({affirmativeId: id});
        var dataJSONEN = encodeURIComponent(dataJSON);

        var datas = callAjax("{{_context_path}}/api/affirmative/center/delete", "post", dataJSONEN, "json");
        if(typeof datas !== "undefined" && datas !== null){
            if(datas["delete"] == true){
                $("#tableall").treetable("removeNode", "aff"+id);
                var parent = $('#tableall').treetable('node', "target"+parentId);
                if (parent.children.length == 0) {
                    parent.row.find('.indenter').html('');
                }

                $("#table"+findNode[parentId]).treetable("removeNode", "aff"+id);
                var parent = $("#table"+findNode[parentId]).treetable('node', "target"+parentId);
                if (parent.children.length == 0) {
                    parent.row.find('.indenter').html('');
                }

                $("#panelDeleteForm").modal("hide");
            }
        }
    }

    function listsKpi(targetId){
        var datas = callAjax("{{_context_path}}/api/affirmative/center/listsKpi", "post", {targetId: targetId}, "json");
        if(typeof datas !== "undefined" && datas !== null){
            var html = '<option value="">เลือกตัวชี้วัด</option>';
            $.each(datas["lists"], function(key, value){
                html += '<option value="'+value["id"]+'">'+value["kpiName"]+'</option>'
            });

            $("#affKpiId").html(html);
        }
    }

    function dataObject(parentId, id){
        var fParam = {};
        if(id != null){
            fParam["id"] = id;
        }
        fParam["affTargetId"] = parentId;
        $("#form select, #form input[type=text], #form textarea").each(function(){
            var name = $(this).attr("name");
            var val = $(this).val();

            fParam[name] = val;
        });

        $("#form input[type=checkbox]").each(function(){
            var name = $(this).attr("name");
            var val = 0;
            if($(this).is(':checked')){
                val = 1
            }

            fParam[name] = val;
        });

        var fdata = [];
        fdata.push(fParam);

        return fdata;
    }
</script>