{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <!--<div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">ตัวชี้วัดคำรับรองการปฏิบัติงาน</li>
                    </ul>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">ตั้งค่าตัวชี้วัดคำรับรองการปฏิบัติงาน</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button class="btn btn-default back" style="display: none;"><i class="fa fa-angle-double-left"> ย้อนกลับ</i></button>
                </li>
            </ul>
        </div>
    </div><!-- end button action on header -->

    <div class="container">
        <section class="panel panel-transparent">
            <div class="panel-body center">
                <form class="form-inline">
                    <div class="form-group col-sm-4">
                        <label class="control-label">ปีการศึกษา :</label>
                        <label class="control-label">{{year}}</label>
                    </div>
                    <!--                <div class="form-group">
                                         <div class="visible-md clearfix mt-md mb-md"></div>
                                    </div>-->
                    <div class="form-group col-sm-8">
                        <label class="control-label">ประเภทหน่วยงาน :</label>
                        <select class="form-control" id="listsGroup"></select>
                        <!--                        <button class="btn btn-primary" id="btnSetting">ตั้งค่า</button>-->
                    </div>
                    <!--                <div class="clearfix visible-xs mb-sm"></div>-->
                </form>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <!--                    <a href="#" class="fa fa-times"></a>-->
                </div>
                <h2 class="panel-title">ส่วน</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ชื่อส่วน</th>
                                <th class="col-sm-2">ลำดับหัวข้อ</th>
                                <th>จัดการ</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyMain">
                            <tr>
                                <td colspan="4" class="text-center">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <!--                    <a href="#" class="fa fa-times"></a>-->
                </div>
                <h2 class="panel-title">ส่วนย่อย</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="col-sm-4">ชื่อส่วนย่อย</th>
                                <th class="col-sm-1">ลำดับหัวข้อ</th>
                                <th>ประกาศ</th>
                                <th>หมายเหตุ</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyType">
                            <tr>
                                <td colspan="5" class="text-center">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="center">
                    <button class="btn btn-primary" id="btnSave" style="display: none;">บันทึก</button>
                </div>
            </div>
        </section>
    </div><!--  container  -->
</div><!-- main -->

{{>footer}}

<script type="text/javascript">
    $(document).ready(function () {
        var arrMainSeq = [];
        var arrTypeSeq = [];
        var arrTypeTitle = [];
        var arrTypeRemark = [];
        var data = [];
        listsGroup();
        $("#listsGroup").change(function () {
            $("#tbodyMain").html('<td colspan="4" class="text-center">-</td>');
            $("#tbodyType").html('<td colspan="5" class="text-center">-</td>');
            $("#btnSave").hide();
            if ($(this).val() != 0) {
                arrMainSeq = [];
                arrTypeSeq = [];
                var main = callAjax("{{_context_path}}/api/affirmative/setting/listsMain", "post", {}, "json")["lists"];
                var html = "";
                var sort = "<option value='0'>0</option>";
                $.each(main, function (km, vm) {
                    html += "<tr class='main' data-name='mainId' data-value='" + vm.mainId + "'>" +
                            "<td>" + (km + 1) + "</td>" +
                            "<td>" + vm.mainName + "</td>" +
                            "<td><select class='sortMain form-control'></select></td>" +
                            "<td><button class='btn btn-md btn-primary btnDetail' value='" + vm.mainId + "'>จัดการส่วนย่อย</button></td>" +
                            "</tr>";
                    sort += "<option value='" + (km + 1) + "'>" + (km + 1) + "</option>";
                });
                $("#tbodyMain").html(html);
                $(".sortMain").html(sort);
                getSetting();
                $(".btnDetail").unbind().click(function () {
                    var mainId = $(this).val();
                    var mainSeq = $("tr.main[data-value='" + mainId + "']").find(".sortMain").val();
                    if (mainSeq != 0) {

                        $("#btnSave").show();
                        var type = callAjax("{{_context_path}}/api/affirmative/setting/listsType", "post", {mainId: mainId}, "json")["lists"];
                        html = "";
                        sort = "<option value='0'>0</option>";
                        $.each(type, function (kt, vt) {
                            html += "<tr class='type  data-object' data-value='" + vt.typeId + "' row-index='" + kt + "' data-name='typeId' data-mainId='" + mainId + "' data-mainSeq='" + mainSeq + "'>" +
                                    "<td>" + (kt + 1) + "</td>" +
                                    "<td>" + vt.typeName + "</td>" +
                                    "<td><select class='sortType form-control data-object' data-name='typeSeq' row-index='" + kt + "'></select></td>" +
                                    "<td><textarea class='form-control data-object' data-name='title' data-value='" + vt.typeId + "' row-index='" + kt + "'>" + (typeof arrTypeTitle[vt.typeId] === "undefined" || arrTypeTitle[vt.typeId] == null ? "" : arrTypeTitle[vt.typeId]) + "</textarea></td>" +
                                    "<td><input type='text' class='form-control data-object' data-name='remark' data-value='" + vt.typeId + "' row-index='" + kt + "' value='" + (typeof arrTypeRemark[vt.typeId] === "undefined" || arrTypeRemark[vt.typeId] == null ? "" : arrTypeRemark[vt.typeId]) + "' /></td>" +
                                    "</tr>";
                            sort += "<option value='" + (kt + 1) + "'>" + (kt + 1) + "</option>";
                        });
                        $("#tbodyType").html(html);
                        $(".sortType").html(sort);
                        $(".sortType").each(function (k, v) {
                            var typeId = $(this).closest(".type").attr("data-value");
                            if (typeof arrTypeSeq[typeId] === "undefined") {
                                $(this).val("0");
                                $("textarea[data-value='" + typeId + "']").attr("disabled", true);
                                $("input[data-value='" + typeId + "']").attr("disabled", true);
                            } else {
                                $(this).val(arrTypeSeq[typeId]);
                            }
                        });
                        $(".sortType").unbind().change(function () {
                            var typeId = $(this).closest(".type").attr("data-value");
                            var seq = $(this).val();
                            if (seq != 0) {
                                $("textarea[data-value='" + typeId + "']").attr("disabled", false);
                                $("input[data-value='" + typeId + "']").attr("disabled", false);
                            } else {
                                $("textarea[data-value='" + typeId + "']").attr("disabled", true);
                                $("input[data-value='" + typeId + "']").attr("disabled", true);
                            }
                        });
                    } else {
                        $("#btnSave").hide();
                        $("#tbodyType").html('<td colspan="5" class="text-center">กำลังบันทึกข้อมูล</td>');
                        var fdata = {};
                        var groupCode = $("#listsGroup").val();
                        fdata["setting"] = {mainId: mainId, groupCode: groupCode};
                        var dataJSON = JSON.stringify(fdata);
                        var dataJSONEN = encodeURIComponent(dataJSON);
                        setTimeout(function () {
                            var msg = callAjax("{{_context_path}}/api/affirmative/setting/delete", "post", dataJSONEN, "json")["delete"];
                            if (msg == true) {
                                $("#tbodyType").html('<td colspan="5" class="text-center text-success">บันทึกสำเร็จ</td>');
                            } else {
                                $("#tbodyType").html('<td colspan="5" class="text-center text-danger">บันทึกไม่สำเร็จ</td>');
                            }
                            getSetting();
                        }, 1000);
                    }
                });
            }
        });
        function getSetting() {
            arrMainSeq = [];
            arrTypeSeq = [];
            arrTypeTitle = [];
            arrTypeRemark = [];
            var groupCode = $("#listsGroup").val();
            if (groupCode != 0) {
                var setting = callAjax("{{_context_path}}/api/affirmative/setting/listsSetting", "post", {groupCode: groupCode}, "json")["lists"];
                $.each(setting, function (ks, vs) {
                    arrMainSeq[vs.mainId] = vs.mainSeq;
                    arrTypeSeq[vs.typeId] = vs.typeSeq;
                    arrTypeTitle[vs.typeId] = vs.title;
                    arrTypeRemark[vs.typeId] = vs.remark;
                });
                $(".sortMain").each(function (k, v) {
                    var mainId = $(this).closest(".main").attr("data-value");
                    if (typeof arrMainSeq[mainId] === "undefined") {
                        $(this).val("0");
                        $(".btnDetail[value='" + mainId + "']").text("บันทึก");
                    } else {
                        $(this).val(arrMainSeq[mainId]);
                        $(".btnDetail[value='" + mainId + "']").text("จัดการส่วนย่อย");
                    }
                });
                $(".sortMain").change(function () {
                    var mainSeq = $(this).val();
                    var row = $(this).closest("tr");
                    if (mainSeq == 0) {
                        row.find(".btnDetail").text("บันทึก");
                    } else {
                        row.find(".btnDetail").text("จัดการส่วนย่อย");
                    }
                });
            }
        }
        function listsGroup() {
            var data = callAjax("{{_context_path}}/api/affirmative/setting/listsGroup", "post", {}, "json")["lists"];
            var option = "<option value='0'>เลือกประเภท</option>";
            $.each(data, function (k, v) {
                option += "<option value='" + v.actTypeCode + "'>" + v.actTypeName + "</option>";
            });
            $("#listsGroup").html(option);
        }

        $("#btnSave").click(function () {
            data = [];
            var typeId = 0;
            var groupCode = $("#listsGroup").val();
            $(".data-object").each(function (k, v) {
                var dname = $(this).attr("data-name");
                var index = $(this).attr("row-index");
                if (dname == "typeId") {
                    data[index] = {};
                    data[index]["typeId"] = $(this).attr("data-value");
                    data[index]["mainId"] = $(this).attr("data-mainId");
                    data[index]["mainSeq"] = $(this).attr("data-mainSeq");
                    data[index]["groupCode"] = groupCode;
                } else {
                    data[index][dname] = $(this).val();
                }
            });
            var fdata = {};
            fdata["setting"] = data;
            var dataJSON = JSON.stringify(fdata);
            var dataJSONEN = encodeURIComponent(dataJSON);
            var msg;
            $("#btnSave").hide();
            $("#tbodyType").html('<td colspan="5" class="text-center">กำลังบันทึกข้อมูล</td>');
            setTimeout(function () {
                msg = callAjax("{{_context_path}}/api/affirmative/setting/set", "post", dataJSONEN, "json")["set"];
                if (msg == true) {
                    $("#tbodyType").html('<td colspan="5" class="text-center text-success">บันทึกสำเร็จ</td>');
                } else {
                    $("#tbodyType").html('<td colspan="5" class="text-center text-danger">บันทึกไม่สำเร็จ</td>');
                }
                getSetting();
            }, 1000);
        });
    });
</script>


