{{>headerLogin}}
<div role="main" class="main">
    <div class="row">
        <div class="col-md-6">
            <div class="recent-posts push-bottom">
                <h2>โครงการระบบสารสนเทศเพื่อการจัดการงบประมาณ และประสิทธิภาพการดำเนินโครงการ</h2>                
                <div class="row">

                    <!--
                    <div class="owl-carousel" data-plugin-options='{"items": 1}'>
                        <div>
                            <div class="col-md-6">
                                <article>
                                    <div class="date">
                                        <span class="day">15</span>
                                        <span class="month">Jan</span>
                                    </div>
                                    <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article>
                                    <div class="date">
                                        <span class="day">15</span>
                                        <span class="month">Jan</span>
                                    </div>
                                    <h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                </article>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-6">
                                <article>
                                    <div class="date">
                                        <span class="day">12</span>
                                        <span class="month">Jan</span>
                                    </div>
                                    <h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article>
                                    <div class="date">
                                        <span class="day">11</span>
                                        <span class="month">Jan</span>
                                    </div>
                                    <h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                </article>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-6">
                                <article>
                                    <div class="date">
                                        <span class="day">15</span>
                                        <span class="month">Jan</span>
                                    </div>
                                    <h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article>
                                    <div class="date">
                                        <span class="day">15</span>
                                        <span class="month">Jan</span>
                                    </div>
                                    <h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                </article>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}