{{> header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">{{#i18n}}bgi.bginfo{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}bgi.planService{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>
    <hr class="tall dashboard">
</div>
<div class="container" ng-app="viewPlan" ng-controller="tableController">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectYear">{{#i18n}}bgi.budgetYear{{/i18n}}</label>
                <div class="col-md-8">
                    <select id="selectYear" name="selectYear" ng-model="selectYear" ng-init="selectYear='udf'" class="form-control input-sm selChange" ng-change="selectChange()">
                        <option value="udf">- เลือกปีงบประมาณ -</option>
                        <option value="2558">2558</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectBudget">งบประมาณ</label>
                <div class="col-md-8">
                    <select id="selectBudget" name="selectBudget" ng-model="selectBudget" ng-init="selectBudget='udf'" class="form-control input-sm selChange" ng-change="selectChange()">
                        <option value="udf">- เลือกประเภทประมาณ -</option>
                        <option value="Revenue">งบประมาณแผ่นดิน</option>
                        <option value="Budget">งบประมาณเงินรายได้</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">

        <div id="formHome" class="col-md-12">
            <div id="bidderTable" class="col-md-12"><!-- table shown bidder information list -->
                <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                    <thead>
                        <tr>
                            <th class="text-center col-lg-1">ลำดับ</th>
                            <th class="text-center col-lg-8">แผนงาน</th>
                            <th class="text-center col-lg-3">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody id="tdtable">
                        <tr ng-show="selectYear == 'udf' || selectBudget == 'udf'">
                            <td colspan="3" class="text-center">กรุณาเลือกปีงบประมาณและงบประมาณ</td>
                        </tr>
                        <tr ng-show="selectYear != 'udf' && selectBudget != 'udf'">   
                            <td class="text-center"></td> 
                            <td class="text-center">    
                                <div class="form-group" ng-class="txtPlanAddClass">        
                                    <input class="form-control" ng-model="txtPlanAdd" ref-id="txtPlanAdd" placeholder="ชื่อแผนงาน" type="text">     
                                </div>  
                            </td>  
                            <td class="text-center"> 
                                <button ref-id="btnSave" class="btn btn-success" ng-click="insertPlan(selectYear,txtPlanAdd,selectBudget)"><i class="fa fa-plus"></i> เพิ่ม</button>  
                            </td>
                        </tr>
                        <tr ng-repeat="list in data" ng-show="selectYear != 'udf' && selectBudget != 'udf'">   
                            <td class="text-center">
                                {[$index+1]}
                            </td> 
                            <td>      
                                {[ list.planName ]}     
                            </td>   
                            <td class="text-center">    
                                <button ref-id="btnEdit" class="btn btn-warning" ng-click="updatePlan()"><i class="fa fa-pencil"></i> แก้ไข</button>    
                                <button ref-id="btnUpdate" class="btn btn-success" style="display:none;"><i class="fa fa-floppy-o"></i> แก้ไข</button>   
                                <button ref-id="btnDel" class="btn btn-danger" ng-click="deletePlan($index,list.id,selectBudget)"><i class="fa fa-trash-o "></i> ลบ</button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- end table shown bidder information list -->
        </div>
        <div id="formBudget" class="col-md-12" style="display: none;">
        </div>
    </div><!--  row  -->
    
</div><!--  container  -->


{{> footer}}
<script src="{{_context_path}}/apps/bginfo/views/ProductionPlan/js/viewNK.js"></script>
