{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">{{#i18n}}bgi.bginfo{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}bgi.departmentService{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>
</div>
<hr class="tall dashboard">
<div class="sort-source-wrapper"><!-- button action on header -->
    <div class="container">
        <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
            <li class="active">
                <button class="btn btn-default back" style="display: none;" get-form="campus">
                    <i class="fa fa-angle-double-left">ย้อนกลับ</i>
                </button>
            </li>
        </ul>
    </div>
</div><!-- end button action on header -->
<div class="container">

    <div class="tabs">
        <ul id="tabMenu" class="nav nav-tabs"> <!--inner with javascript--> </ul>
        <div id="tabContent" class="tab-content">
            <div id="panel1" class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button id="add-main-dept" class="btn btn-success"><i class="fa fa-plus-circle"></i>
                                    เพิ่มหน่วยงานหลัก
                                </button>
                            </div>
                        </div>
                        &nbsp
                        <table class="table table-bordered table-striped mb-none treetable" id="table-expand">
                            <thead>
                            <tr>
                                <th class="col-md-10">{{#i18n}}bgi.department{{/i18n}}</th>
                                <th class="col-md-2">Manage Function</th>
                            </tr>
                            </thead>
                            <tbody id="table-body">

                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <!--end tab content-->
        </div>
    </div>
</div><!--  container  -->
<!-- Modal-->
<div id="modal-block" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

        </div>
    </div>
</div>
<!-- Modal -->

{{>footer}}
<link rel="stylesheet" href="{{_context_path}}/asset/vendor/jquery-treetable/css/jquery.treetable.css" type="text/css"/>
<script type="text/javascript" src="{{_context_path}}/asset/vendor/jquery-treetable/jquery.treetable.js"></script>
<script type="text/javascript">

    var GET = 'GET', POST = 'POST', PARAMS = {};

    $(document).ready(function () {


        initialHeadTab();
        function initialHeadTab() {

            callAjax('{{_context_path}}/api/bginfo/Department/fetchCampus', GET, PARAMS, function (data) {
                var html = '';
                for (var i = 0; i < data.listsCampus.length; i++) {
                    if (i == 0) {
                        html += '<li class="active"><a href="#tab' + i + '" data-toggle="tab" aria-expanded="false">' + data.listsCampus[i].CAMPUSNAME + '</a></li>';
                    } else {
                        html += '<li class=""><a href="#tab' + i + '" data-toggle="tab" aria-expanded="false">' + data.listsCampus[i].CAMPUSNAME + '</a></li>';
                    }
                }
                html += '<li class=""><a href="#tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-plus-circle"></i> เพิ่มวิทยาเขต</a></li>';
                $("#tabMenu").html(html);

            });
            innerTab(3);
        }


        function innerTab(campus_id) {

            callAjax('{{_context_path}}/api/bginfo/Department/fetchDepartment', GET, {campusID: campus_id}, function (data) {

                var html = '';

                for (var i = 0; i < data.listsDepartment.length; i++) {

                    html += '<tr data-tt-id="' + data.listsDepartment[i].DEPARTMENTID + '">';
                    html += '<td><span class="folder">' + data.listsDepartment[i].DEPARTMENTNAME + '</span></td>';
                    html += '<td style="text-align: center"><button data-form="bg140" class="btn btn-warning edit" title="แก้ไข"><i class="fa fa-pencil"></i></button>&nbsp;';
                    html += '<button data-form="bg140" class="btn btn-default delete" title="ลบ"><i class="fa fa-trash"></i></button></td></tr>';

                    for (var j = 0; j < data.listsDepartment[i].subDepartment.length; j++) {

                        var sub = data.listsDepartment[i].subDepartment[j];
                        if (j == 0) {
                            //add btn
                            html += '<tr data-tt-id="' + sub.DEPARTMENTID + '" data-tt-parent-id="' + sub.MASTERID + '"><td colspan="2" class="text-right"><button class="btn btn-success"><i class="fa fa-plus-circle"></i> เพิ่มหน่วยงานย่อย</button></td></tr>';
                        }
                        html += '<tr data-tt-id="' + sub.DEPARTMENTID + '" data-tt-parent-id="' + sub.MASTERID + '">';
                        html += '<td>' + sub.DEPARTMENTNAME + '</td>';
                        html += '<td style="text-align: center"><button data-form="bg140" class="btn btn-warning edit" title="แก้ไข"><i class="fa fa-pencil"></i></button>&nbsp;';
                        html += '<button data-form="bg140" class="btn btn-default delete" title="ลบ"><i class="fa fa-trash"></i></button></td></tr>';
                    }
                }
                $("#table-body").html(html);
                $("#table-expand").treetable({
                    expandable: true
                });
            });

        }

        $(document).on('click', "#add-main-dept", function () {

            var row = '<tr style="text-align: center"><td><input type="text" class="form-control"></td>';
            row += '<td><button data-form="bg140" class="btn btn-success save" title="บันทึก"><i class="fa fa-pencil"></i></button>&nbsp;';
            row += '<button data-form="bg140" class="btn btn-default delete" title="ยกเลิก"><i class="fa fa-stop"></i></td></tr>';

            $("#table-expand tr").eq(0).after(row);
        });


        function callAjax(url, type, param, handleData) {

            $.ajax({
                url: url,
                type: type,
                data: param,
                async: false, //blocks window close
                success: function (data) {
                    handleData(data);
                },
                error: function (err) {
                    alert('error; ' + err);
                }
            });
        }

    }); //document ready


</script>
