{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">{{#i18n}}bgi.bginfo{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}bgi.planService{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>
    <hr class="tall dashboard">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectYear">{{#i18n}}bgi.budgetYear{{/i18n}}</label>
                <div class="col-md-8">
                    <select id="selectYear" name="selectYear" class="form-control input-sm selChange" required="">
                        <option value="">- เลือกปีงบประมาณ -</option>
                        <option value="2558">2558</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectBudget">งบประมาณ</label>
                <div class="col-md-8">
                    <select id="selectBudget" name="selectBudget" class="form-control input-sm selChange" required="">
                        <option value="">- เลือกประเภทประมาณ -</option>
                        <option value="revenue">งบประมาณแผ่นดิน</option>
                        <option value="budget">งบประมาณเงินรายได้</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">

        <div id="formHome" class="col-md-12">
            <div id="bidderTable" class="col-md-12"><!-- table shown bidder information list -->
                <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                    <thead>
                        <tr>
                            <th class="text-center col-lg-1">ลำดับ</th>
                            <th class="text-center col-lg-8">แผนงาน</th>
                            <th class="text-center col-lg-3">สถานะ</th>
                        </tr>
                    </thead>
                    <tbody id="tdtable">
                        <tr>
                            <td colspan="3" class="text-center">ปีงบประมาณ</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- end table shown bidder information list -->
        </div>
        <div id="formBudget" class="col-md-12" style="display: none;">
        </div>
    </div><!--  row  -->
    
</div><!--  container  -->

{{>footer}}
<script type="text/javascript">
    $(document).ready(function () {
        $(".selChange").change(function () {
            
            $.post("{{_context_path}}/api/bginfo/ProductionPlan/fetchPlan", {year: $("#selectYear").val(),budget:$("#selectBudget").val()}, function (data) {
                $("#tdtable").html("");
                if(data.listsPlan.length!==0){
                    var ilast=0;
                    for (var i=0;i<data.listsPlan.length;i++) {
                        ilast++;
                        var html = "";
                        html += '<tr row-id="'+data.listsPlan[i].id+'">';
                        html += '   <td class="text-center">'+(i+1)+'</td>';
                        html += '   <td>'+data.listsPlan[i].planName+'</td>';
                        html += '   <td class="text-center">';
                        html += '       <button ref-id="btnEdit" class="btn btn-warning"><i class="fa fa-pencil"></i> แก้ไข</button>';
                        html += '       <button ref-id="btnUpdate" class="btn btn-success" style="display:none;"><i class="fa fa-floppy-o"></i> แก้ไข</button>';
                        html += '       <button ref-id="btnDel" class="btn btn-danger"><i class="fa fa-trash-o "></i> ลบ</button>';
                        html += '       <button ref-id="btnUnDel" class="btn btn-danger" style="display:none;"><i class="fa fa-undo"></i> ยกเลิก</button>';
                        html += '   </td>';
                        html += '</tr>';
                        $("#tdtable").append(html);
                    }

                    var html = "";
                    html += '<tr>';
                    html += '   <td class="text-center"></td>';
                    html += '   <td class="text-center">';
                    html += '       <div class="form-group">';
                    html += '           <input type="text" class="form-control" ref-id="txtPlanAdd" placeholder="ชื่อแผนงาน">';
                    html += '       </div>';
                    html += '   </td>';
                    html += '   <td class="text-center">';
                    html += '       <button ref-id="btnSave" class="btn btn-success"><i class="fa fa-plus"></i> เพิ่ม</button>';
                    html += '   </td>';
                    html += '</tr>';
                    $("#tdtable").prepend(html);
                }else{
                    $("#tdtable").html('<tr><td colspan="3" class="text-center">ไม่พบข้อมูล</td></tr>');
                }
            });

        });
        
        $(document).on("click","[ref-id=btnSave]",function(){
            
            var saveToData = {data:{planName:$("[ref-id=txtPlanAdd]").val(),budgetYear:$("#selectYear").val(),isActive:1},com:"add"};
            $.post("{{_context_path}}/api/bginfo/ProductionPlan/savePlan",JSON.stringify(saveToData), function (req) {
                
                //alert(JSON.stringify(req, null, 4));
                
                if(req.reqSavePlan!=="exist"){
                    $("[ref-id=txtPlanAdd]").parent("div").removeClass("has-error");
                    var html = "";
                    html += '<tr row-id="'+req.reqSavePlan.id+'">';
                    html += '   <td class="text-center">'+$("#tdtable").find("tr").length+'</td>';
                    html += '   <td>'+$("[ref-id=txtPlanAdd]").val()+'</td>';
                    html += '   <td class="text-center">';
                    html += '       <button ref-id="btnEdit" class="btn btn-warning"><i class="fa fa-pencil"></i> แก้ไข</button>';
                    html += '       <button ref-id="btnUpdate" class="btn btn-success" style="display:none;"><i class="fa fa-floppy-o"></i> แก้ไข</button>';
                    html += '       <button ref-id="btnDel" class="btn btn-danger"><i class="fa fa-trash-o "></i> ลบ</button>';
                    html += '       <button ref-id="btnUnDel" class="btn btn-danger" style="display:none;"><i class="fa fa-undo"></i> ยกเลิก</button>';
                    html += '   </td>';
                    html += '</tr>';
                    $("#tdtable").append(html);
                    $("[ref-id=txtPlanAdd]").val("");
                        
                }else{
                    $("[ref-id=txtPlanAdd]").parent(".form-group").addClass("has-error");
                }
            
            });
            
        });
        
        $(document).on("click","[ref-id=btnEdit]",function(){
            
                var html = "";
                html += '<div class="form-group">';
                html += '   <input type="text" class="form-control" value="'+$(this).parents("tr").find("td").eq(1).html()+'" ref-id="txtPlanEdit" placeholder="แก้ไขชื่อแผนงาน">';
                html += '</div>';
                $(this).parents("tr").find("td").eq(1).html(html);
                $(this).parents("tr").find("[ref-id=btnEdit]").hide();
                $(this).parents("tr").find("[ref-id=btnDel]").hide();
                $(this).parents("tr").find("[ref-id=btnUpdate]").show();
            
            
        });
        
        $(document).on("click","[ref-id=btnUpdate]",function(){
            var saveToData = {data:{id:$(this).parents("tr").attr("row-id"),planName:$(this).parents("tr").find("[ref-id=txtPlanEdit]").val()},com:"update"};
            //alert(JSON.stringify(saveToData, null, 4));
            var thisform = $(this).parents("tr").find(".form-group");
            $.post("{{_context_path}}/api/bginfo/ProductionPlan/savePlan",JSON.stringify(saveToData), function (req) {
                if(req.reqSavePlan!=="exist"){
                    $("[row-id="+req.reqSavePlan.id+"]").find("td").eq(1).html($("[row-id="+req.reqSavePlan.id+"]").find("[ref-id=txtPlanEdit]").val());
                    $("[row-id="+req.reqSavePlan.id+"]").find("[ref-id=btnUpdate]").hide();
                    $("[row-id="+req.reqSavePlan.id+"]").find("[ref-id=btnDel]").show();
                    $("[row-id="+req.reqSavePlan.id+"]").find("[ref-id=btnEdit]").show();
                }else{
                    thisform.addClass("has-error");
                }
                
            });
            
        });
        
        $(document).on("click","[ref-id=btnDel]",function(){
            
            
            if(confirm("ยืนยันการลบข้อมูล")){
                var ithis = $(this);
                var saveToData = {data:{id:$(this).parents("tr").attr("row-id")}};
                $.post("{{_context_path}}/api/bginfo/ProductionPlan/delPlan",JSON.stringify(saveToData), function (req) {
                    ithis.parents("tr").remove();
                    //alert($("#tdtable").find("tr").length-1);
                    for(var i=0;i<$("#tdtable").find("tr").length-1;i++){
                        $("#tdtable").find("tr").eq((i+1)).find("td").eq(0).text((i+1));
                    }
                    
                });
            }
            
        });


    });
</script>