{{> header}}
<!-- insert and initial for AngularJS into divMain -->
<div ng-app="formBudget" ng-controller="mainController" role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">ระบบจัดทำ/จัดสรรงบประมาณ</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 id="navBgDept" class="none-padding">จัดทำคำของบประมาณแผ่นดิน</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button class="btn btn-success goChoice"><i class="fa fa-plus-circle"> เพิ่มคำขอ</i></button>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div id="divHome" class="col-md-12">
                <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                    <thead>
                        <tr>
                            <th class="text-center col-md-1">ลำดับ</th>
                            <th class="text-center col-md-1">แบบคำขอ</th>
                            <th class="text-center col-md-4">หน่วยงาน</th>
                            <th class="text-center col-md-2">แผนงาน</th>
                            <th class="text-center col-md-2">กองทุน</th>
                            <th class="text-center col-md-2">เครื่องมือ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6" class="text-center">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="divChoice" class="col-md-12" style="display: none;">
                <section class="panel panel-featured panel-featured-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">แบบฟอร์มคำของบประมาณ</h2>
                    </div>
                    <div class="panel-body">
                        <div id="panel1">
                            <form id="formChoice" onsubmit="return false;">
                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="budgetPeriodId">ปีงบประมาณ
                                        : </label>

                                    <div class="col-md-6">
                                        <select id="budgetPeriodId" name="budgetPeriodId" class="form-control input-sm"
                                                required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="budgetTypeCode">แหล่งเงิน
                                        : </label>

                                    <div class="col-md-6">
                                        <select id="budgetTypeCode" name="budgetTypeCode" class="form-control input-sm"
                                                required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="l3dPlanId">แผนงาน
                                        : </label>

                                    <div class="col-md-6">
                                        <select id="l3dPlanId" name="l3dPlanId" class="form-control input-sm" required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="fundgroupId">กองทุน
                                        : </label>

                                    <div class="col-md-6">
                                        <select id="fundgroupId" name="fundgroupId" class="form-control input-sm"
                                                required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="facultyId">คณะ : </label>

                                    <div class="col-md-6">
                                        <select id="facultyId" name="facultyId" class="form-control input-sm" required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="deptId">สาขา : </label>

                                    <div class="col-md-6">
                                        <select id="deptId" name="deptId" class="form-control input-sm" required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                            <div id="panel2" style="margin-top: 20px;">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">แบบฟอร์มคำของบประมาณแผ่นดิน</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

            <div id="divForm" class="col-md-12" style="display: none;"></div>
            <div id="divAttachment" class="col-md-12" style="display: none;"></div>
        </div>
    </div>
</div>

{{> footer}}