{{> header}}
<!-- insert and initial for AngularJS into divMain -->
<div ng-app="formBudget" ng-controller="mainController" role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">ระบบจัดทำ/จัดสรรงบประมาณ</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 id="navBgDept" class="none-padding">จัดทำคำของบประมาณแผ่นดิน</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button class="btn btn-success goChoice"><i class="fa fa-plus-circle"> เพิ่มคำขอ</i></button>
                    <button class="btn btn-default backHome" style="display: none;"><i class="fa fa-angle-double-left">
                        ย้อนกลับ</i></button>
                    <button class="btn btn-default backChoice" style="display: none;"><i
                            class="fa fa-angle-double-left"> ย้อนกลับ</i></button>
                    <button class="btn btn-default backAttachment" style="display: none;"><i
                            class="fa fa-angle-double-left"> ย้อนกลับ</i></button>
                </li>
            </ul>
        </div>
    </div>
    <!-- end button action on header -->

    <div class="container">
        <div class="row">

            <div id="divHome" class="col-md-12">
                <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                    <thead>
                    <tr>
                        <th class="text-center col-lg-1">แบบคำขอ</th>
                        <th class="text-center col-lg-4">หน่วยงาน</th>
                        <th class="text-center col-lg-3">แผนงาน</th>
                        <th class="text-center col-lg-2">กองทุน</th>
                        <th class="text-center col-lg-2">เครื่องมือ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="3" class="text-center">-</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="divChoice" class="col-md-12" style="display: none;">
                <section class="panel panel-featured panel-featured-success">
                    <div class="panel-heading">
                        <h2 class="panel-title">แบบฟอร์มคำของบประมาณ</h2>
                    </div>
                    <div class="panel-body">
                        <div id="panel1">
                            <form id="formChoice" onsubmit="return false;">
                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="budgetPeriodId">ปีงบประมาณ
                                        : </label>

                                    <div class="col-md-6">
                                        <select id="budgetPeriodId" name="budgetPeriodId" class="form-control input-sm"
                                                required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="budgetTypeCode">แหล่งเงิน
                                        : </label>

                                    <div class="col-md-6">
                                        <select id="budgetTypeCode" name="budgetTypeCode" class="form-control input-sm"
                                                required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="l3dPlanId">แผนงาน
                                        : </label>

                                    <div class="col-md-6">
                                        <select id="l3dPlanId" name="l3dPlanId" class="form-control input-sm" required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>

                                <!--
                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="projectId">ผลผลิต/โครงการ
                                        : </label>

                                    <div class="col-md-6">
                                        <select id="projectId" name="projectId" class="form-control input-sm" required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>
                                -->
                                <!--<div class="form-group">
                                    <label class="col-md-3 control-label text-right" for="budgetPlanId">แผนงาน 3 มิติ : </label>
                                    <div class="col-md-6">
                                        <select id="budgetPlanId" name="budgetPlanId" class="form-control input-sm" required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="fundgroupId">กองทุน
                                        : </label>

                                    <div class="col-md-6">
                                        <select id="fundgroupId" name="fundgroupId" class="form-control input-sm"
                                                required>
                                <option value="">เลือก</option>
                                </select>
                        </div>
                    </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="facultyId">คณะ : </label>

                                    <div class="col-md-6">
                                        <select id="facultyId" name="facultyId" class="form-control input-sm" required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label text-right req" for="deptId">สาขา : </label>

                                    <div class="col-md-6">
                                        <select id="deptId" name="deptId" class="form-control input-sm" required>
                                            <option value="">เลือก</option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                            <div id="panel2" style="margin-top: 20px;">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">แบบฟอร์มคำของบประมาณแผ่นดิน</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

            <!-- divForm Jquery -->
            <!--<button type="button" id="t1" class="btn btn-default">T1</button>-->
            <!--<button type="button" id="t2" class="btn btn-default">T2</button>-->
            <div id="divForm" class="col-md-12" style="display: none;"></div>
            <div id="divAttachment" class="col-md-12" style="display: none;"></div>

            <!--</div>-->
            <!-- divForm AngularJs -->
            <!--
            <div ng-show="!activeNg" id="divForm" class="col-md-12" style="display: none;"></div>
            <div id="divAttachment" class="col-md-12" style="display: none;"></div>

            <div ng-show="activeNg">
                <div ng-if="activeTemplate === 'project'" ng-controller="projectForm" data-ng-init="init()">
                    <project-template></project-template>
                </div>
                <div ng-if="activeTemplate === 'manageDepartment'" ng-controller="manageDepartment" data-ng-init="init()">
                    <managedepartment-template></managedepartment-template>
                </div>
            </div> -->

            <!-- MODAL For Map -->
            <div id="modalMap" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-map-o"></i> แผนที่</h4>
                        </div>
                        <div class="modal-body">
                            <div class="btn-group" id="btnGroup">
                                <button type="button" id="point" class="btn btn-default active">Point</button>
                                <button type="button" id="line" class="btn btn-default">Line</button>
                                <button type="button" id="poly" class="btn btn-default">Polygon</button>
                                <button type="button" id="circle" class="btn btn-default">Circle</button>
                            </div>
                            <div id="showInfo" style="margin-top: 10px;"><i class="fa fa-map-marker"> พิกัดภูมิศาสตร์</i></div>
                            <div id="map" style="height: 450px; margin-top: 10px;"></div>
                            <div id="showInfoFotter" class="text-center" style="margin-top: 10px;"></div>
                        </div>
                        <div id="loadingModalMap" class="text-center"></div>
                        <div class="modal-footer" id="modalMapFooter" style="margin-top: 0px;">
                            <button type="button" class="btn btn-success saveMap"> บันทึก</button>
                            <button type="button" data-dismiss="modal" class="btn btn-default cancel"> ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MODAL For Map-->

        </div>
        <!--  row  -->
    </div>
    <!--  container  -->
</div>
<!-- main -->

{{> footer}}
<style type="text/css">
    .modal-dialog {
        width: 820px;
    }

</style>

<script type="text/javascript">
    var js_context_path = "{{_context_path}}";</script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg140.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg141.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg142.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg143.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg144.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg145.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/bg146.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/buildingOne.js"></script>
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/buildingMore.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv9gXQrEbOEH_JGiqm_rO5Mv67nzs8m8g&callback=initMap" async defer></script>-->
<!-- initial AngularJS file -->
<script type="text/javascript" src="{{_context_path}}/apps/budget/views/initNg.js"></script>
<!--     <script type="text/javascript" src="{{_context_path}}/apps/budget/views/project/project.js"></script>
    <script type="text/javascript" src="{{_context_path}}/apps/budget/views/allocate/manageDepartment.js"></script>
-->

<script type="text/javascript">

    var STATUSPROGRESS = 1, STATUSWAITING = 2, STATUSAPPROVE = 3, STATUSEDITING = 4;
    var PERMISSION = "DEPARTMENT";
    var isForm = 0;
    var budgetPeriodArr = {};
    var budgetTypeArr = {};
    var planArr = {};
    var projectArr = {};
    var fundgroupArr = {};
    var facultyArr = {};
    var departmentArr = {};
    var listSTATUSTRACKING = [];
    var labelNameMarker = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'; // nameMarker
    var labelMarkerIndex = 0; // index label
    var markerArray = []; // marker for select on map
    var markerArrayForUse = []; //use latlng only use to DB
    var markerArrayInfo = []; // marker for show
    var optionMap = "point"; //default
    var optionMapUse = ""; // use to DB
    var linePathArr = []; //store latLng
    var polyLineArray = []; //store object polyLine
    var polygonArr = [];//store latLng
    var polygonSimpleArr = [];//store object polygon
    var CircleMap; // hadler object Circle
    var canClickMap = true;
    var coordinatesChange;
    var hashMaptype = [];
    hashMaptype["point"] = "รูปแบบจุด";
    hashMaptype["line"] = "รูปแบบเส้น";
    hashMaptype["poly"] = "รูปแบบรูปทรง";
    hashMaptype["circle"] = "รูปแบบวงกลม";
    var positionCenter;

    $(function () {

        loadScript('https://maps.googleapis.com/maps/api/js?key=AIzaSyBv9gXQrEbOEH_JGiqm_rO5Mv67nzs8m8g&callback=initMap',
                function () {
                    console.log('google-loader has been loaded');
                    positionCenter = new google.maps.LatLng(13.8192445, 100.513857);
                });
        listsFormSaved();
        listsStatusTracking();
        toggleShow("home");
        $("#budgetPeriodId, #budgetTypeCode, #l3dPlanId, #fundgroupId, #facultyId, #deptId").select2().trigger("change");
        // choice changed
        $("#budgetPeriodId").change(function () {
            isForm = 0;
            listsForm($(this).val());
            listsPlan3D();
            //listsPlan($(this).val());
            //listsProject("");
        });
        $("#budgetTypeCode").change(function () {

        });
        $("#l3dPlanId").change(function () {
            //listsProject($(this).val());
            periodId = $("#budgetPeriodId").val();
            plan = $(this).val();
            listFundgroupWithPlan(periodId, plan);
        });
        $("#facultyId").change(function () {
            listsDepartment($(this).val());
        });
        // button action
        $("button.goChoice").unbind("click").click(function () {
            toggleShow("choice");
        });
        $("button.backHome").unbind("click").click(function () {
            toggleShow("home");
        });
        var id = $(this).attr('data-id');
        $("button.backChoice").unbind("click").click(function () {
            toggleShow("choice");
        });
        $("button.backAttachment").unbind("click").click(function () {
            toggleShow("form");
        });
        $(document).on('click', '#btnViewForm', function (event) {
            var year = $(this).attr('data-year');
            var form = $(this).attr('data-form');
            var dept = $(this).attr('data-dept');
            var fund = $(this).attr('data-fund');
            var plan = $(this).attr('data-plan');

            //go to form
            var item = {};
            item.budgetPeriodId = year;
            item.budgetTypeCode = 'G';
            item.deptId = dept;
            item.fundgroupId = fund;
            item.l3dPlanId = plan;
            item.formId = form;
            toFormBudget(item);
            

            budgetPeriodArr["year"] = year;
            budgetTypeArr["budgetTypeCode"] = 'G';
            planArr["fundgroupId"] = fund;
            fundgroupArr["facultyId"] = year;
            facultyArr["deptId"] = dept;
            departmentArr["deptId"] = dept;
        });
    });
    function listsFormSaved() {

        var param = {
            budgetPeriodId: 2558,
            deptId: 0,
            budgetTypeCode: "G"
        };
        var datas = callAjax("{{_context_path}}/api/budget/budgetReview/getAllBudgetRequest", "post", param, "json");
        var html = '';
        if (typeof datas !== "undefined" && datas !== null) {
            var data = datas["result"];
            for (var i = 0; i < data.length; i++) {
                var item = data[i];

                html += '<tr>'
                        + '<td>ง.' + item.formId + '</td>'
                        + '<td>' + item.facultyName + ' / ' + item.deptName + '</td>'
                        + '<td>' + item.l3dPlanName + '</td>'
                        + '<td>' + item.fundName + '</td>'
                        + '<td>'
                        + '<button class="btn btn-warning edit" title="แก้ไข" id="btnViewForm" data-year="' + item.budgetPeriodId + '" data-form="' + item.formId + '" data-dept="' + item.deptId + '" data-fund="' + item.fundgroupId + '" data-plan="' + item.l3dPlanId + '"><i class="fa fa-pencil"></i> แก้ไข</button>'
                        + '</td>'
                        + '</tr>';
            }

            $("#table tbody").html(html);
        }
    }

    function listsForm(type) {
        if (isForm == 0) {
            var formArr;
            formArr = [
                {
                    form: "bg140",
                    name: "แบบรายละเอียดคำของบประมาณเงินเดือน (ง.140)"
                },
                {
                    form: "bg141",
                    name: "แบบรายละเอียดคำของบประมาณค่าจ้างประจำ (ง.141)"
                },
                {
                    form: "bg142",
                    name: "แบบรายละเอียดคำของบประมาณค่าจ้างชั่วคราว (ง.142)"
                },
                {
                    form: "bg143",
                    name: "แบบรายละเอียดคำของบประมาณเงินอุดหนุนเป็นค่าใช้จ่ายดำเนินงาน (ค่าตอบแทน ใช้สอย และวัสดุ) (ง.143)"
                },
                {
                    form: "bg144",
                    name: "แบบรายละเอียดคำของบประมาณเงินอุดหนุนเป็นค่าสาธารณูปโภค (ง.144)"
                },
                {
                    form: "bg145",
                    name: "แบบรายละเอียดคำของบประมาณเงินอุดหนุนเป็นค่าครุภัณฑ์ ค่าที่ดิน/สิ่งก่อสร้าง (ง.145)"
                },
                {
                    form: "bg146",
                    name: "แบบรายละเอียดคำของบประมาณเงินอุดหนุน (ง.146)"
                }

            ];
            var html = '';
            $.each(formArr, function (key, value) {

                html += '<tr>'
                        + '<td class="col-md-11">- ' + value["name"] + '</td>'
                        + '<td class="col-md-1">'
                        + '<button class="btn btn-success form" data-form="' + value["form"] + '" disabled="disabled"><i class="fa fa-plus-circle"></i> จัดทำ</button>'
                        + '</td>'
                        + '</tr>';
            });
            $("#panel2 table tbody").html(html);
            $("button.form").removeAttr("disabled", "disabled");
            $("#formChoice select").change(function () {
                var valid = true;
                $("#formChoice select").each(function () {
                    if ($(this).val() == "") {
                        valid = false;
                    }
                });
                if (valid == true) {
                    $("button.form").removeAttr("disabled", "disabled");
                }
                else {
                    $("button.form").attr("disabled", "disabled");
                }
            });
            $("button.form").unbind("click").click(function () {
                var form = $(this).attr("data-form");
                var param = {};
                $("#formChoice select").each(function () {
                    var name = $(this).attr("name");
                    param[name] = $(this).val();
                });
                eval(form + "Form(param)");
                /*
                 var form = $(this).attr("data-form");

                 var param = {};
                 $("#formChoice select").each(function () {
                 var name = $(this).attr("name");
                 param[name] = $(this).val();
                 });

                 var hasNg = $(this).attr("has-ng");
                 if (hasNg !== "true") {
                 // open Form for Jquery
                 eval(form + "Form(param)");
                 } else {
                 // open Form for AngularJS
                 var $scopeJS = angular.element(document.querySelector('[ng-app=formBudget]')).scope();
                 $scopeJS.$apply(function () {
                 $scopeJS.openForm(form, param);
                 });
                 toggleShow("form");
                 }
                 */

            });
            isForm = 1;
        }
    }

    function listsBudgetPeriod() {
        var html = '<option value="" selected="selected">เลือก</option>';
        var datas = callAjax("{{_context_path}}/api/common/lookup/listYear", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                html += '<option value="' + value["year"] + '">' + value["year"] + '</option>'

                budgetPeriodArr[value["year"]] = value["year"];
            });
        }

        $("#budgetPeriodId").html(html).trigger("change");
    }

    function listsBudgetType() {
        var html = '<option value="" selected="selected">เลือก</option>';
        var datas = callAjax("{{_context_path}}/api/common/lookup/listBudgetSource", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                if (value["id"] === "G") {
                    html += '<option selected value="' + value["id"] + '">' + value["name"] + '</option>';
                    budgetTypeArr[value["id"]] = value["name"];
                }
            });
        }

        $("#budgetTypeCode").html(html).trigger("change");
    }

    /*
     function listsPlan(budgetPeriodId) {
     var html = '<option value="" selected="selected">เลือก</option>';
     if (budgetPeriodId != "") {
     var datas = callAjax("{{_context_path}}/api/common/lookup/listBudgetPlan", "post", {budgetYear: budgetPeriodId}, "json");
     if (typeof datas !== "undefined" && datas !== null) {
     $.each(datas["lists"], function (key, value) {
     html += '<option value="' + value["id"] + '">' + value["name"] + '</option>'

     planArr[value["id"]] = value["name"];
     });
     }
     }

     $("#planId").html(html).trigger("change");
     }
     */

    function listsPlan3D() {
        var html = '<option value="" selected="selected">เลือก</option>';
        if (budgetPeriodId != "") {
            var datas = callAjax("{{_context_path}}/api/common/lookup/list3DPlan", "post", {}, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                $.each(datas["lists"], function (key, value) {
                    html += '<option value="' + value["id"] + '">' + value["name"] + '</option>'

                    planArr[value["id"]] = value["name"];
                });
            }
        }

        $("#l3dPlanId").html(html).trigger("change");
    }

    /*
     function listsProject(planId) {
     var html = '<option value="" selected="selected">เลือก</option>';
     if (planId != "") {
     var datas = callAjax("{{_context_path}}/api/common/lookup/listBudgetProject", "post", {planId: planId}, "json");
     if (typeof datas !== "undefined" && datas !== null) {
     $.each(datas["lists"], function (key, value) {
     html += '<option value="' + value["id"] + '">' + value["name"] + '</option>'

     projectArr[value["id"]] = value["name"];
     });
     }
     }

     $("#projectId").html(html).trigger("change");
     }
     */

    /*
     function listsFundgroup() {
     var html = '<option value="" selected="selected">เลือก</option>';
     var datas = callAjax("{{_context_path}}/api/common/lookup/listFundgroup", "post", {}, "json");
     if (typeof datas !== "undefined" && datas !== null) {
     $.each(datas["lists"], function (key, value) {
     html += '<option value="' + value["id"] + '">' + value["name"] + '</option>'

     fundgroupArr[value["id"]] = value["name"];
     });
     }

     $("#fundgroupId").html(html).trigger("change");
     }
     */
    function listFundgroupWithPlan(periodId, l3dPlanId) {
        var html = '<option value="" selected="selected">เลือก</option>';
        var param = {
            budgetPeriodId: periodId,
            l3dPlanId: l3dPlanId
        };
        var datas = callAjax("{{_context_path}}/api/common/lookup/listFundgroupWithPlan", "post", param, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                html += '<option value="' + value["id"] + '">' + value["name"] + '</option>';
                fundgroupArr[value["id"]] = value["name"];
            });
        }

        $("#fundgroupId").html(html).trigger("change");
    }

    function listsFaculty() {
        var html = '<option value="" selected="selected">เลือก</option>';
        var datas = callAjax("{{_context_path}}/api/common/lookup/listFaculty", "post", {campusId: 0}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                html += '<option value="' + value["id"] + '">' + value["name"] + '</option>'

                facultyArr[value["id"]] = value["name"];
            });
        }

        $("#facultyId").html(html).trigger("change");
    }

    function listsDepartment(facultyId) {
        var html = '<option value="" selected="selected">เลือก</option>';
        var datas = callAjax("{{_context_path}}/api/common/lookup/listDepartment", "post", {facultyId: facultyId}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                html += '<option value="' + value["id"] + '">' + value["name"] + '</option>'

                departmentArr[value["id"]] = value["name"];
            });
        }

        $("#deptId").html(html).trigger("change");
    }

    function listsStatusTracking() {

        var datas = callAjax("{{_context_path}}/api/budget/budgetReview/listTracking", "get", "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function (key, value) {

                listSTATUSTRACKING[value["id"]] = value["desc"];
            });
        }
    }

    function toggleShow(option) {

        if (option == "home") {
            // panel show and hide
            $("#divChoice, #divForm").hide();
            $("#divHome").show();
            // button show and hide
            $("button.backHome, button.backChoice").hide();
            $("button.goChoice").show();
        }
        else if (option == "choice") {
            $("#navBgDept").html("ตรวจสอบคำของบประมาณ");
            // panel show and hide
            $("#divHome, #divForm").hide();
            $("#divChoice").show();
            // button show and hide
            $("button.goChoice, button.backChoice").hide();
            $("button.backHome").show();
            // hide divForm for AngularJS
            var $scopeJS = angular.element(document.querySelector('[ng-app=formBudget]')).scope();
            $scopeJS.$apply(function () {
                $scopeJS.activeNg = false;
                $scopeJS.activeTemplate = "no";
            });
            if (!isForm) {
                listsBudgetPeriod();
                listsBudgetType();
                //listsFundgroup();
                listsFaculty();
            }
        }
        else if (option == "form") {
            // panel show and hide
            $("#divHome, #divChoice, #divAttachment").hide();
            $("#divForm").show();
            // button show and hide
            $("button.goChoice, button.backHome, button.backAttachment").hide();
            $("button.backChoice").show();
        } else if (option == "attachment") {
            // panel show and hide
            $("#divHome, #divChoice, #divForm").hide();
            $("#divAttachment").show();
            $("button.goChoice,button.backChoice,button.backHome").hide();
            $("button.backAttachment").show();
        }
    }

    function updateStatusBG(bgType, listBg, status, isRefresh) {
        //update status all
        var form = [];
        form["Budget140"] = "bg140Form"; // for refresh form
        form["Budget141"] = "bg141Form";
        form["Budget142"] = "bg142Form";
        form["Budget143"] = "bg143Form";
        form["Budget144"] = "bg144Form";
        form["Budget145"] = "bg145Form";
        form["Budget146"] = "bg146Form";
        var param = {};
        param.bgType = bgType;
        param.listBg = listBg;
        param.status = status;
        var dataJSONEN = encodeURIComponent(JSON.stringify(param));
        var datas = callAjax(js_context_path + "/api/budget/budgetSave/updateStatus", "post", dataJSONEN, "json");
        if (datas != undefined && datas !== null) {
            if (datas["results"]["status"] == true) {
                alert("ส่งคำขอสำเร็จ");
                if (isRefresh) {
                    var param = {};
                    $("#formChoice select").each(function () {
                        var name = $(this).attr("name");
                        param[name] = $(this).val();
                    });
                    eval(form[bgType] + "(param);");
                }
                return true;
            } else {
                alert("ส่งคำขอผิดพลาด");
                return false;
            }
        }
    }

    function InsertAttachment() {

        var param = {};
        var filePath = uploadFile();
        if (filePath != "") { //not have file
            param.desc = $(".noteDesc").code(); //fileDescription
            param.path = filePath;
            var fdata = [];
            fdata.push(param);
            var datas = callAjax(js_context_path + "/api/budget/budgetSave/insertAtt", "post", JSON.stringify({att: fdata}), "json");
            if (datas != undefined && datas !== null) {
                param.id = datas["results"]["id"];
            }
        }
        return param;
    }

    function updateAttachment(attachmentID, oldFileName, budgetListID, formBudget) {

        // UPDATE IF NOT HAVE AND INSERT
        var result = {};
        var file_data = undefined; //not have file on inputFile
        if ($("#fileInput").val() != undefined)
            file_data = $("#fileInput").prop("files")[0];
        var param = {};
        param.id = attachmentID;
        param.desc = $(".noteDesc").code(); //fileDescription

        if ($("#removeFile").val() != undefined) {
            //update desc
            var fdata = [];
            param.path = oldFileName;
            fdata.push(param);
            var datas = callAjax(js_context_path + "/api/budget/budgetSave/editAtt", "post", JSON.stringify({att: fdata}), "json");
            if (datas != undefined && datas !== null) {
                result = datas["results"]["attObj"];
            } else {
                alert("แก้ไขอธิบายไฟล์ล้มเหลว");
            }

        } else if (file_data != undefined) {
            // เมื่อมีการเปลี่ยนไฟล์
            if (oldFileName != file_data["name"]) {
                var filePath = uploadFile(); // update new file
                param.path = filePath;
            }

            var fdata = [];
            fdata.push(param);
            var datas = callAjax(js_context_path + "/api/budget/budgetSave/editAtt", "post", JSON.stringify({att: fdata}), "json");
            if (datas != undefined && datas !== null) {
                result = datas["results"]["attObj"];
            } else {
                alert("แก้ไขไฟล์ล้มเหลว");
            }

        } else { //เมื่อมีการเอาไฟล์ออกจากเดิมที่มี

            if (attachmentID != null && $("#removeFile").val() == undefined) {
                //delete service at attachmentID
                var datas = callAjax(js_context_path + "/api/budget/budgetSave/delAtt", "post", JSON.stringify({
                    attachmentID: attachmentID,
                    path: oldFileName,
                    budgetID: budgetListID,
                    formBudget: formBudget
                }), "json");
                if (datas != undefined && datas !== null) {
                    var paramRemove = {};
                    paramRemove.id = null;
                    paramRemove.path = null;
                    paramRemove.desc = null;
                    result = datas["results"]["attObj"] = paramRemove;
                }
                else {
                    alert("ลบไฟล์ล้มเหลว");
                }
            }
        }

        return result;
    }

    function uploadFile() {

        var filePath = "";
        var file_data = $("#fileInput").prop("files")[0]; // Getting the properties of file from file field
        if (file_data != undefined) {
            var form_data = new FormData(); // Creating object of FormData class
            form_data.append("file", file_data);
            $.ajax({
                url: js_context_path + "/api/budget/budgetSave/uploadF",
                data: form_data,
                cache: false,
                async: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function (result) {
                    // Process the result ...
                    filePath = result["results"]["path"];
                },
                error: function (e) {
                    alert(e.toString);
                }
            });
        }
        return filePath;
    }

    function tofParam(param) {

        var fParam = {};
        fParam.budgetPeriodId = param.budgetPeriodId;
        fParam.budgetTypeCode = param.budgetTypeCode;
        fParam.deptId = param.deptId;
        fParam.facultyId = param.facultyId;
        fParam.fundgroupId = param.fundgroupId;
        fParam.l3dPlanId = param.l3dPlanId; //แผนใน 3 มิติ

        //fParam.planId = param.planId;
        //fParam.projectId = param.projectId;
        return fParam;
    }

    function isEmptyObject(obj) {

        var hasOwnProperty = Object.prototype.hasOwnProperty;
        // null and undefined are "empty"
        if (obj == null)
            return true;
        // Assume if it has a length property with a non-zero value
        // that that property is correct.
        if (obj.length > 0)
            return false;
        if (obj.length === 0)
            return true;
        // Otherwise, does it have any properties of its own?
        // Note that this doesn't handle
        // toString and valueOf enumeration bugs in IE < 9
        for (var key in obj) {
            if (hasOwnProperty.call(obj, key))
                return false;
        }

        return true;
    }

    function toFormBudget(itemBudget) {
        //ebugger;
        var param = {};
        param.budgetPeriodId = itemBudget.budgetPeriodId;
        param.budgetTypeCode = itemBudget.budgetTypeCode;
        param.deptId = itemBudget.deptId;
        param.facultyId = itemBudget.facultyId;
        param.fundgroupId = itemBudget.fundgroupId;
        param.l3dPlanId = itemBudget.l3dPlanId;
        param.planId = itemBudget.planId;
        param.projectId = itemBudget.projectId;
        param.deptName = itemBudget.deptName;
        param.facultyName = itemBudget.facultyName;
        param.planName = itemBudget.planName;
        param.projectName = itemBudget.projectName;
        param.l3dPlanName = itemBudget.l3dPlanName;
        param.fundName = itemBudget.fundName;
        param.budgetTypeName = itemBudget.budgetTypeName;
        paramObj = param;
        var form = "bg" + itemBudget.formId;
        eval(form + "Form(param)");
    }

    function initMap() {
        var mapOptions = {
            zoom: 18,
            center: new google.maps.LatLng(13.8192445, 100.513857),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        window.map = new google.maps.Map(document.getElementById('map'), mapOptions);
        google.maps.event.trigger(window.map, "resize");

        //listerner map
        addListernerClickOnMap();
    }

    function addListernerClickOnMap() {

        google.maps.event.addListener(map, "click", function (e) {

            if (canClickMap && e != undefined) {
                if (optionMap == "point") {
                    clearAllMarker();
                    //lat and lng is available in e object
                    var latLng = e.latLng;
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        title: 'Title'
                    });
                    var html = '<i class="fa fa-map-marker"> พิกัดภูมิศาสตร์ ละติจูดที่ <b>' + latLng.lat() + '</b> ลองจิจูดที่ <b>' + latLng.lng() + '</b></i>';
                    $("#showInfo").html(html);
                    //markers["start"] = marker;
                    markerArray[0] = marker;

                } else if (optionMap == "line") {

                    var checked = $("input:radio[name='point']:checked").val();
                    //lat and lng is available in e object
                    var latLng = e.latLng;

                    linePathArr.push(latLng);

                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        title: 'Title',
                        label: labelNameMarker[labelMarkerIndex++ % labelNameMarker.length]
                    });

                    markerArray.push(marker);

                    var line = new google.maps.Polyline({
                        path: linePathArr,
                        geodesic: true,
                        strokeColor: '#0000FF',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });
                    line.setMap(map);
                    polyLineArray.push(line);

                } else if (optionMap == "poly") {

                    var latLng = e.latLng;

                    polygonArr.push(latLng);

                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        title: 'Title'
                    });

                    markerArray.push(marker);

                } else if (optionMap == "circle") {

                    var latLng = e.latLng;
                    var checked = $("input:radio[name='circle']:checked").val();

                    if (checked == "center") {
                        //marker start
                        if (markerArray[1] == undefined)markerArray[1] = null;
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            title: 'Title',
                            label: 'A'
                        });
                        if (markerArray[0] != undefined)markerArray[0].setMap(null);
                        markerArray[0] = marker;

                    } else if (checked == "radius") {
                        //marker end
                        if (markerArray[0] == undefined)markerArray[0] = null;
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            title: 'Title',
                            label: 'B'
                        });
                        if (markerArray[1] != undefined)markerArray[1].setMap(null);
                        markerArray[1] = marker;
                    }
                }
            }//End canClickMap

        });

        google.maps.event.addListener(map, "mouseover", function (e) {
            //use refresh map
            google.maps.event.trigger(window.map, 'resize');
            window.map.setCenter(positionCenter);
        });
    }

    function loadScript(src, callback) {

        var script = document.createElement("script");
        script.type = "text/javascript";
        if (callback)script.onload = callback;
        document.getElementsByTagName("head")[0].appendChild(script);
        script.src = src;
    }

    function drawPolyOnMap() {
        var latlngArr = [];
        markerArrayInfo = [];
        for (var i = 0; i < markerArrayForUse.length; i++) {
            var marker = new google.maps.Marker({
                position: markerArrayForUse[i].position,
                map: map,
                title: 'Marker'
            });
            latlngArr.push(markerArrayForUse[i].position);
            markerArrayInfo.push(marker);
        }

        if (latlngArr.length > 0) {

            if (optionMapUse == "line") {

                var line = new google.maps.Polyline({
                    path: latlngArr,
                    geodesic: true,
                    strokeColor: '#0000FF',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });
                line.setMap(map);
                polyLineArray.push(line);

            } else if (optionMapUse == "poly") {
                console.log("draw");
                console.log(latlngArr);
                var polygon = new google.maps.Polygon({
                    paths: latlngArr,
                    strokeColor: '#0000FF',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#0000FF',
                    fillOpacity: 0.35
                });
                polygon.setMap(map);
                polygonSimpleArr.push(polygon);

            } else if (optionMapUse == "circle") {

                if (latlngArr[0] != undefined && latlngArr[0] != null && latlngArr[1] != undefined && latlngArr[1] != null) {

                    console.log("11111");
                    var km = distance(latlngArr[0].lat(), latlngArr[0].lng(), latlngArr[1].lat(), latlngArr[1].lng(), "K");
                    CircleMap = new google.maps.Circle({
                        strokeColor: '#0000FF',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#0000FF',
                        fillOpacity: 0.35,
                        map: map,
                        center: latlngArr[0],
                        radius: km * 1000
                    });
                }
            }
        }
    }

    function clearAllMarker() {

        for (var i = 0; i < markerArray.length; i++) {

            if (markerArray[i] != null) markerArray[i].setMap(null);
        }
        for (var i = 0; i < markerArrayInfo.length; i++) {
            markerArrayInfo[i].setMap(null); //remove marker on modal view map
        }
        markerArray = []; //re new
    }

    function clearAllLine() {
        clearAllMarker();
        for (var i = 0; i < polyLineArray.length; i++) {
            polyLineArray[i].setMap(null);
        }
        polyLineArray = []; //re new object line
        linePathArr = []; // latlng point
    }

    function clearAllPolygon() {
        clearAllMarker();
        for (var i = 0; i < polygonSimpleArr.length; i++) {
            polygonSimpleArr[i].setMap(null);
        }
        polygonSimpleArr = []; //re new object poly
        polygonArr = []; // latlng point
    }

    function clearAllCircle() {

        if (CircleMap != undefined) CircleMap.setMap(null);
        clearAllMarker();
    }

    function distance(lat1, lon1, lat2, lon2, unit) {

        var radlat1 = Math.PI * lat1 / 180
        var radlat2 = Math.PI * lat2 / 180
        var radlon1 = Math.PI * lon1 / 180
        var radlon2 = Math.PI * lon2 / 180
        var theta = lon1 - lon2
        var radtheta = Math.PI * theta / 180
        var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
        dist = Math.acos(dist)
        dist = dist * 180 / Math.PI
        dist = dist * 60 * 1.1515
        if (unit == "K") {
            dist = dist * 1.609344
        }
        if (unit == "N") {
            dist = dist * 0.8684
        }
        return dist
    }

    function clearAll() {
        clearAllLine();
        clearAllPolygon();
        clearAllCircle();
    }

</script>
