{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}trackingBudget{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button class="btn btn-default back" style="display: none;"><i> ย้อนกลับ</i></button>
                </li>
            </ul>
        </div>
    </div>
    <!-- end button action on header -->
    <div class="container">

        <div id="formTracking" class="col-md-12">
            <div class="form-group">
                <label class="col-md-3 control-label text-right req" for="budgetPeriodId">ปีงบประมาณ
                    : </label>

                <div class="col-md-6">
                    <select id="budgetPeriodId" name="budgetPeriodId" class="form-control input-sm"
                            required>
                        <option value="">- เลือกปี -</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label text-right req" for="budgetTypeCode">แหล่งเงิน
                    : </label>

                <div class="col-md-6">
                    <select id="budgetTypeCode" name="budgetTypeCode" class="form-control input-sm"
                            required>
                        <option value="">- เลือกแหล่งเงิน -</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label text-right req" for="facultyId">คณะ : </label>

                <div class="col-md-6">
                    <select id="facultyId" name="facultyId" class="form-control input-sm" required>
                        <option value="">- เลือกคณะ -</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label text-right req" for="deptId">สาขา : </label>

                <div class="col-md-6">
                    <select id="deptId" name="deptId" class="form-control input-sm" required>
                        <option value="">- เลือกสาขา -</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label text-right req" for="l3dPlanId">แผนงาน
                    : </label>

                <div class="col-md-6">
                    <select id="l3dPlanId" name="l3dPlanId" class="form-control input-sm" required>
                        <option value="">- เลือกแผนงาน -</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label text-right req" for="fundgroupId">กองทุน
                    : </label>

                <div class="col-md-6">
                    <select id="fundgroupId" name="fundgroupId" class="form-control input-sm"
                            required>
                        <option value="">- เลือกกองทุน -</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <button class="btn btn-success col-md-3" id="get-form">ค้นหา</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>

            <div id="divDetail">
                
            </div>


            <div id="bidderTable" class="col-md-12"><!-- table shown bidder information list -->
                <!-- manage list-->
                <div class="col-md-12" id="manage-list" style="margin-top: 20px; display: none">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle"
                                                                                  data-toggle="collapse"
                                                                                  data-parent="#accordion"
                                                                                  href="#collapse1One">
                                        <i class="fa fa-plus-circle"></i> จัดการรายการ</a></h4></div>
                            <div class="accordion-body collapse in">
                                <div class="panel-body">
                                    <form onsubmit="return false">
                                        <div class="form-group">
                                            <div class="col-md-9"><label class="col-md-4 control-label text-right">หมวดรายจ่าย</label>

                                                <div class="col-md-8">
                                                    <select id="listExpenses" name="listExpenses"
                                                            class="form-control input-sm" required="">

                                                        <option value="0">- เลือกประเภทรายจ่าย -</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-9"><label class="col-md-4 control-label text-right">{{#i18n}}quarter{{/i18n}}</label>

                                                <div class="col-md-8">
                                                    <select id="quarter-select" class="form-control input-sm"
                                                            required="">
                                                        <option value="0">- เลือกไตรมาส -</option>
                                                        <option value="1">{{#i18n}}quarter1{{/i18n}}</option>
                                                        <option value="2">{{#i18n}}quarter2{{/i18n}}</option>
                                                        <option value="3">{{#i18n}}quarter3{{/i18n}}</option>
                                                        <option value="4">{{#i18n}}quarter4{{/i18n}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-9"><label class="col-md-4 control-label text-right">{{#i18n}}expensesPlan{{/i18n}}</label>

                                                <div class="col-md-8">
                                                    <input id="plan-input" class="form-control input-sm">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-9"><label class="col-md-4 control-label text-right">{{#i18n}}expensesResult{{/i18n}}</label>

                                                <div class="col-md-8">
                                                    <input id="used-input" class="form-control input-sm">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <label id="status-ico" style="display: none" class="text-success"><i
                                                    class="fa fa-check"> บันทึกเรียบร้อย</i> </label>
                                            <label id="saving-ico" style="display: none"><i
                                                    class="fa fa-spinner fa-spin"></i> กำลังบันทึก</label>
                                            <button id="btn-save" class="btn btn-success "><i class="fa fa-save">
                                                    บันทึก</i></button>
                                            &nbsp;
                                            <button id="clearForm" class="btn btn-default"><i class="fa fa-trash"></i>
                                                ยกเลิก
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- manage list-->
                <table id="table" class="table table-bordered table-striped table-condensed mb-none" style="display: none;">
                    <thead>
                        <tr>
                            <th rowspan="2" class="text-center" width="22%" id="title-tb"
                                style="vertical-align: middle; min-width:170px">
                                {{#i18n}}budgetType{{/i18n}}
                            </th>
                            <th colspan="2" class="text-center" width="13%">{{#i18n}}total{{/i18n}}</th>
                            <th colspan="2" class="text-center" width="13%">{{#i18n}}quarter1{{/i18n}}</th>
                            <th colspan="2" class="text-center" width="13%">{{#i18n}}quarter2{{/i18n}}</th>
                            <th colspan="2" class="text-center" width="13%">{{#i18n}}quarter3{{/i18n}}</th>
                            <th colspan="2" class="text-center" width="13%">{{#i18n}}quarter4{{/i18n}}</th>
                            <th rowspan="2" class="text-center" width="13%" style="vertical-align: middle">
                                {{#i18n}}totalPercent{{/i18n}}
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center" width="6.5%" style="min-width:70px">{{#i18n}}expensesPlan{{/i18n}}</th>
                            <th class="text-center" width="6.5%" style="min-width:70px">{{#i18n}}expensesResult{{/i18n}}</th>
                            <th class="text-center" width="6.5%" style="min-width:70px">{{#i18n}}expensesPlan{{/i18n}}</th>
                            <th class="text-center" width="6.5%" style="min-width:70px">{{#i18n}}expensesResult{{/i18n}}</th>
                            <th class="text-center" width="6.5%" style="min-width:70px">{{#i18n}}expensesPlan{{/i18n}}</th>
                            <th class="text-center" width="6.5%" style="min-width:70px">{{#i18n}}expensesResult{{/i18n}}</th>
                            <th class="text-center" width="6.5%" style="min-width:70px">{{#i18n}}expensesPlan{{/i18n}}</th>
                            <th class="text-center" width="6.5%" style="min-width:70px">{{#i18n}}expensesResult{{/i18n}}</th>
                            <th class="text-center" width="6.5%" style="min-width:70px">{{#i18n}}expensesPlan{{/i18n}}</th>
                            <th class="text-center" width="6.5%" style="min-width:70px">{{#i18n}}expensesResult{{/i18n}}</th>
                        </tr>
                    </thead>

                    <tbody id="budgetBody">
                        <tr>
                            <td colspan="20" class="text-center">เลือกประเภทงบประมาณ และปีงบประมาณ</td>
                        </tr>
                        <!-- to do content-->
                    </tbody>
                </table>
            </div>

        </div>
        <!--container-->
    </div>
    <!--main-->
    {{>footer}}

    <script type="text/javascript">

        var PERMISSION = "DEPARTMENT";
        var budgetPeriodArr = {};
        var budgetTypeArr = {};
        var facultyArr = {};
        var departmentArr = {};
        var fundgroupArr = {};
        var planArr = {};
        //var projectArr = {};
        //var listSTATUSTRACKING = [];

        $(document).ready(function () {
            $("#budgetPeriodId, #budgetTypeCode, #facultyId, #deptId, #l3dPlanId, #fundgroupId").select2().trigger("change");

            var total_quater1_plan = 0, total_quater1_used = 0, total_quater2_plan = 0, total_quater2_used = 0, total_quater3_plan = 0, total_quater3_used = 0, total_quater4_plan = 0, total_quater4_used = 0, total_plan = 0, total_used = 0;
            var dataTable = null;
            iniYear();
            listBudgetCode();
            listFaculty(0);
            listPlan3D();

            $("#table").hide();

            function iniYear() {

                var html = '<option value="0">- เลือกปี พ.ศ. -</option>';
                $.get("{{_context_path}}/api/common/lookup/listYear", function (data) {
                    for (var i = 0; i < data.lists.length; i++) {
                        html += '<option value="' + data.lists[i].year + '">' + data.lists[i].year + '</option>';
                        budgetPeriodArr[data.lists[i].year] = data.lists[i].year;
                    }
                    $("#budgetPeriodId").html(html).trigger("change");
                });
            }

            function listBudgetCode() {
                var html = '<option value="0">- เลือกแหล่งเงิน -</option>';

                var data = [{id: "G", name: "งบประมาณแผ่นดิน"}, {id: "K", name: "เงินรายได้"}];
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    budgetTypeArr[data[i].id] = data[i].name;
                }
                $("#budgetTypeCode").html(html).trigger("change");
            }

            function listFaculty(campusId) {
                var html = '<option value="0">- เลือกหน่วยงาน -</option>';
                $.get("{{_context_path}}/api/common/lookup/listFaculty", {campusId: campusId}, function (data) {
                    for (var i = 0; i < data.lists.length; i++) {
                        html += '<option value="' + data.lists[i].id + '">' + data.lists[i].name + '</option>';
                        facultyArr[data.lists[i].id] = data.lists[i].name;
                    }
                    $("#facultyId").html(html).trigger("change");
                });
            }

            function listDepartment(facultyId) {
                var html = '<option value="0">- เลือกสาขา -</option>';
                $.get("{{_context_path}}/api/common/lookup/listDepartment", {facultyId: facultyId}, function (data) {
                    for (var i = 0; i < data.lists.length; i++) {
                        html += '<option value="' + data.lists[i].id + '">' + data.lists[i].name + '</option>';
                        departmentArr[data.lists[i].id] = data.lists[i].name;
                    }
                    $("#deptId").html(html).trigger("change");
                });
            }

            function listFundgroupWithPlan(periodId, l3dPlanId) {
                var html = '<option value="0">- เลือกกองทุน -</option>';

                var param = {
                    budgetPeriodId: periodId,
                    l3dPlanId: l3dPlanId
                };
                $.get("{{_context_path}}/api/common/lookup/listFundgroupWithPlan", param, function (data) {
                    for (var i = 0; i < data.lists.length; i++) {
                        html += '<option value="' + data.lists[i].id + '">' + data.lists[i].name + '</option>';
                        fundgroupArr[data.lists[i].id] = data.lists[i].name;
                    }
                    $("#fundgroupId").html(html).trigger("change");
                });
            }

            function listPlan3D() {
                var html = '<option value="0">- เลือกแผนงาน -</option>';
                $.get("{{_context_path}}/api/common/lookup/list3DPlan", function (data) {
                    for (var i = 0; i < data.lists.length; i++) {
                        html += '<option value="' + data.lists[i].id + '">' + data.lists[i].name + '</option>';
                        planArr[data.lists[i].id] = data.lists[i].name;
                    }
                    $("#l3dPlanId").html(html).trigger("change");
                });
            }



            $("#get-form").click(function () {
                $("#table").show();

                total_quater1_plan = 0, total_quater1_used = 0, total_quater2_plan = 0, total_quater2_used = 0, total_quater3_plan = 0, total_quater3_used = 0, total_quater4_plan = 0, total_quater4_used = 0, total_plan = 0, total_used = 0;
                resetPanel();
                disablePanel();
                //var budgetType = $("#expenses-select").val();
                var code = $("#budgetTypeCode").val();
                var dept = $("#deptId").val();
                var fund = $("#fundgroupId").val();
                var plan = $("#l3dPlanId").val();
                var year = $("#budgetPeriodId").val();
                
                var param = {
                    "budgetPeriodId": year,
                    "budgetTypeCode": code,
                    "deptId": dept,
                    "fundgroupId": fund,
                    "planId": plan
                };
                var html = "";
                var datas = callAjax("{{_context_path}}/api/budget/budgetReview/getBudgetScheme", "post", param, "json");
                if (typeof datas !== "undefined" && datas !== null) {
                    $.each(datas["lists"], function (key, value) {
                        html += '<option value="' + value["year"] + '">' + value["year"] + '</option>';
                    });
                    
                    $("divDetail").html(html);
                }
                
                
                
                if (dept > 0 && fund > 0 && plan > 0 && year > 0) {
                    //var textSelected = $("#expenses-select").find('option:selected').text();
                    showTableExpenseInfo(dept, fund, plan, year);
                    //getExpensesList(budgetType);
                }
                if (dept == 0) {
                    $("#dept-select").parent().addClass("has-error");
                    $("#warning-dept").show(10);
                }
                if (fund == 0) {
                    $("#fundgroup-select").parent().addClass("has-error");
                    $("#warning-fundgroup").show(10);
                }
                if (plan == 0) {
                    $("#plan3d-select").parent().addClass("has-error");
                    $("#warning-plan3d").show(10);
                }
                if (year == 0) {
                    $("#year-select").parent().addClass("has-error");
                    $("#warning-year").show(10);
                }

            });

            $("#facultyId").change(function () {
                listDepartment($(this).val());
            });
            $("#l3dPlanId").change(function () {
                var periodId = $("#budgetPeriodId").val();
                var plan = $(this).val();
                listFundgroupWithPlan(periodId, plan);
            });



            $("#expenses-select").change(function () {
                $("#expenses-select").parent().removeClass("has-error")
                $("#warning-expenses").hide(10);
            });
            $("#year-select").change(function () {
                $("#year-select").parent().removeClass("has-error")
                $("#warning-year").hide(10);
            });

            $("#btn-save").click(function () {
                $("#btn-save").attr("disabled", true);
                $("#saving-ico").show(10);
                var planValue = toUnNumberFormat($("#plan-input").val());
                var usedValue = toUnNumberFormat($("#used-input").val());
                var expendsID = $("#listExpenses").val();
                var budgetType = $("#expenses-select").val();
                var year = $("#year-select").val();
                var quater = $("#quarter-select").val();
                var objArr = [{
                        valuePlan: planValue,
                        valueUsed: usedValue,
                        id: expendsID,
                        budgetType: budgetType,
                        quater: quater,
                        year: year
                    }];
                if (budgetType != 0 && quater != 0 && expendsID != 0) {
                    $.post("{{_context_path}}/api/budget/budgetTracking/saveTracking/", {objBudget: objArr}, function (data) {
                        if (data.status == true) {
                            showTableContent($("#expenses-select option:selected").text(), budgetType, year); //refresh table
                            $("#saving-ico").hide(10);
                            $("#btn-save").attr("disabled", false);
                            $("#status-ico").show(10).delay(2500).fadeOut();
                        } else {
                            alert("ไม่สามารถบันทึกได้");
                        }
                    });
                }
            });
            $("#quarter-select").change(function () {
                getPlanAndUsedClient();
            });
            $("#listExpenses").change(function () {
                getPlanAndUsedClient();
            });
            $("#clearForm").click(function () {
                resetPanel();
            });
            $(document).on("blur", "input", function (e) {
                e.preventDefault();
                $(this).val(toNumberFormat($(this).val()));
            });
            /* mssql version */
            function showTableExpenseInfo(dept, fund, plan, year) {
                var html = '';
                $.get("{{_context_path}}/api/budget/budgetReview/listBudgetExpenseInfo", {
                    budgetPeriodId: year,
                    fundgroupId: fund,
                    planId: plan,
                    deptId: dept
                }, function (data) {

                    if (data != null && data.result.length > 0) {
                        dataTable = data.result;
                        //debugger;
                        var sumPlanTotal = parseInt(dataTable[0]["list"]["expensePlanTotal"]) + parseInt(dataTable[1]["list"]["expensePlanTotal"]) + parseInt(dataTable[2]["list"]["expensePlanTotal"]) + parseInt(dataTable[3]["list"]["expensePlanTotal"]);
                        var sumUsedTotal = parseInt(dataTable[0]["list"]["expenseUsedTotal"]) + parseInt(dataTable[1]["list"]["expenseUsedTotal"]) + parseInt(dataTable[2]["list"]["expenseUsedTotal"]) + parseInt(dataTable[3]["list"]["expenseUsedTotal"]);
                        html = '<tr><td style="padding-left: 4em ;vertical-align:middle">' + 'งบเงินอุดหนุน' + '</td>';
                        html += '<td class="text-right">' + toNumberFormat(sumPlanTotal) + '</td>';
                        html += '<td class="text-right">' + toNumberFormat(sumUsedTotal) + '</td>';
                        html += '<td class="text-right">' + toNumberFormat(dataTable[0]["list"]["expensePlanTotal"]) + '</td>';
                        html += '<td class="text-right">' + toNumberFormat(dataTable[0]["list"]["expenseUsedTotal"]) + '</td>';
                        html += '<td class="text-right">' + toNumberFormat(dataTable[1]["list"]["expensePlanTotal"]) + '</td>';
                        html += '<td class="text-right">' + toNumberFormat(dataTable[1]["list"]["expenseUsedTotal"]) + '</td>';
                        html += '<td class="text-right">' + toNumberFormat(dataTable[2]["list"]["expensePlanTotal"]) + '</td>';
                        html += '<td class="text-right">' + toNumberFormat(dataTable[2]["list"]["expenseUsedTotal"]) + '</td>';
                        html += '<td class="text-right">' + toNumberFormat(dataTable[3]["list"]["expensePlanTotal"]) + '</td>';
                        html += '<td class="text-right">' + toNumberFormat(dataTable[3]["list"]["expenseUsedTotal"]) + '</td>';
                        html += '<td class="text-right"><b>' + '(%)' + '</b></td></tr>';
                    }

                    $("#budgetBody").html(html);
                    $("#title-tb").html(budgetName);
                    $("#get-form").attr("disabled", false);
                });
            }

            function getPlanAndUsedClient() {

                var expendsID = $("#listExpenses").val();
                var quarter = $("#quarter-select").val();
                var result;
                for (var i = 0; i < dataTable.listTracking.length; i++) {
                    if (dataTable.listTracking[i].id == expendsID) {

                        result = getBudgetQuater(dataTable.listTracking[i], quarter);
                    }
                    for (var y = 0; y < dataTable.listTracking[i].list.length; y++) {
                        if (dataTable.listTracking[i].list[y].id == expendsID) {

                            result = getBudgetQuater(dataTable.listTracking[i].list[y], quarter);
                        }
                        for (var z = 0; z < dataTable.listTracking[i].list[y].list2.length; z++) {
                            if (dataTable.listTracking[i].list[y].list2[z].id == expendsID) {

                                result = getBudgetQuater(dataTable.listTracking[i].list[y].list2[z], quarter);
                            }
                            for (var x = 0; x < dataTable.listTracking[i].list[y].list2[z].list3.length; x++) {

                                if (dataTable.listTracking[i].list[y].list2[z].list3[x].id == expendsID) {

                                    result = getBudgetQuater(dataTable.listTracking[i].list[y].list2[z].list3[x], quarter);
                                }
                            }
                        }
                    }
                }
                $("#plan-input").val(toNumberFormat(result[0]));
                $("#used-input").val(toNumberFormat(result[1]));
            }

            function getBudgetQuater(data, quater) {

                if (quater == 1) {
                    return [data.budget_quater1_plan, data.budget_quater1_used];
                } else if (quater == 2) {
                    return [data.budget_quater2_plan, data.budget_quater2_used];
                } else if (quater == 3) {
                    return [data.budget_quater3_plan, data.budget_quater3_used];
                } else if (quater == 4) {
                    return [data.budget_quater4_plan, data.budget_quater4_used];
                }

                return ["", ""];
            }

            function showTableContent(budgetName, budgetType, year) {
                var html = '';
                $.get("{{_context_path}}/api/budget/budgetReview/getReview", {
                    budgetType: budgetType,
                    year: year
                }, function (data) {

                    if (data != null && data.listTracking.length > 0) {
                        dataTable = data;
                        for (var i = 0; i < data.listTracking.length; i++) {
                            //lvl1
                            html += checkShowLv1(data.listTracking[i]);
                            for (var y = 0; y < data.listTracking[i].list.length; y++) {
                                //lvl2
                                html += checkShowLv2(data.listTracking[i].list[y]);
                                for (var z = 0; z < data.listTracking[i].list[y].list2.length; z++) {
                                    //lvl3
                                    html += checkShowLv3(data.listTracking[i].list[y].list2[z]);
                                    for (var x = 0; x < data.listTracking[i].list[y].list2[z].list3.length; x++) {
                                        //lvl4
                                        var obj = data.listTracking[i].list[y].list2[z].list3[x];
                                        var total = getTotal(obj);
                                        var plan = getTotalPlan(obj);
                                        var used = getTotalUsed(obj);
                                        total_plan += plan;
                                        total_used += used;
                                        html += '<tr><td style="padding-left: 4em ;vertical-align:middle">' + obj.type_name + '</td>';
                                        html += '<td class="text-right">' + toNumberFormat(plan) + '</td>';
                                        html += '<td class="text-right">' + toNumberFormat(used) + '</td>';
                                        html += '<td class="text-right">' + toNumberFormat(obj.budget_quater1_plan) + '</td>';
                                        html += '<td class="text-right">' + toNumberFormat(obj.budget_quater1_used) + '</td>';
                                        html += '<td class="text-right">' + toNumberFormat(obj.budget_quater2_plan) + '</td>';
                                        html += '<td class="text-right">' + toNumberFormat(obj.budget_quater2_used) + '</td>';
                                        html += '<td class="text-right">' + toNumberFormat(obj.budget_quater3_plan) + '</td>';
                                        html += '<td class="text-right">' + toNumberFormat(obj.budget_quater3_used) + '</td>';
                                        html += '<td class="text-right">' + toNumberFormat(obj.budget_quater4_plan) + '</td>';
                                        html += '<td class="text-right">' + toNumberFormat(obj.budget_quater4_used) + '</td>';
                                        html += '<td class="text-right"><b>' + toNumberFormat(total) + '</b></td></tr>';
                                        getTotalColumn(obj);
                                    }//end lvl4
                                }//end lvl3
                            }//end lvl2
                        }//end lvl1
                        var sumTotal = total_quater1_plan + total_quater1_used + total_quater2_plan + total_quater2_used + total_quater3_plan + total_quater3_used + total_quater4_plan + total_quater4_used;
                        html += '<tr>';
                        html += '  <td class="text-center"><b>รวม</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(total_plan) + '</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(total_used) + '</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(total_quater1_plan) + '</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(total_quater1_used) + '</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(total_quater2_plan) + '</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(total_quater2_used) + '</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(total_quater3_plan) + '</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(total_quater3_used) + '</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(total_quater4_plan) + '</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(total_quater4_used) + '</b></td>';
                        html += '<td class="text-right"><b>' + toNumberFormat(sumTotal) + '</b></td>';
                        html += '</tr>';
                        $("#manage-list").show(10);
                    } else {

                        html += '<tr>';
                        html += '  <td colspan="100" class="text-center">ไม่พบข้อมูล</td>';
                        html += '</tr>';
                        $("#manage-list").hide(10);
                    }
                    $("#budgetBody").html(html);
                    $("#title-tb").html(budgetName);
                    $("#get-form").attr("disabled", false);
                });
            }

            function checkShowLv1(obj) {

                var html = '';
                if (obj.list.length > 0) { //have lvl2

                    html += '<tr><td style="vertical-align:middle"><b>' + obj.type_name + '</b></td>';
                    html += '<td class="text-center" colspan="100"></td>';
                }
                else {
                    var total = getTotal(obj);
                    var plan = getTotalPlan(obj);
                    var used = getTotalUsed(obj);
                    total_plan += plan;
                    total_used += used;
                    html += '<tr><td style="vertical-align:middle"><b>' + obj.type_name + '</b></td>';
                    html += '<td class="text-right">' + toNumberFormat(plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(used) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater1_plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater1_used) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater2_plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater2_used) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater3_plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater3_used) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater4_plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater4_used) + '</td>';
                    html += '<td class="text-right"><b>' + toNumberFormat(total) + '</b></td></tr>';
                }
                getTotalColumn(obj);
                return html;
            }

            function checkShowLv2(obj) {

                var html = '';
                if (obj.list2.length > 0) { //have lvl3

                    html += '<tr><td style="padding-left: 1em ;vertical-align:middle"><b>' + obj.type_name + '</b></td>';
                    html += '<td class="text-center" colspan="100"></td>';
                }
                else {
                    var total = getTotal(obj);
                    var plan = getTotalPlan(obj);
                    var used = getTotalUsed(obj);
                    total_plan += plan;
                    total_used += used;
                    html += '<tr><td style="padding-left: 1em ;vertical-align:middle">' + obj.type_name + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(used) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater1_plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater1_used) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater2_plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater2_used) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater3_plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater3_used) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater4_plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(obj.budget_quater4_used) + '</td>';
                    html += '<td class="text-right"><b>' + toNumberFormat(total) + '</b></td></tr>';
                }
                getTotalColumn(obj);
                return html;
            }

            function checkShowLv3(obj) {

                var html = '';
                if (obj.list3.length > 0) { //have lvl4

                    html += '<tr><td style="padding-left: 2em ;vertical-align:middle"><b>' + obj.type_name + '</b></td>';
                    html += '<td class="text-center" colspan="100"></td>';
                }
                else {
                    var total = getTotal(obj);
                    var plan = getTotalPlan(obj);
                    var used = getTotalUsed(obj);
                    total_plan += plan;
                    total_used += used;
                    html += '<tr><td style="padding-left: 2em ;vertical-align:middle">' + obj.type_name + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(plan) + '</td>';
                    html += '<td class="text-right">' + toNumberFormat(used) + '</td>';
                    html += '<td class="text-right">' + (toNumberFormat(obj.budget_quater1_plan)) + '</td>';
                    html += '<td class="text-right">' + (toNumberFormat(obj.budget_quater1_used)) + '</td>';
                    html += '<td class="text-right">' + (toNumberFormat(obj.budget_quater2_plan)) + '</td>';
                    html += '<td class="text-right">' + (toNumberFormat(obj.budget_quater2_used)) + '</td>';
                    html += '<td class="text-right">' + (toNumberFormat(obj.budget_quater3_plan)) + '</td>';
                    html += '<td class="text-right">' + (toNumberFormat(obj.budget_quater3_used)) + '</td>';
                    html += '<td class="text-right">' + (toNumberFormat(obj.budget_quater4_plan)) + '</td>';
                    html += '<td class="text-right">' + (toNumberFormat(obj.budget_quater4_used)) + '</td>';
                    html += '<td class="text-right"><b>' + toNumberFormat(total) + '</b></td></tr>';
                }

                getTotalColumn(obj);
                return html;
            }

            function getTotal(data) {
                var total = 0;
                if (data.budget_quater1_plan != ' ') {
                    total += parseFloat(data.budget_quater1_plan);
                }
                if (data.budget_quater1_used != ' ') {
                    total += parseFloat(data.budget_quater1_used);
                }
                if (data.budget_quater2_plan != ' ') {
                    total += parseFloat(data.budget_quater2_plan);
                }
                if (data.budget_quater2_used != ' ') {
                    total += parseFloat(data.budget_quater2_used);
                }
                if (data.budget_quater3_plan != ' ') {
                    total += parseFloat(data.budget_quater3_plan);
                }
                if (data.budget_quater3_used != ' ') {
                    total += parseFloat(data.budget_quater3_used);
                }
                if (data.budget_quater4_plan != ' ') {
                    total += parseFloat(data.budget_quater4_plan);
                }
                if (data.budget_quater4_used != ' ') {
                    total += parseFloat(data.budget_quater4_used);
                }

                return total;
            }

            function getTotalColumn(obj) {

                if (obj.budget_quater1_plan != ' ') {
                    total_quater1_plan += parseFloat(obj.budget_quater1_plan);
                }
                if (obj.budget_quater1_used != ' ') {
                    total_quater1_used += parseFloat(obj.budget_quater1_used);
                }
                if (obj.budget_quater2_plan != ' ') {
                    total_quater2_plan += parseFloat(obj.budget_quater2_plan);
                }
                if (obj.budget_quater2_used != ' ') {
                    total_quater2_used += parseFloat(obj.budget_quater2_used);
                }
                if (obj.budget_quater3_plan != ' ') {
                    total_quater3_plan += parseFloat(obj.budget_quater3_plan);
                }
                if (obj.budget_quater3_used != ' ') {
                    total_quater3_used += parseFloat(obj.budget_quater3_used);
                }
                if (obj.budget_quater4_plan != ' ') {
                    total_quater4_plan += parseFloat(obj.budget_quater4_plan);
                }
                if (obj.budget_quater4_used != ' ') {
                    total_quater4_used += parseFloat(obj.budget_quater4_used);
                }

            }

            function getTotalPlan(data) {
                var total = 0;
                if (data.budget_quater1_plan != ' ') {
                    total += parseFloat(data.budget_quater1_plan);
                }

                if (data.budget_quater2_plan != ' ') {
                    total += parseFloat(data.budget_quater2_plan);
                }

                if (data.budget_quater3_plan != ' ') {
                    total += parseFloat(data.budget_quater3_plan);
                }

                if (data.budget_quater4_plan != ' ') {
                    total += parseFloat(data.budget_quater4_plan);
                }


                return total;
            }

            function getTotalUsed(data) {

                var total = 0;
                if (data.budget_quater1_used != ' ') {
                    total += parseFloat(data.budget_quater1_used);
                }

                if (data.budget_quater2_used != ' ') {
                    total += parseFloat(data.budget_quater2_used);
                }

                if (data.budget_quater3_used != ' ') {
                    total += parseFloat(data.budget_quater3_used);
                }

                if (data.budget_quater4_used != ' ') {
                    total += parseFloat(data.budget_quater4_used);
                }

                return total;
            }

            function toNumberFormat(value) {
                value += ''; //to string

                if (value === ' ' || value === '' || value === undefined || value == 0) {

                    return '';
                } else {

                    Number.prototype.formatMoney = function (c, d, t) {
                        var n = this,
                                c = isNaN(c = Math.abs(c)) ? 2 : c,
                                d = d == undefined ? "." : d,
                                t = t == undefined ? "," : t,
                                s = n < 0 ? "-" : "",
                                i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                                j = (j = i.length) > 3 ? j % 3 : 0;
                        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
                    };
                    return (toUnNumberFormat(value)).formatMoney(2, '.', ',');
                }
            }


            function toUnNumberFormat(value) {

                if (value === ' ' || value === '' || value === undefined) {
                    return "";
                } else {

                    return parseFloat(value.replace(/[^0-9-.]/g, ''));
                }
            }

            function getExpensesList(budgetType) {

                $.get("{{_context_path}}/api/budget/budgetReview/getCatagory/", {budgetType: budgetType}, function (data) {

                    var html = '<option value="0">- เลือกประเภทรายจ่าย -</option>';
                    for (var i = 0; i < data.listCatagory.length; i++) {

                        var topic = data.listCatagory[i].typeName;
                        if (data.listCatagory[i].list.length == 0) {
                            html += '<option value="' + data.listCatagory[i].id + '">' + topic + '</option>';
                        }

                        for (var y = 0; y < data.listCatagory[i].list.length; y++) {

                            if (data.listCatagory[i].list[y].list2.length == 0) {
                                html += '<option value="' + data.listCatagory[i].list[y].id + '">' + topic + ' - ' + data.listCatagory[i].list[y].typeName + '</option>';
                            }

                            for (var z = 0; z < data.listCatagory[i].list[y].list2.length; z++) {

                                html += '<option value="' + data.listCatagory[i].list[y].list2[z].id + '">' + topic + ' - ' + data.listCatagory[i].list[y].typeName + ' - ' + data.listCatagory[i].list[y].list2[z].typeName + '</option>';
                            }
                        }
                    }

                    $("#listExpenses").html(html);
                    enablePanel();
                });
            }

            function disablePanel() {

                $("#listExpenses").attr("disabled", true);
                $("#quarter-select").attr("disabled", true);
                $("#plan-input").attr("disabled", true);
                $("#used-input").attr("disabled", true);
            }

            function enablePanel() {
                //event cancel
                $("#listExpenses").attr("disabled", false);
                $("#quarter-select").attr("disabled", false);
                $("#plan-input").attr("disabled", false);
                $("#used-input").attr("disabled", false);
            }

            function resetPanel() {
                $("#listExpenses").val(0);
                $("#quarter-select").val(0);
                $("#plan-input").val("");
                $("#used-input").val("");
            }

        });


    </script>

