{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}trackingBudget{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button class="btn btn-default back" style="display: none;"><i> ย้อนกลับ</i></button>
                </li>
            </ul>
        </div>
    </div>
    <!-- end button action on header -->
    <div class="container">

        <div id="formTracking" class="col-md-12">
            <div class="form-group">
                <label class="col-md-3 control-label text-right req">{{#i18n}}budgetType{{/i18n}} : </label>

                <div class="col-md-4">
                    <select id="expenses-select" class="form-control input-sm" required>
                        <option value="0">- เลือกประเภทงบประมาณ -</option>
                        <option value="1">เงินรายได้</option>
                        <option value="2">เงินงบประมาณแผ่นดิน</option>
                    </select>
                </div>
                <div id="warning-expenses" class="col-md-3" style="display: none"><label
                        class="control-label text-danger">
                    <i class="fa fa-exclamation"></i>
                    กรุณาเลือกประเภทงบประมาณ</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label text-right req">{{#i18n}}budgetYear{{/i18n}} : </label>

                <div class="col-md-4">
                    <select id="year-select" class="form-control input-sm" required>
                        <option value="0">- เลือกปีงบประมาณ -</option>
                    </select>
                </div>
                <div id="warning-year" class="col-md-2" style="display: none"><label
                        class="control-label text-danger">
                    <i class="fa fa-exclamation"></i> กรุณาเลือกปี</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label text-right req">{{#i18n}}quarter{{/i18n}} : </label>

                <div class="col-md-4">
                    <select id="quarter-select" class="form-control input-sm" required>
                        <option value="0">- เลือกไตรมาส -</option>
                        <option value="1">ไตรมาสที่ 1</option>
                        <option value="2">ไตรมาสที่ 2</option>
                        <option value="3">ไตรมาสที่ 3</option>
                        <option value="4">ไตรมาสที่ 4</option>
                    </select>
                </div>
                <div id="warning-quarter" class="col-md-2" style="display: none"><label
                        class="control-label text-danger">
                    <i class="fa fa-exclamation"></i>กรุณาเลือกไตรมาส</label>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-warning col-md-12" id="get-form">{{#i18n}}ok{{/i18n}}</button>
                </div>
            </div>

            <div id="trackingTable" class="col-md-12"><!-- table shown bidder information list -->
                <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                    <thead>
                    <tr>
                        <th class="text-center col-lg-8" id="title-tb">{{#i18n}}budgetType{{/i18n}}</th>
                        <th class="text-center col-lg-2">{{#i18n}}expensesPlan{{/i18n}}</th>
                        <th class="text-center col-lg-2">{{#i18n}}expensesResult{{/i18n}}</th>
                    </tr>
                    </thead>
                    <tbody id="budgetBody">
                    <tr>
                        <td colspan="4" class="text-center">ไม่พบข้อมูล</td>
                    </tr>
                    <!-- to do content-->
                    </tbody>
                </table>
            </div>
            <!-- end table shown bidder information list -->
            <div class="col-md-12 text-right" style="padding: 12px;">
                <label id="saving-div" style="display:none;"><i class="fa fa-spinner fa-spin"></i><b>
                    กำลังบันทึก...</b></label>
                <label id="status-ico" class="text-success" style="display: none"><i class="fa fa-check">
                    บันทึกเรียร้อย</i>
                </label>

                <button class="btn btn-success" id="bt-save"><i class="fa fa-save"> บันทึก</i></button>
            </div>
        </div>
    </div>
</div>
<!--container-->
</div><!--main-->
{{>footer}}

<style type="text/css">
    input {
        text-align: right;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $("#expenses-select, #year-select, #quarter-select").select2().trigger("change");


        $("#bt-save").attr("disabled", true);
        iniYear();
        function iniYear() {

            var html = '<option value="0">- เลือกปี พ.ศ. -</option>';
            $.get("{{_context_path}}/api/common/lookup/listYear", function (data) {
                for (var i = 0; i < data.lists.length; i++) {

                    html += '<option value="' + data.lists[i].year + '">' + data.lists[i].year + '</option>';
                }
                $("#year-select").html(html);
            });
        }

        $("#bt-save").click(function () {

            $("#trackingTable input").attr("disabled", true);
            $(this).attr("disabled", true);
            $("#saving-div").show(10);
            var lists = [];
            //Iterate all td's in second column
            $('#table tbody tr').each(function () {

                var valuePlan = toUnNumberFormat($(this).find("td").eq(1).find("input").val()); // if null = "" blank
                var valueUsed = toUnNumberFormat($(this).find("td").eq(2).find("input").val()); // if null = "" blank
                var quater = $(this).attr("quater");
                var year = $(this).attr("year");
                var budgetType = $("#expenses-select").val();
                var listValue = {
                    id: $(this).attr("row-id"),
                    budgetType: budgetType,
                    valuePlan: valuePlan,
                    valueUsed: valueUsed,
                    quater: quater,
                    year: year
                };
                lists.push(listValue);
            });
//            console.log(lists);
            $.post("{{_context_path}}/api/budget/budgetTracking/saveTracking", {objBudget: lists}, function (data) {
                console.log(data.status);
                if (data.status == true) {

                    $("#saving-div").hide(10);
                    $("#bt-save").attr("disabled", false);
                    $("#trackingTable input").attr("disabled", false);
                    $("#status-ico").show(10).delay(2500).fadeOut();
                } else {

                    $("#saving-div").hide(10);
                    $("#bt-save").attr("disabled", false);
                    $("#trackingTable input").attr("disabled", false);
                    alert("ไม่สามารถบันทึกข้อมูลได้");
                }
            });

        });

        $("#get-form").click(function () {

            var budgetType = $("#expenses-select").val();
            var quarter = $("#quarter-select").val();
            var year = $("#year-select").val();

            if (budgetType == 0) {
                $("#expenses-select").parent().addClass("has-error");
                $("#warning-expenses").show(10);
            } else if (year == 0) {
                $("#year-select").parent().addClass("has-error");
                $("#warning-year").show(10);
            } else if (quarter == 0) {
                $("#quarter-select").parent().addClass("has-error");
                $("#warning-quarter").show(10);

            } else if (budgetType > 0 && quarter > 0) {
                $(this).attr("disabled", true);
                var textSelected = $("#expenses-select").find('option:selected').text();
                showTableContent(textSelected, budgetType, quarter, year);
            }
        });

        $("#expenses-select").change(function () {
            $("#expenses-select").parent().removeClass("has-error")
            $("#warning-expenses").hide(10);
        });
        $("#quarter-select").change(function () {
            $("#quarter-select").parent().removeClass("has-error")
            $("#warning-quarter").hide(10);
        });
        $("#year-select").change(function () {
            $("#year-select").parent().removeClass("has-error")
            $("#warning-year").hide(10);
        });

        $(document).on("blur", ".tinput", function (e) {
            e.preventDefault();
            $(this).val(toNumberFormat($(this).val()));
        });

        function showTableContent(budgetName, budgetType, quater, year) {
            var html = '';

            $.get("{{_context_path}}/api/budget/budgetTracking/getInfoTracking", {
                budgetType: budgetType,
                quater: quater,
                year: year
            }, function (data) {

                if (data.listTracking != null && data.listTracking.length > 0) {

                    for (var i = 0; i < data.listTracking.length; i++) {
                        //lvl1
                        html += checkShowLv1(data.listTracking[i], i, quater, year);
                        for (var y = 0; y < data.listTracking[i].list.length; y++) {
                            //lvl2
                            html += checkShowLv2(data.listTracking[i].list[y], i, y, quater, year);
                            for (var z = 0; z < data.listTracking[i].list[y].list2.length; z++) {
                                //lvl3
                                html += checkShowLv3(data.listTracking[i].list[y].list2[z], i, y, z, quater, year);
                                for (var x = 0; x < data.listTracking[i].list[y].list2[z].list3.length; x++) {
                                    //lvl4
                                    var obj = data.listTracking[i].list[y].list2[z].list3[x];
                                    html += '<tr row-id="' + obj.id + '" quater="' + quater + '" year="' + year + '"><td style="padding-left: 6em ;vertical-align:middle">' + (i + 1) + '.' + (y + 1) + '.' + (z + 1) + '.' + (x + 1) + ' ' + obj.type_name + '</td>';
                                    html += '<td class="text-right"><input pattern="[0-9]*"  class="form-control input-sm tinput" value="' + toNumberFormat(obj.budget_quater_plan) + '"></td>';
                                    html += '<td class="text-right"><input pattern="[0-9]*"  class="form-control input-sm tinput" value="' + toNumberFormat(obj.budget_quater_used) + '"></td></tr>';
                                }//end lvl4
                            }//end lvl3
                        }//end lvl2
                    }//end lvl1
                } else {

                    html += '<tr>';
                    html += '  <td colspan="3" class="text-center">ไม่พบข้อมูล</td>';
                    html += '</tr>';
                }
                $("#budgetBody").html(html);
                $("#title-tb").html(budgetName);
                $("#bt-save").attr("disabled", false);
                $("#get-form").attr("disabled", false);
            });
        }

        function checkShowLv1(obj, i, quater, year) {

            var html = '';
            if (obj.list.length > 0) { //have lvl2

                html += '<tr row-id="' + obj.id + '" quater="' + quater + '" year="' + year + '"><td style="vertical-align:middle"><b>' + (i + 1) + '. ' + obj.type_name + '</b></td>';
                html += '<td class="text-center" colspan="3"></td>';
            }
            else {
                html += '<tr row-id="' + obj.id + '" quater="' + quater + '" year="' + year + '"><td style="vertical-align:middle"><b>' + (i + 1) + '. ' + obj.type_name + '</b></td>';
                html += '<td class="text-right"><input pattern="[0-9]*"  class="form-control input-sm tinput" value="' + toNumberFormat(obj.budget_quater_plan) + '"></td>';
                html += '<td class="text-right"><input pattern="[0-9]*"  class="form-control input-sm tinput" value="' + toNumberFormat(obj.budget_quater_used) + '"></td></tr>';
            }

            return html;
        }

        function checkShowLv2(obj, i, y, quater, year) {

            var html = '';

            if (obj.list2.length > 0) { //have lvl3

                html += '<tr row-id="' + obj.id + '" quater="' + quater + '" year="' + year + '"><td style="padding-left: 2em ;vertical-align:middle"><b>' + (i + 1) + '.' + (y + 1) + ' ' + obj.type_name + '</b></td>';
                html += '<td class="text-center" colspan="3"></td>';
            }
            else {
                html += '<tr row-id="' + obj.id + '" quater="' + quater + '" year="' + year + '"><td style="padding-left: 2em ;vertical-align:middle">' + (i + 1) + '.' + (y + 1) + ' ' + obj.type_name + '</td>';
                html += '<td class="text-right"><input pattern="[0-9]*"  class="form-control input-sm tinput" value="' + toNumberFormat(obj.budget_quater_plan) + '"></td>';
                html += '<td class="text-right"><input pattern="[0-9]*"  class="form-control input-sm tinput" value="' + toNumberFormat(obj.budget_quater_used) + '"></td></tr>';
            }

            return html;
        }

        function checkShowLv3(obj, i, y, z, quater, year) {

            var html = '';

            if (obj.list3.length > 0) { //have lvl4

                html += '<tr row-id="' + obj.id + '" quater="' + quater + '" year="' + year + '"><td style="padding-left: 4em ;vertical-align:middle"><b>' + (i + 1) + '.' + (y + 1) + '.' + (z + 1) + '' + obj.type_name + '</b></td>';
                html += '<td class="text-center" colspan="3"></td>';
            }
            else {
                html += '<tr row-id="' + obj.id + '" quater="' + quater + '" year="' + year + '"><td style="padding-left: 4em ;vertical-align:middle">' + (i + 1) + '.' + (y + 1) + '.' + (z + 1) + ' ' + obj.type_name + '</td>';
                html += '<td class="text-right"><input pattern="[0-9]*"  class="form-control input-sm tinput" value="' + toNumberFormat(obj.budget_quater_plan) + '"></td>';
                html += '<td class="text-right"><input pattern="[0-9]*"  class="form-control input-sm tinput" value="' + toNumberFormat(obj.budget_quater_used) + '"></td></tr>';
            }

            return html;
        }

        function toNumberFormat(value) {

            if (value === ' ' || value === '' || value === undefined) {

                return '';
            } else {

                Number.prototype.formatMoney = function (c, d, t) {
                    var n = this,
                            c = isNaN(c = Math.abs(c)) ? 2 : c,
                            d = d == undefined ? "." : d,
                            t = t == undefined ? "," : t,
                            s = n < 0 ? "-" : "",
                            i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                            j = (j = i.length) > 3 ? j % 3 : 0;
                    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
                };

                return (toUnNumberFormat(value)).formatMoney(2, '.', ',');
            }
        }


        function toUnNumberFormat(value) {
            if (value === ' ' || value === '') {
                return "";
            } else if (value === undefined) {
                return "head"; //หัวข้อ
            }
            else {
                return parseFloat(value.replace(/[^0-9-.]/g, ''));
            }
        }


    });


</script>

