{{> header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li class="active">{{#i18n}}bgi.bginfo{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}bgi.departmentService{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>
</div>
<hr class="tall dashboard">
<div class="sort-source-wrapper">
    <!-- button action on header -->
    <div class="container">
        <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
            <li class="active">
                <button class="btn btn-default" id="addCampus" get-form="main">
                    <i class="fa fa-plus"></i> เพิ่มข้อมูลวิทยาเขต</i>
                </button>
                <button class="btn btn-default" id="back" style="display: none;" get-form="main">
                    <i class="fa fa-angle-double-left"> ย้อนกลับ</i>
                </button>
            </li>
        </ul>
    </div>
</div>
<!-- end button action on header -->
<div class="container">
    <!--<div class="tabs">-->
    <!--<ul id="tabMenu" class="nav nav-tabs">-->
    <!--&lt;!&ndash; jqery inner html&ndash;&gt;-->
    <!--</ul>-->
    <!--<div id="tabContent" class="tab-content">-->
    <!--&lt;!&ndash;end tab content&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <div id="showTable" class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-4 text-bold">
                    วิทยาเขต :
                </div>
                <div class="col-md-8">
                    <select id="campusSelect" class="form-control">
                    </select>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-success" onclick="addModal()"><i class="fa fa-plus"></i> เพิ่มข้อมูล</button>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 15px;">
            <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                <thead>
                <tr>
                    <th class="col-md-2 text-center">รหัสหน่วยงาน</th>
                    <th class="col-md-4 text-center">หน่วยงาน</th>
                    <th class="col-md-3 text-center">ประเภทส่วนงาน</th>
                    <th class="col-md-1 text-center">สถานะ</th>
                    <th class="col-md-2 text-center">เครื่องมือ</th>
                </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
    </div>
    <div id="showAddCampus" style="display: none;">
        <div class="col-md-12">
            <div class="col-md-12 text-right">
                <button class="btn btn-success" onclick="addCampus()"><i class="fa fa-plus"></i> เพิ่มข้อมูล</button>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 15px;">
            <table id="tableCampus" class="table table-bordered table-striped table-condensed mb-none">
                <thead>
                <tr>
                    <th class="col-md-4 text-center">ชื่อวิทยาเขต</th>
                    <th class="col-md-3 text-center">สถานะ</th>
                    <th class="col-md-2 text-center">เครื่องมือ</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-plus-circle"></i>
                        <span id="titleModal">เพิ่ม</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="formAddDept" onsubmit="return false;">
                        <div class="form-group">
                            <label class="col-md-3 control-label text-right">วิทยาเขต: </label>

                            <div class="col-md-9">
                                <select id="modalCampus" class="form-control input-sm" required>
                                    <option value="">- เลือกวิทยาเขต -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-right">หน่วยงานหลัก: </label>

                            <div class="col-md-9">
                                <select id="modalDeptMain" class="form-control input-sm" required>
                                    <option value="0">- มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-right">ประเภทส่วนงาน: </label>

                            <div class="col-md-9">
                                <select id="modalActType" class="form-control input-sm" required>
                                    <option value="">- ประเภทส่วนงาน -</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-right">รหัสหน่วยงาน: </label>

                            <div class="col-md-9"><input type="number" class="form-control input-sm" id="deptId"
                                                         required="" placeholder="กรุณาใส่รหัสหน่วยงาน"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label text-right">ชื่อหน่วยงาน: </label>

                            <div class="col-md-9"><input id="deptName" class="form-control input-sm" required
                                                         placeholder="กรุณาใส่ชื่อหน่วยงาน"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div id="modalStatus" class="text-center"></div>
                    <button data-dismiss="modal" class="btn btn-default" type="button">ยกเลิก</button>
                    <button class="btn btn-success save" type="button">บันทึก</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-plus-circle"></i>
                        <span id="titleModalCampus">เพิ่ม</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="formAddCampus" onsubmit="return false;">
                        <div class="form-group">
                            <label class="col-md-3 control-label text-right">ชื่อวิทยาเขต: </label>

                            <div class="col-md-9">
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-sm" id="campusName"
                                           required="" placeholder="กรุณาใส่ชื่อวิทยาเขต">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div id="modal2Status" class="text-center"></div>
                    <button data-dismiss="modal" class="btn btn-default" type="button">ยกเลิก</button>
                    <button class="btn btn-success save" type="button">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  container  -->
{{> footer}}
<script src="{{_context_path}}/apps/bginfo/views/Department/js/manage.js"></script>
